.calc
  width: 150px
  height: 40px
  color: whitesmoke
  background-color: #82d2d0
  border: 0.5px rgba(0, 0, 255, 0.22) solid
  font-size: 21px


.buy-tel
  border: none
  box-shadow: 2px 1px 8px black
  background-color: #FCB600
  width: 150px
  height: 40px
  font-size: 25px
  img
    margin-left: 4px
    margin-top: 2px
    min-width: 30px!important
    height: 30px!important
    margin-right: 10px