#dropdown
  .disable
    color: darkkhaki
  display: none
  z-index: 4
  position: absolute
  background: rgba(255, 255, 255, 0.81)
  flex-wrap: wrap
  flex-direction: row
  width: 100%
  padding-bottom: 15px
  ul
    margin: 10px 10% 0 0
    li
      span
        font: 18px !important
        font-weight: 900 !important
        font-family: Geom , serif !important
        position: relative
        left: 20px
    li:hover
      color: #FDB13E

@media ( max-width : 1242px )
  #dropdown
    ul
      margin: 10px 9% 0 0 !important
@media ( max-width : 1065px )
  #dropdown
    ul
      margin: 10px 3% 0 0 !important
      li
        span
          font-size: 16px !important
@media ( min-width : 1700px )
  #dropdown
    justify-content: center
    ul
      margin: 10px 3% 0 0 !important
      li
        span
          font-size: 22px!important
    #lastUL
      margin: 10px 4% 0 0 !important