.soc-ico
  display: flex
  margin: -45px -30px 0 -7px !important
.lowscreen
  display: none
.brd
  margin: 0 0 10px 0!important
  padding: 5px
  border: 2px solid  #FDB13E
#footer
  position: relative
  bottom: 0
  color: white
  background: black
  width: 100vw
  min-height: 470px
  #ftr-frst
    font-weight: 900
    padding-left: 10px
    display: flex
    div
      margin: 50px 6% 0 0
    #soc
      display: flex
      flex-flow: column
      margin-top: 45px
      span
        padding-top: 10px
        padding-bottom: 20px
        width: 294px
      h1
        text-shadow: white 0.5px -0.5px 0.5px
        margin: 0
    #faq
      h4
        margin-top: 0
        text-shadow: white 0px -1px 1px
        margin-left: 2.3em
        width: 270px
      ul
        margin-top: -15px
        list-style: none
        li
          text-decoration: underline #FDB13E

    .phone
      margin-left: -3%!important
      white-space: nowrap
      phone
        display: inline
        color: #FDB13E
        font-size: 21px
    #buttons
      z-index: 2
      margin-top: 60px!important
      // padding-top: 40px
      button
        margin-top: -10px
        border-width: 1px
        background: black
        color: #FDB13E
        border-color: #FDB13E
        width: 250px
        height: 50px
        font: 12px bold
        text-transform: uppercase

  #ftr-scnd
    font-weight: 900
    padding-left: 10px
    display: flex
    div
      margin: 25px 18% 0 0
    #map
      margin-top: -55px
      width: 200px
      height: 300px
    #info
      width: 400px
@media ( min-width : 1759px )
  #footer
    #info
      width: 600px!important
    #buttons
      button
        font-size: 24px!important
        height: 80px!important
        width: 350px!important
    span, email,  adr, city, li
      font-size: 25px
    h4, phone
      font-size: 30px!important
    h4
      width: 501px!important
    #faq
      margin-right: 40px!important

@media ( min-width : 1500px )
  #footer
    #buttons
      button
        font-size: 22px!important
        height: 70px!important
        width: 320px!important
    email,  adr, city, li
      font-size: 19px
    span
      font-size: 17px!important
    h4, phone
      font-size: 23px!important
    h4
      width: 450px!important
      margin-left: 1.2em!important
    #faq
      margin-right: 40px!important

@media ( max-width : 1489px )
  #footer
    #ftr-frst
      #buttons
        margin-top: 58px!important
@media ( max-width : 1325px )
  #footer
    .soc-ico
      margin-top: -30px!important
      img
        height: 60px!important
        width: 60px!important
    #ftr-frst
      #buttons
        margin-top: 47px!important
  phone
    display: inline !important
    font-size: 20px!important
  #footer
    font-weight: 700!important
  #ftr-frst
    div
      margin: 40px 5% 0 0!important
    .phone
      margin-right: 0!important
@media ( max-width : 1255px )
  #footer
    #ftr-frst
      .phone
        margin-left: -6%!important
@media ( max-width : 1152px )
  #ftr-frst
    div
      margin: 40px 3% 0 0!important
    .brd
      margin: 0 0 10px 0!important

@media ( max-width : 1069px )
  #footer
    #ftr-frst
      .phone
        margin-left: -10vw!important
  #ftr-frst
    div
      margin: 40px 2% 0 0!important
    .brd
      margin: 0 0 10px 0!important
    h1
      font-size: 25px
    button
      width: 220px!important
@media ( max-width : 976px )
  #ftr-scnd
    div
      margin: 0 0.7% 0 0!important
  #ftr-frst
    div
      margin: 40px 1% 0 0!important
    .brd
      margin: 0 0 10px 0!important
    h1
      font-size: 25px
    button
      width: 220px!important
    .phone
      margin: 0 0 0 0
@media ( max-width : 944px )
  #footer
    #ftr-frst
      .phone
        margin-left: 19.5vw!important

  #map
    display: none
  #soc
    display: none!important
  .lowscreen
    display: block
  #ftr-frst
   #buttons
     display: none
  #footer
    #ftr-scnd
      .lowscreen
        margin-left: 5%!important
@media ( max-width : 778px )
  #ftr-scnd
    #info
      ul
        padding-left: 20px!important
    #map
      img
        width: 200px !important
        height: 100px !important
  #ftr-frst
    #faq
      h4
        margin-left: 1.2em!important
    ul
      padding-left: 20px !important
  phone
    font-size: 17px !important
  email
    font-size: 14px !important
  adr
    font-size: 14px !important
@media ( max-width : 600px )
  #footer
    display: none