.soc-ico
  display: flex
  margin: -20px -30px 0 0 !important
.lowscreen
  display: none
#footer
  position: relative
  bottom: 0
  color: white
  background: black
  width: 100%
  min-height: 340px
  #ftr-frst
    padding-left: 10px
    display: flex
    div
      margin: 50px 9% 0 0
    #soc
      display: flex
      flex-flow: column
      margin-top: 30px
      span
        padding-top: 10px
        padding-bottom: 20px
      h1
        text-shadow: white 0.5px -0.5px 0.5px
        margin: 0
    #faq
      h4
        text-shadow: white 0px -1px 1px
        margin-left: 2.3em
      ul
        list-style: none
        li
          text-decoration: underline #FDB13E

    .phone
      white-space: nowrap
      phone
        display: inline
        color: #FDB13E
        font-size: 21px
    #buttons
      // padding-top: 40px
      button
        border-width: 1px
        background: black
        color: #FDB13E
        border-color: #FDB13E
        width: 250px
        height: 50px
        font: 12px bold
        text-transform: uppercase

  #ftr-scnd
    padding-left: 10px
    display: flex
    div
      margin: 14px 10% 0 0
    #map
      margin-top: -80px
      width: 200px
      height: 300px
    #info
      width: 400px


@media ( max-width : 1325px )
  phone
    display: inline !important
    font-size: 22px!important
  #ftr-frst
    div
      margin: 0 7% 0 0!important
@media ( max-width : 1152px )
  #ftr-frst
    div
      margin: 0 5% 0 0!important
@media ( max-width : 1069px )
  #ftr-frst
    div
      margin: 0 3% 0 0!important
    h1
      font-size: 25px
    button
      width: 220px!important
@media ( max-width : 936px )
  #ftr-scnd
    div
     // margin: 0 2% 0 0!important
  #ftr-frst
    div
      margin: 0 2% 0 0!important
    h1
      font-size: 25px
    button
      width: 220px!important
    .phone
      margin: 0 0 0 0
@media ( max-width : 904px )
  #map
    display: none
  #soc
    display: none
  .lowscreen
    display: block
  #ftr-frst
   #buttons
     display: none
@media ( max-width : 778px )
  #ftr-scnd
    #map
      img
        width: 200px !important
        height: 100px !important
  #ftr-frst
    #faq
      ul
        h4
          width: 170px !important
    ul
      padding-left: 20px !important
  phone
    font-size: 17px !important
  email
    font-size: 14px !important
  adr
    font-size: 14px !important
@media ( min-width : 1500px )
  #footer
    #buttons
      button
        font-size: 22px!important
        height: 70px!important
        width: 320px!important
    span, email,  adr, city, li
      font-size: 19px
    h4, phone
      font-size: 23px!important
    h4
      width: 450px!important
      margin-left: 1.2em!important
    #faq
      margin-right: 40px!important
@media ( min-width : 1700px )
  #footer
    #buttons
      button
        font-size: 24px!important
        height: 80px!important
        width: 350px!important
    span, email,  adr, city, li
      font-size: 20px
    h4, phone
      font-size: 25px!important
    h4
      width: 450px!important
    #faq
      margin-right: 40px!important