@font-face
  font-family: "Geom"
  src: local('Geom'), url("../font/geom.otf") format("truetype")

body
  max-width: 100%
  width: 100vw
  margin: 0
  font-family: "Geom", serif !important

#header
  color: white
  background: black
  width: 100%
  min-height: 150px
  #first
    display: flex
    flex-wrap: wrap
    flex-direction: row
    max-width: 100%
    div
      margin: 0 4% 0 0
      padding-top: 40px
      width: 20%
      div
        padding-top: 0
        width: 100%
    img
      float: left
      width: 20px
      height: 20px
    bold
      font: 15pt bold
    mini
      font-size: 10pt

  #second
    display: table
    width: 100%
    max-width: 100%
    ul
      text-align: center
      max-width: 100vw
      padding-left: 4px
      width: 100vw
      display: inline-flex
      list-style: none
      text-transform: uppercase
      li
        -webkit-user-select: none /* Safari */
        -moz-user-select: none /* Firefox */
        -ms-user-select: none /* IE10+/Edge */
        user-select: none /* Standard */
        margin: 0 3% 0 0
        img
          margin-left: 10px
          width: 20px
          height: 20px
      li:hover
        text-shadow: 1px 0px 3px whitesmoke
#logo-warp
  padding-top: 10px!important
  left: 15px
  position: relative
#logo
  background-image: url("../../img/Лого 100px.png")
  height: 100px !important
  width: 100px !important
  border: none
  background-position: center

  bold
    text-shadow: 1px -2px 4px  white
    margin-left: 10px

  mini
    text-shadow: 0px -1px 2px  white
    margin-left: 10px

#city

#phone
  bold
    margin-left: 0
  mini
#search
  padding-top: 30px
  width: 26%!important
  height: 40px
  margin-right: 0!important
  div
    width: 100% !important
    background: white
    border-radius: 30px
    position: relative
    display: flex
  img
    padding-top: 1px
    padding-left: 3px
    width: 16px !important
    height: 16px !important
  input
    width: 100%
    outline: none
    border: none
    background: none
    height: 20px

@media ( max-width : 846px )
  #first
    #logo-warp
      margin: 0 0 0 0 !important
  #second
    ul
      li
        font-size: 13px !important
        margin: 0 15px 0 0  !important
        width: 87px
      #contact
        margin: 0 0 0 0 !important
      #burger-li
        width: 30px !important
      #large-word
        width: 155px!important
@media ( max-width : 616px )
  #first
    #logo-warp
      margin-top: 10px !important
      width: 95px !important
      div
        margin: 0 10px 0 !important
        height: 65px !important
        width: 65px !important
        background-size: 65px 65px
@media ( max-width : 716px )
  #second
    ul
      li
        font-size: 11px !important
        margin: 0 -8px 0 0  !important
      #large-word
        width: 164px !important
      #uslugi
        width: 56px!important

@media ( max-width : 450px )
  #contact
    display: none
  .soc-ico
    display: none
  h1
    font-size: 25px !important
