.title .buttonImg, #title .buttonImg {
  box-shadow: 2px 1px 8px black; }

.title, #title, .flexbuts {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .title h1, .title h2, #title h1, #title h2, .flexbuts h1, .flexbuts h2 {
    font-family: Geom !important;
    font-weight: 400; }
  .title .calc, #title .calc, .flexbuts .calc {
    background: #72d7cf;
    width: 15% !important;
    min-width: 170px;
    min-height: 20px;
    height: 4vw !important;
    max-width: 210px;
    max-height: 50px; }
  .title .buttonImg, #title .buttonImg, .flexbuts .buttonImg {
    width: 15% !important;
    height: 4vw !important;
    max-width: 220px;
    max-height: 50px; }

html {
  min-height: 100%;
  position: relative; }

body {
  height: 100%; }

#full-page {
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 8;
  background-color: rgba(73, 73, 73, 0.51); }
  #full-page #smth .buttonImg, #full-page #smth .calc, #full-page .smth .buttonImg, #full-page .smth .calc, #full-page .ntSmth .buttonImg, #full-page .ntSmth .calc {
    min-width: 140px;
    min-height: 35px; }

@-moz-document url-prefix() {
  #full-page #smth .flexbuts .buttonImg, #full-page .smth .flexbuts .buttonImg, #full-page .ntSmth .flexbuts .buttonImg {
    max-height: 100% !important; } }
  #full-page #smth, #full-page .smth {
    margin: 20px 15% 40px;
    display: flex; }
    #full-page #smth .leftflex, #full-page .smth .leftflex {
      display: flex;
      align-items: center;
      flex-direction: column; }
    #full-page #smth .flexbuts, #full-page .smth .flexbuts {
      width: 100%;
      display: flex;
      justify-content: space-around; }
    #full-page #smth li, #full-page .smth li {
      list-style-position: outside;
      margin-left: 1em;
      margin-top: 5px;
      list-style-type: circle; }
    #full-page #smth .smthImg, #full-page .smth .smthImg {
      min-width: 400px;
      height: 500px; }
    #full-page #smth div, #full-page .smth div {
      margin-left: 15px; }
      #full-page #smth div ul, #full-page .smth div ul {
        padding-left: 30px;
        margin-top: 0px !important; }
      #full-page #smth div p, #full-page .smth div p {
        margin-bottom: 0px;
        font-weight: 300;
        margin-top: 0;
        padding-left: 30px;
        font-size: 16px; }
      #full-page #smth div div, #full-page .smth div div {
        display: flex;
        justify-content: center; }
  #full-page .ntSmth .calc {
    margin-top: 7% !important;
    width: 25% !important;
    height: 3vw !important; }
  #full-page .ntSmth .buttonImg {
    margin-top: 7%;
    max-width: 25% !important;
    max-height: 25% !important; }
  #full-page #flex-info li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  #full-page .smth {
    margin: 20px 14% 40px;
    display: flex; }
    #full-page .smth li {
      list-style-position: outside;
      margin-left: 1em;
      margin-top: 5px;
      list-style-type: circle; }
    #full-page .smth .calc, #full-page .smth .buttonImg {
      width: 25% !important;
      height: 25% !important;
      min-height: 58px !important; }
    #full-page .smth .smthImg {
      min-width: 400px;
      height: 400px; }
    #full-page .smth div {
      margin-left: 15px; }
      #full-page .smth div ul {
        margin-top: 0px !important; }
      #full-page .smth div p {
        margin-bottom: 0px;
        font-weight: 300;
        padding-left: 30px;
        padding-right: 40px;
        font-size: 16px; }
      #full-page .smth div div {
        display: flex;
        justify-content: center; }
  #full-page .smth .smthImg, #full-page #smth .smthImg, #full-page .ntSmth .smthImg {
    margin-top: 40px;
    position: relative;
    bottom: 50px; }
  #full-page .smth .imgSwitcher, #full-page #smth .imgSwitcher, #full-page .ntSmth .imgSwitcher {
    max-height: 285px; }
  #full-page .smth .down-layout, #full-page .smth .mid-layout, #full-page #smth .down-layout, #full-page #smth .mid-layout, #full-page .ntSmth .down-layout, #full-page .ntSmth .mid-layout {
    position: relative;
    display: flex;
    margin-left: 0; }
  #full-page .smth .down-layout, #full-page #smth .down-layout, #full-page .ntSmth .down-layout {
    justify-content: center;
    bottom: -94%; }
    #full-page .smth .down-layout img, #full-page #smth .down-layout img, #full-page .ntSmth .down-layout img {
      margin-left: 7px; }
  #full-page .smth .mid-layout, #full-page #smth .mid-layout, #full-page .ntSmth .mid-layout {
    bottom: -48%;
    left: -45%; }
  #full-page .smth .dot, #full-page #smth .dot, #full-page .ntSmth .dot {
    height: 10px;
    width: 10px; }
  #full-page .smth .prev, #full-page .smth .next, #full-page #smth .prev, #full-page #smth .next, #full-page .ntSmth .prev, #full-page .ntSmth .next {
    z-index: 1;
    height: 40px;
    width: 20px;
    position: relative; }
  #full-page .smth .prev, #full-page #smth .prev, #full-page .ntSmth .prev {
    top: 40%;
    transform: rotate(180deg); }
  #full-page .smth .next, #full-page #smth .next, #full-page .ntSmth .next {
    left: 90%;
    top: 40%; }
  @media (max-width: 1200px) {
    #full-page #flex-info {
      flex-flow: column-reverse;
      justify-content: center;
      align-content: center;
      align-items: center; }
      #full-page #flex-info #info {
        margin-top: 30px; }
      #full-page #flex-info .mid-layout {
        bottom: -13px !important; }
      #full-page #flex-info .buttonImg {
        min-height: auto !important;
        height: 4vw !important; }
      #full-page #flex-info .imgSwitcher {
        margin-top: 0 !important;
        margin-bottom: 0 !important; }
      #full-page #flex-info .down-layout {
        top: 321px !important; }
      #full-page #flex-info .calc, #full-page #flex-info .buttonImg {
        min-width: 14vw !important;
        font-size: 16px !important; }
    #full-page #smth, #full-page .smth, #full-page .ntSmth {
      flex-flow: column;
      justify-content: center;
      align-content: center;
      align-items: center; }
      #full-page #smth .imgSwitcher, #full-page .smth .imgSwitcher, #full-page .ntSmth .imgSwitcher {
        margin-top: 60px !important;
        height: auto;
        width: auto;
        margin-bottom: 50px; }
        #full-page #smth .imgSwitcher .down-layout, #full-page .smth .imgSwitcher .down-layout, #full-page .ntSmth .imgSwitcher .down-layout {
          position: relative !important;
          bottom: -90% !important; }
        #full-page #smth .imgSwitcher .next, #full-page #smth .imgSwitcher .prev, #full-page .smth .imgSwitcher .next, #full-page .smth .imgSwitcher .prev, #full-page .ntSmth .imgSwitcher .next, #full-page .ntSmth .imgSwitcher .prev {
          top: 150px !important; }
        #full-page #smth .imgSwitcher .down-layout, #full-page .smth .imgSwitcher .down-layout, #full-page .ntSmth .imgSwitcher .down-layout {
          top: 270px !important; }
        #full-page #smth .imgSwitcher .buttonImg, #full-page #smth .imgSwitcher .calc, #full-page .smth .imgSwitcher .buttonImg, #full-page .smth .imgSwitcher .calc, #full-page .ntSmth .imgSwitcher .buttonImg, #full-page .ntSmth .imgSwitcher .calc {
          min-height: 1vw !important;
          min-width: 2vw !important; } }
  @media (min-width: 1400px) {
    #full-page #smth div .buttonImg, #full-page #smth div .calc, #full-page .smth div .buttonImg, #full-page .smth div .calc {
      max-width: 210px !important;
      max-height: 50px !important; } }
  @media (min-width: 1700px) {
    #full-page #smth p, #full-page #smth li, #full-page #smth span, #full-page .smth p, #full-page .smth li, #full-page .smth span {
      font-size: 20px !important; }
    #full-page #smth h3, #full-page .smth h3 {
      font-size: 30px !important; }
    #full-page .imgSwitcher {
      max-height: 450px !important; }
    #full-page .down-layout {
      justify-content: center;
      bottom: -93%; } }
  #full-page h3 {
    margin-top: 30px;
    position: relative;
    left: 0;
    margin-left: 30px;
    margin-right: 40%;
    color: #84c2b4; }
  #full-page #message {
    position: absolute;
    z-index: 1;
    display: none;
    width: 350px;
    height: auto;
    background-color: white;
    border: 1px black;
    box-shadow: 1px 1px 4px black;
    border-radius: 2px; }
    #full-page #message #messageText {
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding: 10px; }
    #full-page #message #close {
      left: 339px;
      top: -12px;
      position: absolute;
      width: 20px;
      height: 20px; }
  #full-page #window {
    display: none;
    overflow: initial;
    margin-top: 50px;
    background-color: #ffffff;
    min-width: 700px;
    width: 60%;
    min-height: 90%;
    box-shadow: 0px 0px 3px black; }
    #full-page #window .price-info {
      display: flex; }
      #full-page #window .price-info .price-cont {
        position: relative;
        margin-left: 30%;
        height: 150px;
        width: 300px; }
      #full-page #window .price-info price {
        font: 25px bold Geom;
        width: 200px;
        position: relative;
        top: 80%; }
    #full-page #window p {
      margin-left: 0 !important;
      margin-top: -4px;
      font-size: 11px !important; }
    #full-page #window .smth {
      margin-top: 0px !important;
      margin-bottom: 0px !important; }
      #full-page #window .smth img {
        margin-top: 0 !important;
        margin-left: 0 !important;
        height: 150px !important;
        min-width: 200px !important; }
    #full-page #window ul {
      list-style: none; }
      #full-page #window ul li {
        font-size: 12px; }
    #full-page #window #photos {
      display: flex;
      flex-flow: row;
      justify-content: center; }
      #full-page #window #photos img {
        margin: 0 10px 0;
        width: 130px;
        height: 150px; }
  #full-page .sell {
    box-shadow: 1px 0px 4px black;
    border: 1px black solid;
    display: none;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: #ffb800; }
    #full-page .sell #close {
      position: relative;
      top: -147px;
      z-index: 2;
      height: 15px;
      width: 15px; }
    #full-page .sell #disImg {
      position: absolute;
      width: 350px;
      height: 350px; }
    #full-page .sell white, #full-page .sell text {
      margin-top: 15px; }
    #full-page .sell white {
      color: white;
      text-shadow: 1px 1px 1px black; }
      #full-page .sell white bold {
        font: 20px bold; }

@media (min-width: 1300px) {
  .sell {
    transform: scale(1.3); }
  #imgFP #close {
    top: -168px !important;
    left: -0%; } }

#order {
  width: 500px !important;
  height: 270px !important;
  display: none;
  flex-direction: column;
  background-color: #fcfefe !important; }
  #order #close {
    height: 20px !important;
    width: 20px !important;
    left: 49.7%;
    top: -268px !important; }
  #order .jc {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; }
  #order textarea {
    padding-top: 10px;
    font-size: 9px;
    min-height: 66px;
    margin: 0px 20px 5px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 2px;
    border: 0.5px gray solid; }
  #order .input-file-trigger {
    display: block;
    padding: 7px;
    background: whitesmoke;
    border: 0.5px gray solid;
    border-radius: 2px;
    color: black;
    font-size: 9px;
    transition: all .4s;
    cursor: pointer; }
  #order input::placeholder, #order textarea::placeholder {
    font-family: Geom;
    font-size: 9px; }
  #order .input-file:hover + .input-file-trigger, #order .input-file:focus + .input-file-trigger, #order .input-file-trigger:hover, #order .input-file-trigger:focus {
    background: whitesmoke;
    color: #82d2d0; }
  #order .input-file {
    position: absolute;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer; }
  #order .checkbox p {
    font-size: 8px;
    position: absolute;
    left: 137px;
    top: 165px; }
  #order .checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 168px;
    left: 103px;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(131, 131, 131, 0.4); }
    #order .checkbox label:after {
      content: '';
      width: 17px;
      height: 8px;
      position: absolute;
      top: 0px;
      left: 4px;
      border: 3px solid black;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    #order .checkbox label:hover::after {
      opacity: 0; }
  #order .checkbox input[type=checkbox] {
    visibility: hidden; }
    #order .checkbox input[type=checkbox]:checked + label:after {
      opacity: 1; }
  #order .butImg {
    height: 30px;
    width: 125px; }
  #order h4 {
    font-family: GeomB;
    text-align: initial;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px; }
  #order .flexput {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #order .flexput input {
      height: 25px;
      text-align: center;
      width: 145px;
      border-radius: 2px;
      border: 0.5px gray solid;
      font-size: 8px; }

@media (max-width: 1050px) {
  #order {
    transform: scale(1.3) !important; } }

@media (max-width: 1699px) and (min-width: 1050px) {
  #order {
    transform: scale(2); } }

@media (min-width: 1700px) {
  .sell {
    transform: scale(2); }
  #sell #close {
    left: 0% !important;
    top: -145px; } }

@-moz-document url-prefix() {
  #full-page #sell #close {
    left: -2% !important;
    top: -148px !important; }
  #order .checkbox label {
    top: 188px !important; }
  #order .checkbox p {
    top: 184px !important; }
  #order #close {
    left: 50% !important;
    top: -251px !important; } }

/*# sourceMappingURL=slider.css.map */