#smth {
  margin-right: 14%;
  margin-left: 14%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex; }
  #smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  #smth .smthImg {
    min-width: 400px;
    height: 500px; }
  #smth div {
    margin-left: 15px; }
    #smth div ul {
      margin-top: 0px !important; }
    #smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      margin-top: 0;
      padding-left: 30px;
      padding-right: 40px;
      font-size: 20px; }
    #smth div div {
      display: flex;
      justify-content: center; }
    #smth div .calc {
      margin-top: 5% !important;
      width: 25% !important;
      height: 3vw !important; }
    #smth div .buttonImg {
      margin-top: 5%;
      max-width: 25% !important;
      max-height: 25% !important;
      box-shadow: 2px 1px 8px black; }

.ntSmth .calc {
  margin-top: 7% !important;
  width: 25% !important;
  height: 3vw !important; }

.ntSmth .buttonImg {
  margin-top: 7%;
  max-width: 25% !important;
  max-height: 25% !important;
  box-shadow: 2px 1px 8px black; }

#flex-info li {
  list-style-position: outside;
  margin-left: 1em;
  margin-top: 5px;
  list-style-type: circle; }

.smth {
  margin: 20px 14% 40px;
  display: flex; }
  .smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  .smth .calc {
    margin-top: 5% !important;
    width: 25% !important;
    height: 3vw !important; }
  .smth .buttonImg {
    margin-top: 5%;
    width: 25% !important;
    height: 25% !important;
    min-height: 50px !important;
    box-shadow: 2px 1px 8px black; }
  .smth .smthImg {
    min-width: 400px;
    height: 400px; }
  .smth div {
    margin-left: 15px; }
    .smth div ul {
      margin-top: 0px !important; }
    .smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 40px;
      font-size: 20px; }
    .smth div div {
      display: flex;
      justify-content: center; }

.smth .smthImg, #smth .smthImg, .ntSmth .smthImg {
  margin-top: 40px;
  position: relative;
  bottom: 50px; }

.smth .imgSwitcher, #smth .imgSwitcher, .ntSmth .imgSwitcher {
  max-height: 285px; }

.smth .down-layout, .smth .mid-layout, #smth .down-layout, #smth .mid-layout, .ntSmth .down-layout, .ntSmth .mid-layout {
  position: relative;
  display: flex;
  margin-left: 0; }

.smth .down-layout, #smth .down-layout, .ntSmth .down-layout {
  justify-content: center;
  bottom: -94%; }
  .smth .down-layout img, #smth .down-layout img, .ntSmth .down-layout img {
    margin-left: 7px; }

.smth .mid-layout, #smth .mid-layout, .ntSmth .mid-layout {
  bottom: -48%;
  left: -45%; }

.smth .dot, #smth .dot, .ntSmth .dot {
  height: 15px;
  width: 15px; }

.smth .prev, .smth .next, #smth .prev, #smth .next, .ntSmth .prev, .ntSmth .next {
  z-index: 1;
  height: 40px;
  width: 20px;
  position: relative; }

.smth .prev, #smth .prev, .ntSmth .prev {
  top: 40%;
  transform: rotate(180deg); }

.smth .next, #smth .next, .ntSmth .next {
  left: 90%;
  top: 40%; }

@media (max-width: 1200px) {
  #flex-info {
    flex-flow: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #flex-info #info {
      margin-top: 30px; }
    #flex-info .mid-layout {
      bottom: -13px !important; }
    #flex-info .buttonImg {
      min-height: auto !important;
      height: 4vw !important; }
    #flex-info .imgSwitcher {
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
    #flex-info .down-layout {
      top: 321px !important; }
    #flex-info .calc, #flex-info .buttonImg {
      min-width: 14vw !important;
      font-size: 16px !important; }
  #smth, .smth, .ntSmth {
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #smth .imgSwitcher, .smth .imgSwitcher, .ntSmth .imgSwitcher {
      margin-top: 60px !important;
      height: auto;
      width: auto;
      margin-bottom: 50px; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        position: relative !important;
        bottom: -90% !important; }
      #smth .imgSwitcher .next, #smth .imgSwitcher .prev, .smth .imgSwitcher .next, .smth .imgSwitcher .prev, .ntSmth .imgSwitcher .next, .ntSmth .imgSwitcher .prev {
        top: 150px !important; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        top: 270px !important; }
      #smth .imgSwitcher .buttonImg, .smth .imgSwitcher .buttonImg, .ntSmth .imgSwitcher .buttonImg {
        min-height: 1vw !important;
        min-width: 2vw !important; }
    #smth .calc, .smth .calc, .ntSmth .calc {
      min-width: 25vw !important;
      min-height: 4vw !important;
      font-size: 3vw !important; } }

@media (min-width: 1400px) {
  #smth div .buttonImg, .smth div .buttonImg {
    max-width: 210px !important;
    max-height: 50px !important; } }

@media (min-width: 1700px) {
  #smth p, #smth li, #smth span, .smth p, .smth li, .smth span {
    font-size: 20px !important; }
  #smth h3, .smth h3 {
    font-size: 30px !important; }
  .imgSwitcher {
    max-height: 450px !important; }
  .down-layout {
    justify-content: center;
    bottom: -93%; } }

.title {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center; }
  .title h1, .title h2 {
    font-family: GeomB !important; }
  .title .calc {
    background: #72d7cf;
    width: 15% !important;
    min-width: 150px;
    min-height: 20px;
    height: 4vw !important;
    max-width: 220px;
    max-height: 50px; }
  .title .buttonImg {
    margin-left: 7% !important;
    width: 15% !important;
    height: 4vw !important;
    box-shadow: 2px 1px 8px black;
    max-width: 220px;
    max-height: 50px; }

html {
  min-height: 100%;
  position: relative; }

body {
  height: 100%; }

#full-page {
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(73, 73, 73, 0.51); }
  #full-page h3 {
    margin-top: 30px;
    position: relative;
    left: 0;
    margin-left: 30px;
    margin-right: 40%;
    color: #84c2b4; }
  #full-page #window {
    display: none;
    overflow: initial;
    margin-top: 50px;
    background-color: #ffffff;
    min-width: 700px;
    width: 60%;
    min-height: 90%;
    box-shadow: 0px 0px 3px black; }
    #full-page #window .price-info {
      display: flex; }
      #full-page #window .price-info .price-cont {
        position: relative;
        margin-left: 30%;
        height: 150px;
        width: 300px; }
      #full-page #window .price-info price {
        font: 25px bold Geom;
        width: 200px;
        position: relative;
        top: 80%; }
    #full-page #window p {
      margin-left: 0 !important;
      margin-top: -4px;
      font-size: 11px !important; }
    #full-page #window .smth {
      margin-top: 0px !important;
      margin-bottom: 0px !important; }
      #full-page #window .smth img {
        margin-top: 0 !important;
        margin-left: 0 !important;
        height: 150px !important;
        min-width: 200px !important; }
    #full-page #window ul {
      list-style: none; }
      #full-page #window ul li {
        font-size: 12px; }
    #full-page #window #photos {
      display: flex;
      flex-flow: row;
      justify-content: center; }
      #full-page #window #photos img {
        margin: 0 10px 0;
        width: 130px;
        height: 150px; }
  #full-page .sell {
    box-shadow: 1px 0px 4px black;
    border: 1px black solid;
    display: none;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: #ffb800; }
    #full-page .sell #close {
      position: relative;
      top: -168px;
      z-index: 2;
      height: 15px;
      width: 15px; }
    #full-page .sell #disImg {
      position: absolute;
      width: 350px;
      height: 350px; }
    #full-page .sell white, #full-page .sell text {
      margin-top: 15px; }
    #full-page .sell white {
      color: white;
      text-shadow: 1px 1px 1px black; }
      #full-page .sell white bold {
        font: 20px bold; }

@media (min-width: 1300px) {
  .sell {
    transform: scale(1.3); }
  #close {
    top: -168px;
    left: -17%; } }

@media (min-width: 1700px) {
  .sell {
    transform: scale(2); }
    .sell #close {
      left: 0%;
      top: -145px; } }

/*# sourceMappingURL=slider.css.map */