@import "title"
html
  min-height: 100%  /* make sure it is at least as tall as the viewport */
  position: relative

body
  height: 100% /* force the BODY element to match the height of the HTML element */

#full-page
  @import "smth"
  //display: flex
  top: 0
  display: none
  justify-content: center
  align-items: center
  align-content: center
  h3
    margin-top: 30px
    position: relative
    left: 0
    margin-left: 30px
    margin-right: 40%
    color: #84c2b4
  position: fixed
  height: 100%
  width: 100%
  overflow: hidden
  z-index: 8
  background-color: rgba(73, 73, 73, 0.51)
  #message
    position: absolute
    z-index: 1
    display: none
    width: 350px
    height: auto
    background-color: white
    border: 1px black
    box-shadow: 1px 1px 4px black
    border-radius: 2px
    #messageText
      width: 100%
      font-size: 20px
      text-align: center
      padding: 10px
    #close
      left: 339px
      top: -12px
      position: absolute
      width: 20px
      height: 20px
  #window
    display: none
    overflow: initial
    margin-top: 50px
    background-color: #ffffff
    min-width: 700px
    width: 60%
    min-height: 90%
    box-shadow: 0px 0px 3px black
    .price-info
      display: flex
      .price-cont
        position: relative
        margin-left: 30%
        height: 150px
        width: 300px
      price
        font: 25px bold Geom
        width: 200px
        position: relative
        top: 80%
    p
      margin-left: 0!important
      margin-top: -4px
      font-size: 11px !important
    .smth
      margin-top: 0px !important
      margin-bottom: 0px !important
      img
        margin-top: 0!important
        margin-left: 0!important
        height: 150px!important
        min-width: 200px!important
    ul
      list-style: none
      li
        font-size: 12px
    #photos
      display: flex
      flex-flow: row
      justify-content: center
      img
        margin:  0 10px 0
        width: 130px
        height: 150px
  .sell
    box-shadow: 1px 0px 4px black
    border: 1px black solid
    //display: flex
    display: none
    flex-flow: column
    justify-content: center
    text-align: center
    width: 300px
    height: 150px
    background-color: rgb(255, 184, 0)
    #close
      position: relative
      top: -168px
      z-index: 2
      height: 15px
      width: 15px
    #disImg
      position: absolute
      width: 350px
      height: 350px
    white , text
      margin-top: 15px
    white
      color: white
      text-shadow: 1px 1px 1px black
      bold
        font: 20px bold
@media ( min-width : 1300px )
  .sell
    transform: scale(1.3)
  #close
    top: -168px
    left: -0%

#order
  width: 500px!important
  height: 270px!important
  display: none
  flex-direction: column
  background-color: #fcfefe !important
  #close
    height: 20px!important
    width: 20px!important
    left: 49.7%
    top: -268px!important
  .jc
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column

  textarea
    padding-top: 10px
    font-size: 9px
    min-height: 66px
    margin: 0px 20px 5px
    align-items: center
    align-content: center
    text-align: center
    border-radius: 2px
    border: 0.5px gray solid
  .input-file-trigger
    display: block
    padding: 7px
    background: whitesmoke
    border: 0.5px gray solid
    border-radius: 2px
    color: black
    font-size: 9px
    transition: all .4s
    cursor: pointer
  input::placeholder,textarea::placeholder
    font-family: Geom
    font-size: 9px
  .input-file:hover + .input-file-trigger, .input-file:focus + .input-file-trigger, .input-file-trigger:hover, .input-file-trigger:focus
    background: whitesmoke
    color: #82d2d0
  .input-file
    position: absolute
    opacity: 0
    padding: 14px 0
    cursor: pointer
  .checkbox
    p
      font-size: 8px
      position: absolute
      left: 137px
      top: 165px
    label
      width: 20px
      height: 20px
      cursor: pointer
      position: absolute
      top: 168px
      left: 103px
      background: linear-gradient(top, #222 0%, #45484d 100%)
      border-radius: 4px
      box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(131, 131, 131, 0.4)
      &:after
        content: ''
        width: 17px
        height: 8px
        position: absolute
        top: 0px
        left: 4px
        border: 3px solid black
        border-top: none
        border-right: none
        background: transparent
        opacity: 0
        transform: rotate(-45deg)
      &:hover::after
        opacity: 0
    input[type=checkbox]
      visibility: hidden
      &:checked + label:after
        opacity: 1
  .butImg
    height: 30px
    width: 125px
  h4
    font-family: GeomB
    text-align: initial
    margin-left: 20px
    margin-top: 15px
    margin-bottom: 0px
  .flexput
    margin: 10px 20px
    display: flex
    flex-direction: row
    justify-content: space-between
    input
      height: 25px
      text-align: center
      width: 145px
      border-radius: 2px
      border: 0.5px gray solid
      font-size: 8px
@media ( max-width : 1050px)
  #order
    transform: scale(1.3)!important
@media ( max-width : 1699px)
  #order
    transform: scale(2)
@media ( min-width : 1700px )
  .sell
    transform: scale(2)
    #close
      left: 0%
      top: -145px
@-moz-document url-prefix()
  #order
    .checkbox
      label
        top: 188px!important
      p
        top: 184px!important
    #close
      left: 50%!important
      top: -251px!important
