#smth
  margin-left: 40px !important
  margin-top: 30px
  margin-bottom: 30px!important
  display: flex
  .smthImg
    margin-left: 20px
    min-width: 400px
    height: 500px
  div
    margin-left: 15px
    p
      margin-top: 0
      padding-left: 30px
      padding-right: 40px
      font-size: 20px
    div
      display: flex
      justify-content: center
  .buttonImg
    margin-top: 7%
    max-width: 25%!important
    max-height: 25%!important
    box-shadow: 2px 1px 8px black


.smth
  margin-bottom: 40px
  margin-left: 40px !important
  margin-top: 30px
  display: flex
  .smthImg
    margin-left: 20px
    min-width: 400px
    height: 400px
  div
    margin-left: 15px
    p
      padding-left: 30px
      padding-right: 40px
      font-size: 20px
    div
      display: flex
      justify-content: center
  .calc
    margin-top: 7%
    width: 25%!important
    height: 10vh!important
  .buttonImg
    margin-top: 7%
    max-width: 25%!important
    max-height: 25%!important
    box-shadow: 2px 1px 8px black
@media ( min-width : 1700px )
  #smth,.smth
    p
      font-size: 27px!important
