#smth
  margin-right: 10% !important
  margin-left: 10% !important
  margin-top: 2%
  margin-bottom: 10%!important
  display: flex
  .smthImg
    margin-left: 20px
    min-width: 400px
    height: 500px
  div
    margin-left: 15px
    ul
      margin-top: 0px!important
    p
      margin-bottom: 0px
      font-weight: 300
      margin-top: 0
      padding-left: 30px
      padding-right: 40px
      font-size: 20px
    div
      display: flex
      justify-content: center
    .calc
      margin-top: 5%!important
      width: 25%!important
      height: 10vh!important
    .buttonImg
      margin-top: 5%
      max-width: 25%!important
      max-height: 25%!important
      box-shadow: 2px 1px 8px black
.ntSmth
  .calc
    margin-top: 7%!important
    width: 25%!important
    height: 10vh!important
  .buttonImg
    margin-top: 7%
    max-width: 25%!important
    max-height: 25%!important
    box-shadow: 2px 1px 8px black

.smth
  margin-bottom: 10%
  margin-right: 10% !important
  margin-left: 10% !important
  margin-top: 2%
  display: flex
  .calc
    margin-top: 5%!important
    width: 25%!important
    height: 10vh!important
  .buttonImg
    margin-top: 5%
    max-width: 25%!important
    max-height: 25%!important
    box-shadow: 2px 1px 8px black
  .smthImg
    margin-left: 20px
    min-width: 400px
    height: 400px
  div
    margin-left: 15px
    ul
      margin-top: 0px!important
    p
      margin-bottom: 0px
      font-weight: 300
      padding-left: 30px
      padding-right: 40px
      font-size: 20px
    div
      display: flex
      justify-content: center

@media ( min-width : 1700px )
  #smth,.smth
    li::before
      border: 4px blueviolet solid !important
      height: 15px!important
      width: 15px!important
    p, li, span
      font-size: 27px!important
    h3
      font-size: 35px!important