table
  border-spacing: 10px
  margin-top: 20px
  margin-bottom: 20px
  min-width: 400px
  min-height: 200px
  display: flex
  justify-content: center
  tr
    background-color: whitesmoke
  td
    padding-left: 3%
    width: 200px
    height: 40px
  .blue
    background-color: #E0F3F3
  .main
    text-align: center
  .price
    padding-left: 0!important
