table
  border-spacing: 10px 0
  margin: 0px -1vw 20px
  min-width: 400px
  min-height: 200px
  display: flex
  justify-content: center
  tr
    background-color: white
  td
    padding-left: 3%
    width: 200px
    height: 40px
  .blue
    background-color: #c5fcfc
  .main
    font-family: GeomB
    text-align: center
  .price
    padding-left: 0!important
    text-align: center
  tbody
    margin-left: -1vw
    margin-right: -1vw
@media (min-width: 1700px)
  table
    margin-left: 0vw
    margin-right: 0vw
