.title
  font-family: GeomB
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
  .calc
    margin-top: 7%!important
    min-width: 25%!important
    height: 6vw!important
  .buttonImg
    margin-left: 7%!important
    margin-top: 7%
    max-width: 25%!important
    max-height: 25%!important
    box-shadow: 2px 1px 8px black