div(id="message")
    p(id='messageText')
    img(id="close" src="img/close2.png" onclick="document.getElementById('full-page').style.display='none'; document.getElementById('message').style.display='none'  ")