div(class="sell" id="sell" onclick="event.stopPropagation()" )
    text рассчитать стоимость
    text можно по телефону или e-mail
    white 8 (495)
        bold 728-09-56
    white  zakaz@provyvesky.ru
    img(id="close" src="img/close2.png" onclick="document.getElementById('full-page').style.display='none'; document.getElementById('sell').style.display='none'  ")