block main
    h3=title
    p Светящиеся буквы, украшенные лампочками по лицевой (фронтальной) стороне, так называемые «ретро – буквы».
    p Вы можете заказать изделия в любом исполнении:
    ul
        li плоские, недорогие решения;
        li большие объемные буквы и полноценные вывески.
    p Производство рекламных и декоративных букв на основе персональных пожеланий клиентов к размерам, толщине, внешнему виду, шрифту, месту установки, дизайну и т.д. Работаем, как с частными клиентами, так и с корпоративными заказчиками. Предоставляем отличные скидки на комплексные проекты
    p Могут выполнять роль светильника дома или быть местом притяжения ,например, на свадьбе и других праздниках. Буквы поставляются в окрашенном виде и без окраски, количество ламп подсветки зависит от размера.
    p Ретро стиль – это дыхание прошлого. Данное направление собирает в себя все самое яркое, что было в 50–70-х годах. При оформлении интерьера в ретро стиле выбирают самые запоминающиеся фрагменты ушедшего столетия, внося некую изюминку в оформление своего жилья. Буквы с лампочками являются непременным атрибутом на свадьбе, корпоративе, дне рождение. Светящиеся буквы являются объектом притяжения и отличным украшением для фотозоны. Ретро буквы в стиле marquee из окрашенного мдф. Можно использовать как ночник или просто для украшения интерьера.
    p Яркость ламп регулируется димером.Лампы установим на выбор — накаливания с регулятором яркости (15 или 25 Ватт) или светодиодные (3-5 Ватт) В наличии все буквы русского и английского алфавитов.
