block main
    p Эвакуационные знаки безопасности служат для однознач-ного обозначения эвакуационных выходов, направлений движения к эвакуационным выходам и выполнения других требований, необходимых для обеспечения эвакуации людей из общественных и производственных помещений в случае возникновения чрезвычайной ситуации. Эвакуационные знаки безопасности изготавливаются в соответствии с тре-бованиями ГОСТ 12.4.026-2015 «Цвета сигнальные, знаки безопасности и разметка сигнальная».
