block sec
    h3=title
    p  Эвакуационные знаки безопасности применяются для обеспечения эвакуации людей из здания в случае возникновения пожара или другой чрезвычайной ситуации. Применение специальных графических символов или поясняющих надписей позволяет использовать эваку-ационные знаки для однозначного понимания действий и требований при эвакуации.
    p По своему назначению эвакуационные знаки безопасности можно разделить на:
    ul
        li Указывают направление движения к эвакуационным выходам;
        li Обозначают местонахождение эвакуационных выходов или пунктов сбора;
        li Предоставляют информацию о действих для открывания эвакуационных дверей
    p Эвакуационные знаки, указывающие направление движения, используют символы - бегущий человек, эвакуационная дверь, лестница. В комбинации с этими символами используется на-правляющая стрелка. Направляющая стрелка указывает направление движения – налево, на-право, налево вверх, направо вниз, налево вверх, налево вверх. Определенные комбинации символов и направляющей стрелки могут обозначать правостороннее или левосторонне откры-вание эвакуационной двери.
    p Знаки, обозначающие эвакуационные выходы, используют короткие поясняющие надписи, а также символы человек в двери в комбинации с направляющей стрелкой. Текст поясняющих надписей выполняется на русском языке. Допускается использовать текст на английском языке, аналогичный русскому. Чаще всего применяются следующие типы надписей – выход, вы-ход/exit, запасный выход. Эвакуационные знаки должны устанавливаться перед каждым эваку-ационным выходом.
    p Эвакуационные знаки безопасности, предоставляющие информацию о необходимых действи-ях, используются для обозначения направления открывания дверей или обозначают действия, которые необходимо совершить для открывания или доступа в другие помещения. Такие знаки размещаются на дверях, стенах или в других местах, таким образом, чтобы обеспечить одно-значное понимание предписываемых действий.