@import "kron.css"
.flex-page
  display: flex
  flex-flow: column
  justify-content: center
  margin-left: 15%
  margin-right: 15%
  #font-flex,#flex-box
    margin-left: 0
    margin-right: 0
    justify-content: space-between
    .elem
      margin: 10px 0 0 0 !important
  #smth
    margin-left: 0
    margin-right: 0

#font-flex
    img
      width: 260px
#flex-box
  img
    height: 200px!important
@media (min-width: 1400px)  and (max-width: 1770px)
  #font-flex
    .elem
      padding: 25px
@media (min-width: 1770px)
  #flex-box
    margin: 50px 10% 150px 10% !important
  #font-flex
    margin: 100px 10% 100px 10% !important