@import "everypage/hdr"
@import "everypage/dropdown"
@import "everypage/footer"
@import "everypage/button"
.selectable
  .elem:active
    border-color: #ffb800 !important

.buttonImg
  height: 4vw!important
  width: 15vw!important
.center
  display: flex
  flex-flow: column
  justify-content: center
  text-align: center
  margin-top: 60px
  margin-bottom: 100px
  .selector
    justify-content: center
    display: flex
    .elem
      display: table
      flex-flow: column
      text-align: center
      align-content: center
      align-items: center
      justify-content: center
      min-width: 70px
      min-height: 23px
      margin: 10px 1% 0
      text
        margin-left: 10px
        margin-right: 10px

  .slider
    display: flex
    justify-content: center
    flex-flow: row
    max-width: 100%
    .elem
      margin: 40px 2% 0
      width: 70px
      height: 70px
      border-width: 3px !important
      p
        position: relative
        top: 70px
        left: -7px
        font-size: 13px
        margin-top: 0
        width: 120%
  .price-flex
    display: flex
    flex-flow: row
    justify-content: center
    div
      margin: 0 3% 0
    button
      outline: none
      margin-top: 46px
      background-color: #abd4c7
      color: white
      text-shadow: black 1px 1px 1px
      border-width: 0
      width: 150px
      height: 30px
    .orange
      background-color: #ffb800
      width: 280px
      height: 20px
    .nds
      text
        font-size: 13px
        color: #82d2d0
        margin: 0 30px 0
input, .elem
  outline: none
  border-radius: 20px
  border: #abd4c7 1px solid
input
  text-align: center
  height: 30px
  width: 160px
.buy-tel
  img
    margin-left: 4px!important
.flex-input
  display: inline-flex
  justify-content: center
  input
    margin: 0 1% 0
.color
  justify-content: center
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin-left: 15%
  margin-right: 15%
  padding-bottom: 40px
  .elem
    border: black 1px solid
    border-radius: 10px
    width: 30px
    height: 30px
    margin: 20px
    text-align: center
  .yellow
    background-color: #fff101
  .orange
    background-color: #ffb800
  .red
    background-color: #fe0613
  .pink
    background-color: #ed028c
  .purple
    background-color: #5f2d91
  .blue
    background-color: #253f8e
  .siz
    background-color: #62b5fd
  .green
    background-color: #28da2f
  .bolot
    background-color: #28722f
  .darkg
    background-color: #000000
  .brown
    background-color: #3c001c
  .ascalc
    background-color: #81beaa
  .darkgr
    background-color: #3b3b3b
  .gray
    background-color: #474747
  .lightgr
    background-color: #757d7a
  .gradient
    background: rgb(131,58,180)
    background: linear-gradient(90deg, rgb(255, 241, 1) 0% , rgb(254, 6, 19) 35% , rgb(95, 45, 145) 50% , #005cab 65% , rgb(98, 181, 253) 85%, rgb(40, 218, 47) 100%)
  .smth1 , .smth2  , .smth3 , .smth4 ,   .smth5 , .smth6 ,   .smth7 , .smth8 , .smth9
    background-color: black

#a1
  background-image: url("../img/letters/S.jpg")
#a2
  background-image: url("../img/letters/C.jpg")
#a3
  background-image: url("../img/letters/X.jpg")
#a4
  background-image: url("../img/letters/B.jpg")
#a5
  background-image: url("../img/letters/w.jpg")
#a6
  background-image: url("../img/letters/A.jpg")
#a7
  background-image: url("../img/viv/viv3.png")
#a8
  background-image: url("../img/viv/viv1.png")
#a9
  background-image: url("../img/letters/y.jpg")
#a10
  background-image: url("../img/viv/viv9.png")
#a11
  background-image: url("../img/viv/viv5.png")
#a12
  background-image: url("../img/viv/viv2.png")
#a13
  background-image: url("../img/viv/viv4.png")
#a14
  background-image: url("../img/viv/viv20.png")

#a1 , #a2 ,#a3 ,#a4 , #a5 ,#a6, #a7 , #a8 ,#a9, #a10 , #a11 ,#a12 , #a13 ,#a14
  background-size: 100% 100%
#s1
  background-image: url("../img/info/info03.png")
#s2
  background-image: url("../img/info/info02.png")

#s3
  background-image: url("../img/info/info04.png")
#s4
  background-image: url("../img/info/info12.png")
#s5
  background-image: url("../img/info/info05.png")
#s6
  background-image: url("../img/info/info11.png")
#t1
  background-image: url("../img/tables/tab21.png")
#t2
  background-image: url("../img/tables/tab20.png")
#t3
  background-image: url("../img/tables/tab22.png")
#t4
  background-image: url("../img/tables/tab23.png")
#t1 , #t2 , #t3 , #t4
  border-radius: 0
#s1 , #s2 ,#s3 ,#s4 , #s5 ,#s6 ,#t1, #t2,#t3, #t4
  background-size: 100% 100%
