@import "tables.css"

.mrgn, .uls
  margin-left: 10%!important
  margin-right: 10%!important
table
  td
    width: 40%
.uls
  ul
    list-style: none
  li
    margin-top: 5px
  li::before
    margin-right: 10px
    border-radius: 100%
    counter-increment: section
    content: ""
    border: 2px solid #ffb800
    padding: 2px
    text-align: center
    width: 10px
    height: 10px
    display: inline-flex

@media ( min-width : 1700px )
  .mrgn, .uls
    font-size: 20px
  tbody
    transform: scale(1.5)
    margin-top: 70px
    margin-bottom: 150px