@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"

.title
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#flex-info
  display: flex
  div
    margin-left: 10%
  ul
    list-style: none
    margin-left: -30px
  li
    margin-top: 5px
  li::before
      margin-right: 30px
      border-radius: 100%
      counter-increment: section
      content: ""
      border: 2px solid #ffb800
      padding: 2px
      text-align: center
      width: 10px
      height: 10px
      display: inline-flex
  #info
  #image
    width: 310px
    height: 300px
.flexbuts
  margin-top: 20px
  display: flex
  justify-content: center
  button
    margin: 0 2% 0 0

  button
    width: 120px
    height: 40px
  .buy-tel
    margin-top: 2px
    height: 35px
    width: 150px
    img
      position: relative
      bottom: -1px
    text
      position: relative
      bottom: 8px





#flex-box
  justify-content: center
  margin-left: 16%
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding: 10px
    max-width: 200px
    background: #EDEDED
    margin: 20px
    text-align: center
    price
      position: relative
      right: 20px
      font: bold 16px Serif
    img
      width: 200px
      height: 120px
      margin-bottom: 10px
    button
      position: relative
      right: -24px
      height: 30px
      border: none
      background-color: #ffb800
    strong
