@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"
ul
  padding-left: 7px
.imgSwitcher
  margin-right: 0!important
  width: 600px!important
  max-height: 400px!important
#image
  bottom: 85px
  left: 25px
.mid-layout
  bottom: -130px!important
  left: 1%!important
.down-layout
  left: 8%!important
  bottom: -325px!important
.prev
  left: 26%!important
.next
  left: 78%!important
.title
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#flex-info
  margin-left: 15%
  margin-right: 15%
  display: flex
  #image
    margin-left: 27%
    width: 300px
    height: 350px
.flexbuts
  display: flex
  justify-content: center
  .calc, .buttonImg
    margin-top: 0!important
  .calc
    background: #72d7cf
  button
    margin: 0 2% 0 0
  button
    width: 120px
    height: 40px
.imgSwitcher
  margin-left: -78px
.pars
  hyphens: manual
  -moz-hyphens: auto
  -webkit-hyphens: auto
  -ms-hyphens: auto
  margin-left: 16%
  margin-right: 18%

#flex-box
  justify-content: center
  margin-left: 10%
  margin-right: 10%
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding: 10px
    max-width: 200px
    background: #EDEDED
    margin: 20px 4.5%
    text-align: center
    price
      position: relative
      right: 20px
      font: bold 16px Serif
    img
      width: 200px
      height: 160px
      margin-bottom: 10px
    button
      position: relative
      right: -24px
      height: 30px
      border: none
      background-color: #ffb800
@media (min-width: 1260px)
   .ntSmth
     margin-left: 0px
     .buttonImg, .calc
       max-width: none !important
       max-height: none !important
       height: 37px!important
       width: 140px!important
   .pars
     margin-right: 23%
   #flex-box
     .elem
       margin: 20px 5.5%

@media (min-width: 1420px)
  .pars, #flex-info
    margin-left: 20%
    margin-right: 16%
  #flex-box
    margin-left: 7%
    margin-right: 10%
@media (min-width: 1540px)
  .pars
    margin-right: 25%
@media (min-width: 1660px)
  #flex-info , .pars
    margin-left: 25%
    margin-right: 25%
  #flex-box
    margin-left: 17%
    margin-right: 17%
