#footer
  position: relative
  bottom: 0
  color: white
  background: black
  width: 100vw
  min-height: 340px
  #ftr-frst
    position: relative
    left: 10px
    display: flex
    div
      margin: 0 10% 0 0
    #soc
      padding-top: 30px
      h1
        text-shadow: white 0.5px -0.5px 0.5px
        margin: 0
      #soc-ico
        margin-top: 10px
        display: flex
    #faq
      padding-top: 30px
      ul
        list-style: none
        h4
          text-shadow: white 0px -1px 1px
          margin: 0
          width: 280px
        li
          text-decoration: underline #FDB13E

    .phone
      padding-top: 30px
      margin: 13px 0 0 0
      phone
        display: inline
        color: #FDB13E
        font-size: 24px
    #buttons
      padding-top: 30px
      button
        border-width: 1px
        background: black
        color: #FDB13E
        border-color: #FDB13E
        width: 250px
        height: 50px
        font: 12px bold
        text-transform: uppercase

  #ftr-scnd
    position: relative
    left: 10px
    display: flex
    div
      margin: 14px 10% 0 0
    #map
      max-width: 150px
      max-height: 300px
      background-image: url("../img/map.png")
    #info
      width: 400px
