@import "tables.css"
.flex-page
  display: flex
  flex-flow: column
  justify-content: center
  margin-left: 15%
  margin-right: 15%
  #font-flex,#flex-box
    margin-left: 0
    margin-right: 0
    justify-content: space-between
    .elem
      margin: 10px 0 0 0 !important
  #smth
    margin-left: 0
    margin-right: 0

.smthImg
  min-width: 450px!important
  height: 380px!important
#font-flex
  .elem
    min-width: 400px!important
    height: 400px!important
    padding: 0 0 20px 0!important
    margin: 40px 5% 0  !important
    button
      height: 50px!important
      width: 150px!important
      font-size: 17px
    img
      width: 250px !important
      height: 250px !important
#flex-box
  .elem
    margin: 10px 5% !important
@media (min-width: 1700px)
  #flex-box
    max-width: 100%!important
    margin: 130px 10% !important
  #font-flex
    margin: 150px 10% 200px !important