#dropdown {
  padding-bottom: 20px;
  padding-top: 20px;
  display: none;
  z-index: 4;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; }
  #dropdown .disable {
    color: darkkhaki; }
  #dropdown ul {
    margin: 0 10% 0 0; }
    #dropdown ul li span {
      font-size: 18px !important;
      font-weight: 900 !important;
      font-family: Geom , serif !important;
      position: relative;
      left: 20px; }
    #dropdown ul li:hover {
      color: #FDB13E; }

@media (max-width: 1470px) {
  #dropdown ul {
    margin: 10px 5% 0 0 !important; } }

@media (max-width: 1100px) {
  #dropdown ul {
    margin: 10px 4% 0 0 !important; }
    #dropdown ul li span {
      font-size: 16px !important; } }

@media (max-width: 950px) {
  #dropdown ul {
    margin: 10px 3% 0 0 !important; }
    #dropdown ul li span {
      font-size: 14px !important; } }

@media (max-width: 820px) {
  #dropdown ul {
    margin: 10px 1% 0 0 !important; } }

@media (min-width: 1700px) {
  #dropdown ul {
    margin: 10px 13% 0 0 !important; }
    #dropdown ul li span {
      font-size: 1.1vw !important; }
  #dropdown #lastUL {
    margin: 10px 4% 0 0 !important; } }

@font-face {
  font-family: "Geom";
  src: local("Geom"), url("../font/geom.otf") format("truetype"); }

@font-face {
  font-family: "GeomB";
  src: local("Geom"), url("../font/geom bold.otf") format("truetype"); }

body {
  max-width: 100%;
  width: 100vw;
  margin: 0;
  font-family: "Geom", serif !important;
  font-weight: 900; }

#header {
  color: white;
  background: black;
  width: 100%; }
  #header #first {
    display: flex;
    flex-direction: row;
    margin-right: 0 !important;
    max-width: 100%; }
    #header #first div {
      margin: 0 6% 0 0;
      padding-top: 40px;
      width: 20%; }
      #header #first div div {
        padding-top: 0;
        width: 100%; }
    #header #first img {
      margin-left: 6px;
      float: left;
      width: 50px;
      height: 50px; }
    #header #first bold {
      font: 15pt bold; }
    #header #first mini {
      font-size: 10pt; }
  #header #second {
    display: table;
    width: 100%;
    max-width: 100%; }
    #header #second ul {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      max-width: 100vw;
      padding-left: 4px;
      width: 98vw;
      display: inline-flex;
      list-style: none;
      text-transform: uppercase; }
      #header #second ul li {
        font-weight: 500 !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0 3% 0 0; }
        #header #second ul li img {
          margin-left: 80%;
          width: 40px;
          height: 40px; }
      #header #second ul li:hover {
        font-family: GeomB !important;
        font-weight: 900 !important;
        text-shadow: 1px 0px 3px whitesmoke; }

#logo-warp {
  margin-left: 3% !important;
  padding-top: 10px !important;
  left: 15px;
  position: relative; }

#logo {
  background-image: url("../../img/logo.png");
  height: 100px !important;
  width: 100px !important;
  background-size: 100% 100%;
  border: none;
  background-position: center; }
  #logo bold {
    margin-left: 10px; }
  #logo mini {
    margin-left: 10px; }

#phone {
  min-width: 161px !important; }
  #phone bold {
    margin-left: 0; }

#search {
  padding-top: 30px;
  width: 26% !important;
  height: 40px;
  margin-right: 0 !important; }
  #search div {
    width: 100% !important;
    background: white;
    border-radius: 30px;
    position: relative;
    display: flex; }
  #search img {
    padding-top: 1px;
    padding-left: 3px;
    width: 16px !important;
    height: 16px !important; }
  #search input {
    width: 80%;
    outline: none;
    border: none;
    background: none;
    height: 20px; }

@media (max-width: 900px) {
  #header bold {
    font-size: 16px !important; }
  #header mini {
    font-size: 12px !important; }
  #header li {
    font-size: 13px !important; } }

@media (max-width: 846px) {
  #first #logo-warp {
    margin: 0 0 0 0 !important; }
  #second ul li {
    font-size: 13px !important;
    margin: 0 15px 0 0  !important;
    width: 87px; }
    #second ul li img {
      margin-left: 10% !important; }
  #second ul #contact {
    margin: 0 0 0 0 !important; }
  #second ul #burger-li {
    width: 30px !important; }
  #second ul #large-word {
    width: 155px !important; } }

@media (max-width: 716px) {
  #burger-li img {
    margin-top: -5px !important; }
  #second ul li {
    font-size: 11px !important;
    margin: 0 4px 0 1%  !important; }
  #second ul #large-word {
    width: 164px !important; }
  #second ul #uslugi {
    width: 56px !important; } }

@media (max-width: 616px) {
  #burger-li img {
    height: 30px !important;
    width: 30px !important;
    margin-top: -1px !important; }
  #first #city, #first #phone {
    margin-right: 0px !important; }
    #first #city bold, #first #phone bold {
      font-size: 14px !important; }
    #first #city mini, #first #phone mini {
      font-size: 9px !important; }
    #first #city img, #first #phone img {
      height: 35px !important;
      width: 35px !important; }
  #first #logo-warp {
    margin-top: 10px !important;
    width: 95px !important; }
    #first #logo-warp div {
      margin: 0 10px 0 !important;
      height: 65px !important;
      width: 65px !important;
      background-size: 100% 100% !important; } }

@media (max-width: 600px) {
  #contact {
    display: none; }
  #search {
    width: 23% !important; } }

@media (max-width: 450px) {
  .soc-ico {
    display: none; }
  h1 {
    font-size: 25px !important; } }

@media (min-width: 1249px) {
  #logo {
    background-size: 100% 100%;
    height: 120px !important;
    width: 100px !important; }
    #logo mini {
      font-size: 17px !important; }
    #logo bold {
      font-size: 25px !important; }
  #second {
    margin-top: 30px; }
    #second ul li {
      margin: 0 4% 0 0 !important;
      font-size: 20px !important; }
      #second ul li img {
        margin-top: 2px;
        height: 50px !important;
        width: 50px !important; }
    #second ul #contact {
      margin-right: 20px !important; } }

@media (min-width: 1700px) {
  #header #first div {
    margin: 0px 7% 0 !important; }
  #header #first #city, #header #first #phone {
    width: 265px !important; }
  #header #first #logo-warp {
    width: 150px !important;
    margin-left: 0 !important; }
    #header #first #logo-warp #logo {
      background-size: 100% 100%;
      height: 120px !important;
      width: 110px !important; }
  #header #first mini {
    font-size: 17px !important; }
  #header #first bold {
    font-size: 25px !important; }
  #header #search {
    width: 16% !important; }
    #header #search input {
      height: 30px; }
    #header #search img {
      height: 26px !important;
      width: 26px !important; }
  #second {
    margin-top: 30px; }
    #second ul li {
      margin: 0 7% 0 0 !important;
      font-size: 17px !important; }
      #second ul li img {
        margin-left: 15px !important;
        margin-top: -13px;
        height: 60px !important;
        width: 60px !important; }
    #second ul #contact {
      margin-right: 20px !important; } }

@media (min-width: 1900px) {
  #header bold {
    font-size: 23px !important; }
  #header mini {
    font-size: 19px !important; } }

.soc-ico {
  display: flex;
  margin: -45px -30px 0 -7px !important; }

.lowscreen {
  display: none; }

#footer {
  position: relative;
  bottom: 0;
  color: white;
  background: black;
  width: 100%;
  min-height: 470px; }
  #footer #ftr-frst {
    font-weight: 900;
    padding-left: 10px;
    display: flex; }
    #footer #ftr-frst div {
      margin: 50px 6% 0 0; }
    #footer #ftr-frst #soc {
      display: flex;
      flex-flow: column;
      margin-top: 45px; }
      #footer #ftr-frst #soc span {
        padding-top: 10px;
        padding-bottom: 20px;
        width: 294px; }
      #footer #ftr-frst #soc h1 {
        text-shadow: white 0.5px -0.5px 0.5px;
        margin: 0; }
    #footer #ftr-frst #faq h4 {
      margin-top: 0;
      text-shadow: white 0px -1px 1px;
      margin-left: 2.3em;
      width: 270px; }
    #footer #ftr-frst #faq ul {
      margin-top: -15px;
      list-style: none; }
      #footer #ftr-frst #faq ul li {
        text-decoration: underline #FDB13E; }
    #footer #ftr-frst .phone {
      margin-left: -3% !important;
      white-space: nowrap; }
      #footer #ftr-frst .phone phone {
        display: inline;
        color: #FDB13E;
        font-size: 21px; }
    #footer #ftr-frst #buttons {
      z-index: 2;
      margin-top: 60px !important; }
      #footer #ftr-frst #buttons button {
        margin-top: -10px;
        border-width: 1px;
        background: black;
        color: #FDB13E;
        border-color: #FDB13E;
        width: 250px;
        height: 50px;
        font: 12px bold;
        text-transform: uppercase; }
  #footer #ftr-scnd {
    font-weight: 900;
    padding-left: 10px;
    display: flex; }
    #footer #ftr-scnd div {
      margin: 25px 18% 0 0; }
    #footer #ftr-scnd #map {
      margin-top: -55px;
      width: 200px;
      height: 300px; }
    #footer #ftr-scnd #info {
      width: 400px; }

@media (min-width: 1759px) {
  #footer #info {
    width: 600px !important; }
  #footer #buttons button {
    font-size: 24px !important;
    height: 80px !important;
    width: 350px !important; }
  #footer span, #footer email, #footer adr, #footer city, #footer li {
    font-size: 25px; }
  #footer h4, #footer phone {
    font-size: 30px !important; }
  #footer h4 {
    width: 501px !important; }
  #footer #faq {
    margin-right: 40px !important; } }

@media (min-width: 1500px) {
  #footer #buttons button {
    font-size: 22px !important;
    height: 70px !important;
    width: 320px !important; }
  #footer email, #footer adr, #footer city, #footer li {
    font-size: 19px; }
  #footer span {
    font-size: 17px !important; }
  #footer h4, #footer phone {
    font-size: 23px !important; }
  #footer h4 {
    width: 450px !important;
    margin-left: 1.2em !important; }
  #footer #faq {
    margin-right: 40px !important; } }

@media (max-width: 1489px) {
  #footer #ftr-frst #buttons {
    margin-top: 58px !important; } }

@media (max-width: 1325px) {
  #footer .soc-ico {
    margin-top: -30px !important; }
    #footer .soc-ico img {
      height: 60px !important;
      width: 60px !important; }
  #footer #ftr-frst #buttons {
    margin-top: 47px !important; }
  phone {
    display: inline !important;
    font-size: 20px !important; }
  #footer {
    font-weight: 700 !important; }
  #ftr-frst div {
    margin: 40px 5% 0 0 !important; }
  #ftr-frst .phone {
    margin-right: 0 !important; } }

@media (max-width: 1255px) {
  #footer #ftr-frst .phone {
    margin-left: -6% !important; } }

@media (max-width: 1152px) {
  #ftr-frst div {
    margin: 40px 3% 0 0 !important; } }

@media (max-width: 1069px) {
  #footer #ftr-frst .phone {
    margin-left: -10vw !important; }
  #ftr-frst div {
    margin: 40px 2% 0 0 !important; }
  #ftr-frst h1 {
    font-size: 25px; }
  #ftr-frst button {
    width: 220px !important; } }

@media (max-width: 976px) {
  #ftr-scnd div {
    margin: 0 0.7% 0 0 !important; }
  #ftr-frst div {
    margin: 40px 1% 0 0 !important; }
  #ftr-frst h1 {
    font-size: 25px; }
  #ftr-frst button {
    width: 220px !important; }
  #ftr-frst .phone {
    margin: 0 0 0 0; } }

@media (max-width: 944px) {
  #footer #ftr-frst .phone {
    margin-left: 14vw !important; }
  #map {
    display: none; }
  #soc {
    display: none !important; }
  .lowscreen {
    display: block; }
  #ftr-frst #buttons {
    display: none; }
  #footer #ftr-scnd .lowscreen {
    margin-left: 5% !important; } }

@media (max-width: 778px) {
  #ftr-scnd #map img {
    width: 200px !important;
    height: 100px !important; }
  #ftr-frst #faq ul h4 {
    width: 170px !important; }
  #ftr-frst ul {
    padding-left: 20px !important; }
  phone {
    font-size: 17px !important; }
  email {
    font-size: 14px !important; }
  adr {
    font-size: 14px !important; } }

@media (max-width: 530px) {
  #footer #ftr-frst .phone {
    margin-left: 10px !important; } }

table {
  border-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  justify-content: center; }
  table tr {
    background-color: whitesmoke; }
  table td {
    padding-left: 3%;
    width: 200px;
    height: 40px; }
  table .blue {
    background-color: #E0F3F3; }
  table .main {
    text-align: center; }
  table .price {
    padding-left: 0 !important; }

.calc {
  width: 150px;
  height: 40px;
  background-color: white;
  border: 0.5px rgba(0, 0, 255, 0.22) solid;
  font-size: 21px; }

button {
  font-family: Geom; }

.buy-tel {
  border: none;
  box-shadow: 2px 1px 8px black;
  background-color: #FCB600;
  width: 150px;
  height: 40px;
  font-size: 25px; }
  .buy-tel img {
    margin-right: 3px !important;
    margin-left: 2px !important;
    margin-top: 2px;
    min-width: 30px !important;
    height: 30px !important; }
  .buy-tel .div-tel {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap; }

#smth {
  margin-right: 14%;
  margin-left: 14%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex; }
  #smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  #smth .smthImg {
    min-width: 400px;
    height: 500px; }
  #smth div {
    margin-left: 15px; }
    #smth div ul {
      margin-top: 0px !important; }
    #smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      margin-top: 0;
      padding-left: 30px;
      padding-right: 40px;
      font-size: 20px; }
    #smth div div {
      display: flex;
      justify-content: center; }
    #smth div .calc {
      margin-top: 5% !important;
      width: 25% !important;
      height: 3vw !important; }
    #smth div .buttonImg {
      margin-top: 5%;
      max-width: 25% !important;
      max-height: 25% !important;
      box-shadow: 2px 1px 8px black; }

.ntSmth .calc {
  margin-top: 7% !important;
  width: 25% !important;
  height: 3vw !important; }

.ntSmth .buttonImg {
  margin-top: 7%;
  max-width: 25% !important;
  max-height: 25% !important;
  box-shadow: 2px 1px 8px black; }

.smth {
  margin-bottom: 40px;
  margin-right: 14%;
  margin-left: 14%;
  margin-top: 20px;
  display: flex; }
  .smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  .smth .calc {
    margin-top: 5% !important;
    width: 25% !important;
    height: 3vw !important; }
  .smth .buttonImg {
    margin-top: 5%;
    width: 25% !important;
    height: 25% !important;
    min-height: 50px !important;
    box-shadow: 2px 1px 8px black; }
  .smth .smthImg {
    min-width: 400px;
    height: 400px; }
  .smth div {
    margin-left: 15px; }
    .smth div ul {
      margin-top: 0px !important; }
    .smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 40px;
      font-size: 20px; }
    .smth div div {
      display: flex;
      justify-content: center; }

.smth .smthImg, #smth .smthImg, .ntSmth .smthImg {
  margin-top: 40px;
  position: relative;
  bottom: 50px; }

.smth .imgSwitcher, #smth .imgSwitcher, .ntSmth .imgSwitcher {
  max-height: 285px; }

.smth .down-layout, .smth .mid-layout, #smth .down-layout, #smth .mid-layout, .ntSmth .down-layout, .ntSmth .mid-layout {
  position: relative;
  display: flex;
  margin-left: 0; }

.smth .down-layout, #smth .down-layout, .ntSmth .down-layout {
  justify-content: center;
  bottom: -94%; }
  .smth .down-layout img, #smth .down-layout img, .ntSmth .down-layout img {
    margin-left: 7px; }

.smth .mid-layout, #smth .mid-layout, .ntSmth .mid-layout {
  bottom: -48%;
  left: -45%; }

.smth .dot, #smth .dot, .ntSmth .dot {
  height: 15px;
  width: 15px; }

.smth .prev, .smth .next, #smth .prev, #smth .next, .ntSmth .prev, .ntSmth .next {
  z-index: 1;
  height: 40px;
  width: 20px;
  position: relative; }

.smth .prev, #smth .prev, .ntSmth .prev {
  top: 40%;
  transform: rotate(180deg); }

.smth .next, #smth .next, .ntSmth .next {
  left: 90%;
  top: 40%; }

@media (max-width: 1200px) {
  #flex-info {
    flex-flow: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #flex-info #info {
      margin-top: 30px; }
    #flex-info .mid-layout {
      bottom: -13px !important; }
    #flex-info .buttonImg {
      min-height: auto !important;
      height: 4vw !important; }
    #flex-info .imgSwitcher {
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
    #flex-info .down-layout {
      top: 321px !important; }
    #flex-info .calc, #flex-info .buttonImg {
      min-width: 14vw !important;
      font-size: 16px !important; }
  #smth, .smth, .ntSmth {
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #smth .imgSwitcher, .smth .imgSwitcher, .ntSmth .imgSwitcher {
      margin-top: 60px !important;
      height: auto;
      width: auto;
      margin-bottom: 50px; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        position: relative !important;
        bottom: -90% !important; }
      #smth .imgSwitcher .next, #smth .imgSwitcher .prev, .smth .imgSwitcher .next, .smth .imgSwitcher .prev, .ntSmth .imgSwitcher .next, .ntSmth .imgSwitcher .prev {
        top: 150px !important; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        top: 270px !important; }
      #smth .imgSwitcher .buttonImg, .smth .imgSwitcher .buttonImg, .ntSmth .imgSwitcher .buttonImg {
        min-height: 1vw !important;
        min-width: 2vw !important; }
    #smth .calc, .smth .calc, .ntSmth .calc {
      min-width: 25vw !important;
      min-height: 4vw !important;
      font-size: 3vw !important; } }

@media (min-width: 1400px) {
  #smth div .buttonImg, .smth div .buttonImg {
    max-width: 210px !important;
    max-height: 50px !important; } }

@media (min-width: 1700px) {
  #smth p, #smth li, #smth span, .smth p, .smth li, .smth span {
    font-size: 20px !important; }
  #smth h3, .smth h3 {
    font-size: 30px !important; }
  .imgSwitcher {
    max-height: 450px !important; }
  .down-layout {
    justify-content: center;
    bottom: -93%; } }

.title {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center; }
  .title h1, .title h2 {
    font-family: GeomB !important; }
  .title .calc {
    width: 15% !important;
    height: 4vw !important;
    max-width: 200px;
    max-height: 50px; }
  .title .buttonImg {
    margin-left: 7% !important;
    width: 15% !important;
    height: 4vw !important;
    box-shadow: 2px 1px 8px black;
    max-width: 200px;
    max-height: 50px; }

#font-flex {
  margin-right: 10%;
  margin-left: 10%;
  justify-content: center;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%; }
  #font-flex .elem {
    padding-bottom: 10px;
    max-width: 300px;
    border-radius: 10px;
    background: #ededed;
    margin: 15px 8% 0 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
    #font-flex .elem p {
      margin-left: 10px;
      margin-right: 10px; }
    #font-flex .elem img {
      width: 200px;
      height: 200px;
      margin-bottom: 0px; }
    #font-flex .elem strong {
      font-family: GeomB !important;
      padding-left: 10px;
      font-size: 12px; }
    #font-flex .elem div {
      text-align: center;
      margin-top: 3px; }
    #font-flex .elem button {
      border: none;
      height: 35px !important;
      width: 100px; }
    #font-flex .elem .calc {
      text-align: center;
      width: auto;
      font: 13.333px Geom;
      color: black;
      position: relative;
      left: -5px; }
    #font-flex .elem .buy {
      text-align: center;
      position: relative;
      right: -5px;
      background-color: #FCB600; }

#flex-box {
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
  justify-content: center;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%; }
  #flex-box strong {
    font-family: GeomB; }
  #flex-box .elem {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-width: 250px;
    background: #EDEDED;
    margin: 30px 5% 0; }
    #flex-box .elem bold {
      font-family: GeomB;
      font-size: 18px; }
    #flex-box .elem div {
      margin-top: 15px; }
    #flex-box .elem price {
      position: relative;
      font: bold 16px GeomB; }
    #flex-box .elem p {
      margin: 0;
      color: #4c4c4c; }
    #flex-box .elem img {
      width: 250px;
      height: 250px; }
    #flex-box .elem button {
      position: relative;
      right: -31%;
      height: 30px;
      border: none;
      background-color: #ffb800; }

#smth {
  margin-left: 15% !important;
  margin-right: 15% !important; }
  #smth .smthImg {
    min-width: 350px;
    height: 350px; }

@media (min-width: 1770px) {
  #flex-box, #font-flex {
    max-width: 100vw;
    transform: scale(1.3);
    margin: 100px 22% 150px; }
  #flex-box {
    transform: scale(1.3);
    margin: 150px 15% !important;
    width: auto !important; } }

/*# sourceMappingURL=kron.css.map */