@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"
.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#font-flex
  margin-right: 10%
  margin-left: 10%
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    padding-bottom: 10px
    max-width: 300px
    border-radius: 10px
    background: #ededed
    margin: 5px
    p
      margin-left: 10px
      margin-right: 10px
    img
      margin-left: 20px
      width: 200px
      height: 200px
      margin-bottom: 0px
    strong
      padding-left: 10px
      font-size: 12px
    div
      text-align: center
      margin-top: 3px
    button
      border: none
      height: 35px!important
      width: 100px
    .calc
      width: auto
      font: 13.333px arial
      color: black
      position: relative
      left: -20px
    .buy
      position: relative
      right: -20px
      background-color: #FCB600

#flex-box
  margin-right: 15%
  margin-left: 15%
  width: 70%
  justify-content: center
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    background: #EDEDED
    margin: 0px 35px 0
    div
      margin-top: 15px

    price
      position: relative
      font: bold 16px Serif
    p
      margin: 0
      color: #4c4c4c
    img
      width: 200px
      height: 120px
    button
      position: relative
      right: -44px
      height: 30px
      border: none
      background-color: #ffb800
#smth
  img
    min-width: 300px
    height: 300px
