@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/smth"
@import "everypage/button"
.flex-page
  display: flex
  flex-flow: column
  justify-content: center
  margin-left: 15%
  margin-right: 15%
  #smth
    margin-left: 0
    margin-right: 0
.smthImg
  min-width: 300px!important
  height: 300px!important
space
  margin-left: 5px
  margin-right: 5px
.calc
  background-color: #ffffff
  height: 35px!important
  width: 100px!important

.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#font-flex
  align-content: center
  align-items: center
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  max-width: 100%
  .elem
    padding-bottom: 10px
    max-width: 700vw
    display: flex
    flex-flow: row!important
    justify-content: center
    table
      border-spacing: 7px
      margin-bottom: 20px
    td
      height: 30px
      text-align: center
      justify-content: center
      width: 12vw
      background-color: #82d2d0
    .alsoflex
      display: flex
      flex-flow: column
      p
        text-align: justify
        margin-top: 20px
        margin-left: 10px
    img
      width: 267px
      height: 300px
      margin-bottom: 10px
    strong
      padding-left: 10px
      font-size: 16px
    div
      display: flex
      align-items: center
      text-align: center
      margin-top: 3px
      .calc
        margin-bottom: 0!important
    .imgflex
      margin-left: -20px
      display: flex
      flex-flow: column
      justify-content: flex-start
      strong
        font-family: GeomB !important
        margin-top: 20px

    button
      border: none
      height: 35px!important
      widthwidth: 100px
    .calc
      width: auto
      font: 13.333px Geom
      background: rgba(234,235,236,0.81)
      color: black
      position: relative
      left: -5px
    .buy
      position: relative
      right: -5px
      background-color: #FCB600

#flex-box
  justify-content: space-between
  margin-top: 40px
  display: flex
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    display: flex
    flex-flow: column
    text-align: center
    justify-content: center
    div
      margin-top: 15px
    price
      font: 900 14px Geom
    img
      width: 200px
      height: 200px
    button
      margin-top: 10px
      width: 100px
      border: none
      background-color: #ffb800

@media ( min-width : 1700px )
  .smthImg
    min-width: 450px!important
    height: 450px!important
  #font-flex, #flex-box
    transform: scale(1.4)
    margin: 300px 13%
  #flex-box
    margin: 100px 15% 20px 14%