@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"
table
  tr
    width: 100%
  tbody
    margin-left: 10%
    margin-right: 10%
    width: 80%
    td
      width: 84%
    .price
      width: 13vw
.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#font-flex
  margin-left: 10%
  margin-right: 10%
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    padding-bottom: 10px
    max-width: 300px
    background: #ededed
    margin: 5px
    img
      width: 300px
      height: 320px
      margin-bottom: 15px

    strong
      padding-left: 10px
      font-size: 12px
    div
      text-align: center
      margin-top: 20px
    button
      border: none
      height: 25px
    .more
      position: relative
      left: -60px
    .buy
      position: relative
      right: -60px
      background-color: #FCB600

#flex-box
  margin-left: 15%
  margin-right: 15%
  justify-content: center
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    background: #EDEDED
    margin: 5px
    price
      position: relative
      font: bold 16px Serif
    img
      width: 200px
      height: 120px
    button
      position: relative
      right: -44px
      height: 30px
      border: none
      background-color: #ffb800
#smth
  .smthImg
    height: 300px
    min-width: 250px
@media ( min-width : 1700px )
  .calc
    transform: scale(1.2)
    margin: 0px
  table
    td
      height: 60px!important
      font-size: 22px!important
    margin-bottom: 100px
  .smthImg
    min-width: 350px!important
    height: 450px!important
  #flex-box
    margin: 200px 23%
    transform: scale(1.5)
  #font-flex
    margin: 100px 21% 150px
    transform: scale(1.2)
