@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"
@import "everypage/title"
@import "everypage/ulflex"
.flex-page
  display: flex
  flex-flow: column
  justify-content: center
  margin-left: 15%
  margin-right: 15%
  #font-flex,#flex-box
    margin-left: 0
    margin-right: 0
    justify-content: space-between
    .elem
      background: #e0e3e3
      margin: 20px 0 0 0 !important
  #smth
    margin-left: 0
    margin-right: 0
    .buttonImg,.calc
      width: 35%!important
      max-height: 58px!important

.lupa
  height: 15px
  width: 15px
  background-image: url("../img/lupa2.png")
  background-size: 100% 100%
  position: relative
  top: -230px
  left: 10px
  margin-top: -25px!important
#smth
  .down-layout
    width: 90%
    bottom: -105%
  .mid-layout
    width: 290px
    left: -52%!important
  .imgSwitcher
    margin-left: 2vw

#disImg
  width: 430px!important
  margin-left: -9%
#imgFP
  #close
    left: -107px
table
  tr
    width: 100%
  tbody
    width: 100%
    td
      width: 70%
    .price
      width: 21vw
#font-flex
  margin-left: 5%
  margin-right: 5%
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    padding-bottom: 10px
    max-width: 300px
    margin: 10px 3%
    img
      width: 300px
      height: 250px
      margin-bottom: 15px
    strong
      font-family: GeomB
      padding-left: 10px
      font-size: 14px
    div
      text-align: center
      margin-top: 20px
    button
      font-family: Geom
      padding-left: 25px
      padding-right: 25px
      font-size: 15px
      border: none
      height: 35px
    .more
      padding-right: 10px
      padding-left: 10px
      background-color: #42d1cf
      position: relative
      left: -15px
    .buy
      position: relative
      right: -7px
      background-color: #FCB600

#flex-box
  margin-left: 7%
  margin-right: 7%
  justify-content: center
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 20px
  .elem
    padding: 5px 5px 10px
    max-width: 160px
    background: #EDEDED
    margin: 5px 2.7%
    font-size: 13px
    p
      height: 50px
    div
      display: flex
      justify-content: space-around
      align-items: center
      margin-left: 3px
    bold, p
      margin-top: 3px
      margin-bottom: 3px
      padding-left: 7px
      padding-right: 7px
    bold
      font-family: GeomB
    price
      position: relative
      font-family: GeomB
    img
      width: 160px
      height: 100px
    button
      position: relative
      height: 30px
      border: none
      background-color: #ffb700

#smth
  margin-left: 10%
  margin-right: 10%
  height: 325px
  .rightflex
    position: relative
  .flexbuts
    position: absolute
    bottom: 0
    margin-left: 0px
    width: 74%!important
    .calc,.buttonImg
      width: 40%!important
  .smthImg
    height: 325px!important
    min-width: 250px!important
    bottom: 87px!important
@media ( min-width : 1300px )
  #imgFP
    #close
      left: -27px!important
@media ( min-width : 1700px )
    .down-layout
      bottom: -65%!important
@media ( min-width : 1700px )
  .title
    .calc
      transform: scale(1.2)
      margin: 0px
  table
    td
      height: 30px!important
      font-size: 18px!important
    margin-bottom: 20px
    .main
      td
        font-size: 20px!important
  #smth
    margin-bottom: 100px
    height: 550px
    .rightflex
      position: relative
    .smthImg
      min-width: 350px!important
      height: 550px!important
    .down-layout
      bottom: -115%!important
    .mid-layout
      left: -52%!important
      width: 500px
  .flex-page
    #flex-box
      margin: 40px 13.5%
      transform: scale(1.37)
    #font-flex
      margin: 100px 9% 94px
      transform: scale(1.2)
@-moz-document url-prefix()
  #flex-box
    .elem
      button
        right: -7px