@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
#font-flex
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    padding-bottom: 10px
    max-width: 450px
    border-radius: 10px
    background: #ededed
    margin: 5px
    display: flex
    flex-flow: column
    justify-content: center
    p
      margin-left: 10px
      margin-right: 10px
    img
      margin-left: 25%
      width: 200px
      height: 200px
      margin-bottom: 0px
    strong
      padding-left: 10px
      font-size: 12px
    div
      text-align: center
      margin-top: 3px
    button
      border: none
      height: 35px!important
      width: 100px
    .calc
      width: auto
      font: 13.333px arial
      color: black
      position: relative
      left: -20px
    .buy
      position: relative
      right: -20px
      background-color: #FCB600

#flex-box
  justify-content: center
  margin-left: 10%
  margin-right: 10%
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    margin: 0px 35px 0
    display: flex
    flex-flow: column
    text-align: center
    justify-content: center
    margin-bottom: 10px
    div
      margin-top: 15px
    price
      font: bold 16px Serif
    img
      width: 170px
      height: 320px
    button
      margin-top: 10px
      width: 100px
      border: none
      background-color: #ffb800

#table1
  width: 300px!important
  height: 150px!important
  margin-left: 30px!important
  margin-right: 20px!important
#table2
  width: 350px!important
  height: 150px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table3
  width: 350px!important
  height: 150px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table4
  width: 350px!important
  height: 150px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table7
  width: 350px!important
  height: 120px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table6
  width: 350px!important
  height: 120px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table5
  width: 350px!important
  height: 120px!important
  margin-left: 20px!important
  margin-right: 20px!important
#table8
  width: 350px!important
  height: 120px!important
  margin-left: 20px!important
  margin-right: 20px!important
