@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
table
  border-spacing: 5px
  td
    padding-left: 0% !important
#font-flex
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    font-family: GeomB
    padding-bottom: 10px
    max-width: 700px
    background: #ededed
    margin: 40px 5% 0 0
    display: flex
    flex-flow: column
    align-items: center
    align-content: center
    justify-content: center
    p
      margin-left: 10px
      margin-right: 10px
    img
      width: 300px
      height: 300px
      margin-bottom: 0px
    strong
      font-size: 12px
    div
      text-align: center
      margin-top: 20px
    button
      font-family: Geom
      font-size: 17px
      border: none
      height: 50px!important
      width: 150px
    .calc
      background-color: white
      color: black
      position: relative
      left: -5px
    .buy
      position: relative
      right: -5px
      background-color: #FCB600

#flex-box
  justify-content: center
  margin-left: 7%
  margin-right: 7%
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    display: flex
    flex-flow: column
    text-align: center
    justify-content: center
    margin: 0px 35px 10px
    div
      margin-top: 15px
    price
      font: bold 16px Serif
    img
      width: 190px
      height: 200px
    button
      font-family: Geom
      margin-top: 10px
      width: 100px
      border: none
      background-color: #ffb800
.empty
  background-color: #ededed !important
  border-color: #ededed!important
.up
  font-weight: 900
  width: 600px
  min-height: 30px
  margin-bottom: 0
.mob
  font-weight: 900
  max-width: 600px
  min-height: 30px
  margin-top: 0
  margin-left: 10px
  margin-right: 10px
  tr
    td
      box-shadow: 1px 1px 1px black
      padding-left: 3px
      padding-right: 3px
      font-size: 10px
      background-color: #72d6d0
      text-align: center
      border: 1px solid black
      border-radius: 2px
    td.mini
      max-width: 4vw
    td.empty
      box-shadow: none

@media ( min-width : 1700px )
  #flex-box
    transform: scale(1.5)
    margin-top: 100px
    margin-bottom: 60px
  #font-flex, #flex-box
    margin-left: 7%
    margin-right: 7%
  td
    font-size: 13px!important