@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
.title
  margin-bottom: 40px
  margin-top: 40px
  display: flex
  text-align: center
  justify-content: center
table
  td
    padding-left: 1%
    padding-right: 1%
#font-flex
  justify-content: center
  padding-bottom: 20px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  .elem
    font-family: GeomB
    padding-bottom: 10px
    max-width: 450px
    border-radius: 10px
    background: #ededed
    margin: 5px
    display: flex
    flex-flow: column
    justify-content: center
    p
      margin-left: 10px
      margin-right: 10px
    img
      margin-left: 25%
      width: 200px
      height: 200px
      margin-bottom: 0px
    strong
      padding-left: 10px
      font-size: 12px
    div
      text-align: center
      margin-top: 3px
    button
      border: none
      height: 35px!important
      width: 100px
    .calc
      width: auto
      font: 13.333px arial
      color: black
      position: relative
      left: -20px
    .buy
      position: relative
      right: -20px
      background-color: #FCB600

#flex-box
  justify-content: center
  margin-left: 7%
  margin-right: 7%
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  max-width: 100%
  padding-bottom: 40px
  .elem
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 10px
    max-width: 200px
    border-radius: 10px
    margin: 0px 35px 0
    display: flex
    flex-flow: column
    text-align: center
    justify-content: center
    margin-bottom: 10px
    div
      margin-top: 15px
    price
      font: bold 16px Serif
    img
      width: 190px
      height: 200px
    button
      margin-top: 10px
      width: 100px
      border: none
      background-color: #ffb800
.empty
  background-color: #ededed !important
  border-color: #ededed!important
.up
  font-weight: 900
  min-width: 300px
  min-height: 30px
  margin-bottom: 0
.mob
  font-weight: 900
  min-width: 300px
  min-height: 30px
  margin-top: 0
  margin-left: 10px
  margin-right: 10px
  tr
    td
      font-size: 10px
      background-color: #72d6d0
      text-align: center
      border: 1px solid black
      border-radius: 2px
    td.mini
      max-width: 30px

@media ( min-width : 1700px )
  #font-flex, #flex-box
    margin-left: 15%
    margin-right: 15%
  td
    font-size: 13px!important