@import "kron.css"
#font-flex
  .elem
    padding-left: 10px
    padding-right: 10px
#flex-box
  .elem
    img
      height: 210px
#smth
  p
    font-size: 16px!important
.smthImg
  height: 150px!important
  min-width: 300px!important
@media ( max-width : 1770px ) and (min-width: 1400px)
  #font-flex
    .elem
      padding-left: 30px
      padding-right: 30px

@media ( min-width : 1770px )
  .smthImg
    bottom: 0px!important
    height: 250px!important
    min-width: 450px!important
  #font-flex
    margin-top: 190px!important
    margin-bottom: 200px!important