@import "kron.css"
#smth
  p
    font-size: 16px!important
.smthImg
  height: 300px!important
  width: 150px!important

@media ( min-width : 1700px )
  .smthImg
    height: 450px!important
    width: 250px!important