@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/button"
@import "everypage/smth"
@import "tables.css"
#smth
  ul
    list-style: none
  li
    margin-top: 5px
  li::before
    margin-right: 10px
    border-radius: 100%
    counter-increment: section
    content: ""
    border: 2px solid #8c438f
    padding: 2px
    text-align: center
    width: 10px
    height: 10px
    display: inline-flex
@media ( min-width : 1700px )
  tbody
    transform: scale(1.5)
    margin-top: 200px
    margin-bottom: 200px