@import "viv.css"
@import "kron.css"

#smth
  p
    margin-left: 30px
  ul
    list-style: none
    margin-left: 30px
  li
    margin-top: 5px
  li::before
    margin-right: 10px
    border-radius: 100%
    counter-increment: section
    content: ""
    border: 2px solid blueviolet
    padding: 2px
    text-align: center
    width: 10px
    height: 10px
    display: inline-flex
  .smthImg
    height: 350px!important
    width: 400px!important
