@import "everypage/smth"
@import "everypage/button"
@import "everypage/hdr"
@import "everypage/dropdown"
@import "everypage/footer"
@import "everypage/title"

.smth
  .smthImg
    height: 550px!important
  h3
    text-align: center
    padding-left: 30px
  .flexbuts
    padding-top: 20px
    display: flex
    align-items: center
    align-content: center
    justify-content: space-around
    .calc
      margin-top: 0!important
      background: #72d7cf
    .buttonImg
      margin-top: 0!important
      max-height: 55px!important


@media ( min-width : 1500px )
  h3
    font-size: 35px !important