@import url(style.css);
#smth .buttonImg, #smth .calc, .smth .buttonImg, .smth .calc, .ntSmth .buttonImg, .ntSmth .calc {
  min-width: 140px;
  min-height: 35px; }

@-moz-document url-prefix() {
  #smth .flexbuts .buttonImg, .smth .flexbuts .buttonImg, .ntSmth .flexbuts .buttonImg {
    max-height: 100% !important; } }

#smth, .smth {
  margin: 20px 15% 40px;
  display: flex; }
  #smth .leftflex, .smth .leftflex {
    display: flex;
    align-items: center;
    flex-direction: column; }
  #smth .flexbuts, .smth .flexbuts {
    width: 100%;
    display: flex;
    justify-content: space-around; }
  #smth li, .smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  #smth .smthImg, .smth .smthImg {
    min-width: 400px;
    height: 500px; }
  #smth div, .smth div {
    margin-left: 15px; }
    #smth div ul, .smth div ul {
      padding-left: 30px;
      margin-top: 0px !important; }
    #smth div p, .smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      margin-top: 0;
      padding-left: 30px;
      font-size: 16px; }
    #smth div div, .smth div div {
      display: flex;
      justify-content: center; }

.ntSmth .calc {
  margin-top: 7% !important;
  width: 25% !important;
  height: 3vw !important; }

.ntSmth .buttonImg {
  margin-top: 7%;
  max-width: 25% !important;
  max-height: 25% !important; }

#flex-info li {
  list-style-position: outside;
  margin-left: 1em;
  margin-top: 5px;
  list-style-type: circle; }

.smth {
  margin: 20px 14% 40px;
  display: flex; }
  .smth li {
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 5px;
    list-style-type: circle; }
  .smth .calc, .smth .buttonImg {
    width: 25% !important;
    height: 25% !important;
    min-height: 58px !important; }
  .smth .smthImg {
    min-width: 400px;
    height: 400px; }
  .smth div {
    margin-left: 15px; }
    .smth div ul {
      margin-top: 0px !important; }
    .smth div p {
      margin-bottom: 0px;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 40px;
      font-size: 16px; }
    .smth div div {
      display: flex;
      justify-content: center; }

.smth .smthImg, #smth .smthImg, .ntSmth .smthImg {
  margin-top: 40px;
  position: relative;
  bottom: 50px; }

.smth .imgSwitcher, #smth .imgSwitcher, .ntSmth .imgSwitcher {
  max-height: 285px; }

.smth .down-layout, .smth .mid-layout, #smth .down-layout, #smth .mid-layout, .ntSmth .down-layout, .ntSmth .mid-layout {
  position: relative;
  display: flex;
  margin-left: 0; }

.smth .down-layout, #smth .down-layout, .ntSmth .down-layout {
  justify-content: center;
  bottom: -94%; }
  .smth .down-layout img, #smth .down-layout img, .ntSmth .down-layout img {
    margin-left: 7px; }

.smth .mid-layout, #smth .mid-layout, .ntSmth .mid-layout {
  bottom: -48%;
  left: -45%; }

.smth .dot, #smth .dot, .ntSmth .dot {
  height: 10px;
  width: 10px; }

.smth .prev, .smth .next, #smth .prev, #smth .next, .ntSmth .prev, .ntSmth .next {
  z-index: 1;
  height: 40px;
  width: 20px;
  position: relative; }

.smth .prev, #smth .prev, .ntSmth .prev {
  top: 40%;
  transform: rotate(180deg); }

.smth .next, #smth .next, .ntSmth .next {
  left: 90%;
  top: 40%; }

@media (max-width: 1200px) {
  #flex-info {
    flex-flow: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #flex-info #info {
      margin-top: 30px; }
    #flex-info .mid-layout {
      bottom: -13px !important; }
    #flex-info .buttonImg {
      min-height: auto !important;
      height: 4vw !important; }
    #flex-info .imgSwitcher {
      margin-top: 0 !important;
      margin-bottom: 0 !important; }
    #flex-info .down-layout {
      top: 321px !important; }
    #flex-info .calc, #flex-info .buttonImg {
      min-width: 14vw !important;
      font-size: 16px !important; }
  #smth, .smth, .ntSmth {
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    #smth .imgSwitcher, .smth .imgSwitcher, .ntSmth .imgSwitcher {
      margin-top: 60px !important;
      height: auto;
      width: auto;
      margin-bottom: 50px; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        position: relative !important;
        bottom: -90% !important; }
      #smth .imgSwitcher .next, #smth .imgSwitcher .prev, .smth .imgSwitcher .next, .smth .imgSwitcher .prev, .ntSmth .imgSwitcher .next, .ntSmth .imgSwitcher .prev {
        top: 150px !important; }
      #smth .imgSwitcher .down-layout, .smth .imgSwitcher .down-layout, .ntSmth .imgSwitcher .down-layout {
        top: 270px !important; }
      #smth .imgSwitcher .buttonImg, #smth .imgSwitcher .calc, .smth .imgSwitcher .buttonImg, .smth .imgSwitcher .calc, .ntSmth .imgSwitcher .buttonImg, .ntSmth .imgSwitcher .calc {
        min-height: 1vw !important;
        min-width: 2vw !important; } }

@media (min-width: 1400px) {
  #smth div .buttonImg, #smth div .calc, .smth div .buttonImg, .smth div .calc {
    max-width: 210px !important;
    max-height: 50px !important; } }

@media (min-width: 1700px) {
  #smth p, #smth li, #smth span, .smth p, .smth li, .smth span {
    font-size: 20px !important; }
  #smth h3, .smth h3 {
    font-size: 30px !important; }
  .imgSwitcher {
    max-height: 450px !important; }
  .down-layout {
    justify-content: center;
    bottom: -93%; } }

.title, #title {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .title h1, .title h2, #title h1, #title h2 {
    font-family: Geom !important;
    font-weight: 400; }
  .title .calc, #title .calc {
    background: #72d7cf;
    width: 15% !important;
    min-width: 170px;
    min-height: 20px;
    height: 4vw !important;
    max-width: 210px;
    max-height: 50px; }
  .title .buttonImg, #title .buttonImg {
    width: 15% !important;
    height: 4vw !important;
    box-shadow: 2px 1px 8px black;
    max-width: 220px;
    max-height: 50px; }

.smth img {
  height: 400px !important;
  min-width: 450px !important; }

.smth h3 {
  font-size: 24px !important;
  font-family: GeomB;
  margin-left: 30px; }

@media (max-width: 750px) {
  .smth {
    margin-left: 15px !important; }
    .smth img {
      height: 170px !important;
      min-width: 200px !important; }
    .smth p {
      font-size: 12px !important; }
    .smth h3 {
      font-size: 15px !important; } }

/*# sourceMappingURL=serves.css.map */