@import "serves.css"
.info
  padding-bottom: 40px
bold
  font-size: 15px
  font-family: GeomB
ul
  li
    font-size: 15px
.smth
  height: 360px
  p
    margin-left: 0!important
    margin-right: 0!important
p
  margin-left: 14%
  margin-right: 22%
