@import "input.css"
.flex-page
  margin-left: 17%
  margin-right: 17%
.lupa
  height: 15px
  width: 15px
  background-image: url("../img/lupa2.png")
  background-size: 100% 100%
  position: relative
  top: -220px
  left: -135px
  margin-top: -25px!important
#close
  top: -167px!important
  left: -8.7vw!important
#disImg
  width: 430px!important
  margin-left: -9%
.smthImg
  height: 530px!important
  min-width: 550px!important
#font-flex
  .elem
    padding-left: 40px!important
    padding-right: 40px!important
    height: auto!important
    min-width: auto!important
    padding-bottom: 10px!important
    img
      width: 300px!important
#flex-box
  .elem
    img
      height: 200px!important
@media (min-width: 1300px)
  #close
    left: -3%!important
@media (min-width: 1700px)
  #close
    left: -9%!important