@import "viv.css"
#smth
  a
    color: #fc9b00
table
  .price
    width: 30vw!important
  .name
    width: 62vw!important
  margin-left: 8%
  margin-right: 8%
  td
    padding-left: 10px
.main
  font-family: GeomB
.price
  font-family: Geom
.blue
  background-color: #ccd2d2!important