@import "infstands.css"

#font-flex
  margin-top: 200px!important
  margin-bottom: 200px!important
  .elem
    background-color: #ededed !important
    text-align: center
    img
      margin-left: 0!important
    p
      font-weight: bold
#flex-box
  .elem
    padding-top: 10px
    margin: 15px 3% 0 !important
#smth
  .img
    margin-top: 30px
    height: 370px!important
    min-width: 300px!important