@import "infstands.css"
.flex-page
  #font-flex
    .elem
      margin: 10px 2% 0 0 !important
      background-color: #ededed !important
      text-align: center
      img
        margin-left: 0!important
      p
        font-weight: bold
  #flex-box
    .elem
      padding-top: 10px
      img
        height: 250px
        width: 250px
  #smth
    .img
      margin-top: 54px
      height: 370px!important
      min-width: 300px!important
@media (min-width: 1700px)
  #font-flex
    margin-top: 100px!important
    margin-bottom: 200px!important
