@import "dropdown"
@import "hdr"
@import "footer"
@font-face
  font-family: "Geom"
  src: local('Geom'), url("../font/geom.otf") format("truetype")


html
  overflow-x: hidden
body
  width: 100vw
  margin: 0


#body
  width: 100vw
  height: 390px

