@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "main/form"
@import "main/serve"

#body
  width: 100vw
  height: 390px

.polaroid
  position: relative
  border-radius: 10px
  width: 220px
  max-width: 220px

.polaroid img
  width: 170px
  height: 200px
  border: 10px solid #000000
  border-bottom: 45px solid #000000
  -webkit-box-shadow: 3px 3px 3px #777
  -moz-box-shadow: 3px 3px 3px #777
  box-shadow: 3px 3px 3px #777

.polaroid p
  color: white
  position: relative
  text-align: center
  width: 100%
  left: -6.5%
  bottom: 40px
  font: 400 12px/1 'Kaushan Script', cursive


