@charset "UTF-8";
#dropdown {
  display: none;
  z-index: 4;
  position: absolute;
  background: rgba(255, 255, 255, 0.81);
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%; }
  #dropdown .disable {
    color: darkkhaki; }
  #dropdown ul {
    margin: 10px 10% 0 0; }
    #dropdown ul li span {
      font: 18px !important;
      font-weight: 900 !important;
      font-family: Geom , serif !important;
      position: relative;
      left: 20px; }
    #dropdown ul li:hover {
      color: #FDB13E; }

@media (max-width: 1242px) {
  #dropdown ul {
    margin: 10px 9% 0 0 !important; } }

@media (max-width: 1065px) {
  #dropdown ul {
    margin: 10px 3% 0 0 !important; }
    #dropdown ul li span {
      font-size: 16px !important; } }

@media (min-width: 1700px) {
  #dropdown ul {
    margin: 10px 13% 0 0 !important; }
    #dropdown ul li span {
      font-size: 22px !important; }
  #dropdown #lastUL {
    margin: 10px 4% 0 0 !important; } }

@font-face {
  font-family: "Geom";
  src: local("Geom"), url("../font/geom.otf") format("truetype"); }

@font-face {
  font-family: "GeomB";
  src: local("Geom"), url("../font/geom bold.otf") format("truetype"); }

body {
  max-width: 100%;
  width: 100vw;
  margin: 0;
  font-family: "Geom", serif !important;
  font-weight: 900; }

#header {
  color: white;
  background: black;
  width: 100%;
  min-height: 150px; }
  #header #first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%; }
    #header #first div {
      margin: 0 3% 0 0;
      padding-top: 40px;
      width: 20%; }
      #header #first div div {
        padding-top: 0;
        width: 100%; }
    #header #first img {
      float: left;
      width: 50px;
      height: 50px; }
    #header #first bold {
      font: 15pt bold; }
    #header #first mini {
      font-size: 10pt; }
  #header #second {
    display: table;
    width: 100%;
    max-width: 100%; }
    #header #second ul {
      text-align: center;
      max-width: 100vw;
      padding-left: 4px;
      width: 98vw;
      display: inline-flex;
      list-style: none;
      text-transform: uppercase; }
      #header #second ul li {
        font-weight: 500 !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0 3% 0 0; }
        #header #second ul li img {
          margin-left: 80%;
          width: 40px;
          height: 40px; }
      #header #second ul li:hover {
        font-weight: 900 !important;
        text-shadow: 1px 0px 3px whitesmoke; }

#logo-warp {
  margin-left: 3% !important;
  padding-top: 10px !important;
  left: 15px;
  position: relative; }

#logo {
  background-image: url("../../img/logo.png");
  height: 100px !important;
  width: 100px !important;
  background-size: 100% 100%;
  border: none;
  background-position: center; }
  #logo bold {
    text-shadow: 1px -2px 4px  white;
    margin-left: 10px; }
  #logo mini {
    text-shadow: 0px -1px 2px  white;
    margin-left: 10px; }

#city, #phone {
  text-shadow: -1px -2px 4px whitesmoke; }

#phone bold {
  margin-left: 0; }

#search {
  padding-top: 30px;
  width: 26% !important;
  height: 40px;
  margin-right: 0 !important; }
  #search div {
    width: 100% !important;
    background: white;
    border-radius: 30px;
    position: relative;
    display: flex; }
  #search img {
    padding-top: 1px;
    padding-left: 3px;
    width: 16px !important;
    height: 16px !important; }
  #search input {
    width: 80%;
    outline: none;
    border: none;
    background: none;
    height: 20px; }

@media (max-width: 846px) {
  #first #logo-warp {
    margin: 0 0 0 0 !important; }
  #second ul li {
    font-size: 13px !important;
    margin: 0 15px 0 0  !important;
    width: 87px; }
  #second ul #contact {
    margin: 0 0 0 0 !important; }
  #second ul #burger-li {
    width: 30px !important; }
  #second ul #large-word {
    width: 155px !important; } }

@media (max-width: 616px) {
  #first #logo-warp {
    margin-top: 10px !important;
    width: 95px !important; }
    #first #logo-warp div {
      margin: 0 10px 0 !important;
      height: 65px !important;
      width: 65px !important;
      background-size: 100% 100% !important; } }

@media (max-width: 716px) {
  #second ul li {
    font-size: 11px !important;
    margin: 0 -8px 0 0  !important; }
  #second ul #large-word {
    width: 164px !important; }
  #second ul #uslugi {
    width: 56px !important; } }

@media (max-width: 450px) {
  #contact {
    display: none; }
  .soc-ico {
    display: none; }
  h1 {
    font-size: 25px !important; } }

@media (min-width: 1300px) {
  #logo {
    background-size: 100% 100%;
    height: 120px !important;
    width: 100px !important; }
  #header {
    padding-top: 40px;
    min-height: 220px; }
    #header mini {
      font-size: 17px !important; }
    #header bold {
      font-size: 25px !important; }
  #second {
    margin-top: 30px; }
    #second ul li {
      margin: 0 4% 0 0 !important;
      font-size: 21px !important; }
      #second ul li img {
        margin-top: 2px;
        height: 50px !important;
        width: 50px !important; }
    #second ul #contact {
      margin-right: 20px !important; } }

@media (min-width: 1700px) {
  #logo {
    background-size: 100% 100%;
    height: 220px !important;
    width: 200px !important; }
  #city, #phone, #search {
    margin-top: 50px !important; }
  #header {
    min-height: 250px; }
    #header mini {
      font-size: 17px !important; }
    #header bold {
      font-size: 25px !important; }
  #search input {
    height: 30px; }
  #search img {
    height: 26px !important;
    width: 26px !important; }
  #second {
    margin-top: 30px; }
    #second ul li {
      margin: 0 4% 0 0 !important;
      font-size: 23px !important; }
      #second ul li img {
        margin-top: -13px;
        height: 60px !important;
        width: 60px !important; }
    #second ul #contact {
      margin-right: 20px !important; } }

@media (min-width: 1900px) {
  #header bold {
    font-size: 27px !important; }
  #header mini {
    font-size: 23px !important; } }

.soc-ico {
  display: flex;
  margin: -45px -30px 0 -7px !important; }

.lowscreen {
  display: none; }

#footer {
  position: relative;
  bottom: 0;
  color: white;
  background: black;
  width: 100%;
  min-height: 340px; }
  #footer #ftr-frst {
    font-weight: 900;
    padding-left: 10px;
    display: flex; }
    #footer #ftr-frst div {
      margin: 50px 7% 0 0; }
    #footer #ftr-frst #soc {
      display: flex;
      flex-flow: column;
      margin-top: 45px; }
      #footer #ftr-frst #soc span {
        padding-top: 10px;
        padding-bottom: 20px;
        width: 294px; }
      #footer #ftr-frst #soc h1 {
        text-shadow: white 0.5px -0.5px 0.5px;
        margin: 0; }
    #footer #ftr-frst #faq h4 {
      margin-top: 0;
      text-shadow: white 0px -1px 1px;
      margin-left: 2.3em;
      width: 270px; }
    #footer #ftr-frst #faq ul {
      margin-top: -15px;
      list-style: none; }
      #footer #ftr-frst #faq ul li {
        text-decoration: underline #FDB13E; }
    #footer #ftr-frst .phone {
      white-space: nowrap; }
      #footer #ftr-frst .phone phone {
        display: inline;
        color: #FDB13E;
        font-size: 21px; }
    #footer #ftr-frst #buttons button {
      border-width: 1px;
      background: black;
      color: #FDB13E;
      border-color: #FDB13E;
      width: 250px;
      height: 50px;
      font: 12px bold;
      text-transform: uppercase; }
  #footer #ftr-scnd {
    font-weight: 900;
    padding-left: 10px;
    display: flex; }
    #footer #ftr-scnd div {
      margin: 14px 10% 0 0; }
    #footer #ftr-scnd #map {
      margin-top: -80px;
      width: 200px;
      height: 300px; }
    #footer #ftr-scnd #info {
      width: 400px; }

@media (max-width: 1325px) {
  phone {
    display: inline !important;
    font-size: 20px !important; }
  #footer {
    font-weight: 700 !important; }
  #ftr-frst div {
    margin: 40px 5% 0 0 !important; }
  #ftr-frst .phone {
    margin-right: 0 !important; } }

@media (max-width: 1152px) {
  #ftr-frst div {
    margin: 40px 3% 0 0 !important; } }

@media (max-width: 1069px) {
  #ftr-frst div {
    margin: 40px 2% 0 0 !important; }
  #ftr-frst h1 {
    font-size: 25px; }
  #ftr-frst button {
    width: 220px !important; } }

@media (max-width: 936px) {
  #ftr-frst div {
    margin: 40px 1% 0 0 !important; }
  #ftr-frst h1 {
    font-size: 25px; }
  #ftr-frst button {
    width: 220px !important; }
  #ftr-frst .phone {
    margin: 0 0 0 0; } }

@media (max-width: 904px) {
  #map {
    display: none; }
  #soc {
    display: none; }
  .lowscreen {
    display: block; }
  #ftr-frst #buttons {
    display: none; } }

@media (max-width: 778px) {
  #ftr-scnd #map img {
    width: 200px !important;
    height: 100px !important; }
  #ftr-frst #faq ul h4 {
    width: 170px !important; }
  #ftr-frst ul {
    padding-left: 20px !important; }
  phone {
    font-size: 17px !important; }
  email {
    font-size: 14px !important; }
  adr {
    font-size: 14px !important; } }

@media (min-width: 1500px) {
  #footer #buttons button {
    font-size: 22px !important;
    height: 70px !important;
    width: 320px !important; }
  #footer email, #footer adr, #footer city, #footer li {
    font-size: 19px; }
  #footer span {
    font-size: 17px !important; }
  #footer h4, #footer phone {
    font-size: 23px !important; }
  #footer h4 {
    width: 450px !important;
    margin-left: 1.2em !important; }
  #footer #faq {
    margin-right: 40px !important; } }

@media (min-width: 1700px) {
  #footer #info {
    width: 600px !important; }
  #footer #buttons button {
    margin-top: -10px;
    font-size: 24px !important;
    height: 80px !important;
    width: 350px !important; }
  #footer span, #footer email, #footer adr, #footer city, #footer li {
    font-size: 25px; }
  #footer h4, #footer phone {
    font-size: 30px !important; }
  #footer h4 {
    width: 501px !important; }
  #footer #faq {
    margin-right: 40px !important; } }

#form {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #FCB600;
  width: 100%;
  min-height: 300px;
  color: black;
  font-weight: lighter; }
  #form ::placeholder {
    font-weight: 600;
    font-size: 16px;
    color: black; }
  #form #form-one {
    margin-bottom: 20px;
    text-align: center; }
    #form #form-one div {
      font-family: Verdana,monospace;
      font-size: 35px;
      padding-bottom: 10px; }
  #form #form-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    #form #form-two input {
      padding-left: 10px;
      width: 30%;
      height: 20px;
      border: none;
      margin: 0 5% 0;
      box-shadow: 1px 1px 1px black; }
  #form #form-three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    #form #form-three input {
      padding-left: 10px;
      width: 30%;
      height: 20px;
      border: none;
      margin: 0 5% 0;
      box-shadow: 1px 1px 1px black;
      font-weight: 900; }
  #form #form-four {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    #form #form-four textarea {
      padding-left: 10px;
      width: 70%;
      height: 150px;
      border: none;
      margin: 0 10px 0;
      padding-bottom: 10px;
      box-shadow: 2px 2px 3px black; }

@media (min-width: 1700px) {
  #form input {
    height: 50px !important; }
  #form textarea {
    height: 300px !important; }
  #form input, #form textarea {
    font: bold 25px sans-serif; }
  #form ::placeholder {
    font-size: 25px !important; } }

.mark {
  width: 30px;
  height: 30px;
  background-image: url("/img/place.png");
  background-size: 100% 100%;
  position: relative; }

#tone {
  left: 5%;
  top: 22%; }

#ttwo {
  left: 23%;
  top: 1%; }

#tthree {
  left: 36.5%;
  top: 11%; }

#tfour {
  left: 37%;
  top: 30%; }

#tfive {
  left: 88%;
  top: 4%; }

#tsix {
  left: 60%;
  top: -10%; }

#one {
  left: 8%;
  top: 54%; }

#two {
  left: 19%;
  top: 33%; }

#three {
  left: 52%;
  top: 34%; }

#four {
  left: 36%;
  top: 35%; }

#five {
  left: 96%;
  top: 20%; }

#six {
  left: 73%;
  top: 8%; }

#seven {
  left: 77%;
  top: -15%; }

#eight {
  left: 79%;
  top: -17%; }

#nine {
  left: 82%;
  top: -31%; }

#ten {
  left: 37%;
  top: -33%; }

#el {
  left: 30%;
  top: -38%; }

#serve #kach {
  font-weight: 900;
  height: 200px;
  display: flex;
  background-image: url("/img/bar.jpg");
  background-size: 100% 100%;
  color: white;
  text-align: center;
  justify-content: center; }
  #serve #kach div {
    margin: 0 8% 0;
    padding-top: 30px; }
  #serve #kach p {
    width: 100px;
    text-shadow: 1px 1px 1px black; }

#serve #usl {
  max-width: 100%;
  flex-wrap: wrap;
  flex-flow: row;
  display: flex;
  justify-content: left; }
  #serve #usl div {
    margin: 0 4% 0; }
    #serve #usl div p {
      font-weight: 900; }

#serve .serv-list {
  font-weight: 900;
  margin: 0 -25px 40px !important;
  display: flex; }
  #serve .serv-list ul {
    margin: -30px 0 0;
    list-style: none; }
  #serve .serv-list li {
    width: 263px;
    height: 30px;
    padding-right: 10px;
    margin-left: -1em;
    padding-bottom: 10px;
    border: 0.3px rgba(0, 0, 0, 0.25) solid; }
    #serve .serv-list li text {
      position: relative;
      bottom: 12px; }
  #serve .serv-list ul li::before {
    content: "•";
    color: #ffb800;
    /* Change the color */
    font-weight: bold;
    display: inline-block;
    width: 0.6em;
    padding-left: 4px;
    margin-top: -8px;
    font-size: 50px; }

#passport {
  padding-bottom: 40px;
  padding-top: 40px; }
  #passport #pass-text {
    font-size: 30px;
    text-align: center; }
  #passport #pass-flex {
    padding-top: 40px;
    display: flex;
    margin-bottom: 30px; }
    #passport #pass-flex #pass-logo {
      background-image: url("../img/herbalife.jpg");
      background-size: 100% 100%;
      margin-right: 20px;
      margin-left: 10%;
      min-width: 300px;
      height: 200px;
      margin-bottom: 40px; }
    #passport #pass-flex text {
      margin-right: 32px;
      margin-bottom: 40px;
      max-width: 70%;
      position: relative;
      right: 0; }
  #passport #circus {
    display: flex; }
    #passport #circus div {
      margin: 0 2% 0; }
      #passport #circus div div {
        margin: 0 0 0 10px;
        width: 150px;
        height: 150px;
        border-radius: 50%; }
    #passport #circus play {
      position: relative;
      top: 60px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 30px;
      border-color: transparent transparent transparent #84898f; }
    #passport #circus text {
      position: relative;
      left: -10px;
      display: block;
      justify-content: center;
      text-align: center; }
      #passport #circus text mini {
        text-align: center;
        color: gray; }
      #passport #circus text bold {
        font: 20px bold; }

#but-take {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-family: Geom !important;
  font-weight: normal; }
  #but-take img {
    width: 170px;
    height: 45px;
    font-size: 18px;
    background-color: #FCB600;
    border: none;
    box-shadow: 0px 0px 3px black; }

#promise {
  background-image: url("../img/street.jpg");
  background-size: 112% 100%;
  color: whitesmoke;
  min-height: 25vw; }
  #promise #promise-text {
    font-family: GeomB;
    padding-bottom: 6%;
    margin-left: 60px;
    line-height: 100px;
    padding-top: 6%;
    width: 45%;
    font-size: 40px; }

.ads {
  padding-bottom: 40px; }
  .ads .title {
    padding-top: 40px; }
    .ads .title h1 {
      width: 550px; }
  .ads div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px 3% 0 !important; }
    .ads div div {
      justify-content: center;
      display: flex;
      flex-flow: column;
      width: 200px;
      height: 200px; }
      .ads div div img {
        margin-left: 15%; }
      .ads div div svg {
        margin-left: 15%; }
      .ads div div .B {
        margin-left: 15%;
        width: 90px !important; }
      .ads div div text {
        position: relative;
        bottom: 34px;
        margin-left: 9%; }
      .ads div div .hov {
        display: none; }
    .ads div div:hover text {
      color: #ffb800;
      text-shadow: #fc9b00 1px 1px 1px; }
    .ads div div:hover .hov {
      display: block; }
    .ads div div:hover .hovNo {
      display: none; }

#street {
  background-image: url("/img/main.jpg");
  background-size: 100% 100%;
  color: white;
  height: 450px; }

#room {
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: black;
  height: 450px;
  background-image: url("/img/room.jpg");
  background-size: 100% 100%; }

@media (max-width: 1107px) {
  #serve #kach div {
    max-width: 10%;
    margin: 0 5% 0; }
  #circus div div {
    margin-left: 5px !important;
    width: 100px !important;
    height: 100px !important; }
  #circus play {
    margin-top: -20px; }
  #usl div {
    margin: 0 3% !important; } }

@media (max-width: 850px) {
  #usl div {
    margin: 0 1% 0 !important; } }

@media (max-width: 819px) {
  #circus {
    margin-left: 10px; }
    #circus div {
      margin: 1px 0.7% 0 !important; }
      #circus div div {
        margin-left: 0px !important;
        width: 60px !important;
        height: 60px !important; }
    #circus play {
      margin-top: -50px;
      left: -14px; } }

@media (max-width: 779px) {
  #street, #room {
    display: none; }
  #usl {
    flex-flow: column !important; }
    #usl div {
      margin-left: 40% !important;
      margin-right: 40% !important; }
  play {
    display: none; } }

@media (max-width: 619px) {
  #usl div {
    margin-left: 25% !important;
    margin-right: 25% !important; }
  #passport #circus {
    display: none; }
  #kach {
    justify-content: left !important; }
    #kach div {
      margin-left: 6% !important;
      font-size: 11px; }
  .ads div, .room div {
    margin: 10px 3px 0 !important; }
  .ads img, .room img {
    height: 80px !important;
    width: 90px !important; }
  .ads .B, .room .B {
    width: 70px !important; }
  .ads svg, .room svg {
    height: 120px !important;
    width: 120px !important; } }

@media (max-width: 500px) {
  #pass-flex {
    flex-flow: column; }
    #pass-flex text {
      margin-left: 15%;
      margin-right: 15%; }
  h1 {
    font-size: 30px; }
  #five {
    left: 93%; } }

@media (min-width: 1500px) {
  .ads div div {
    width: 250px;
    height: 250px;
    margin-top: 50px !important; }
    .ads div div text {
      margin-left: 20% !important; }
    .ads div div img {
      min-height: 130px !important;
      min-width: 150px !important; }
    .ads div div .B {
      margin-right: 10%;
      margin-left: 30%;
      min-height: 110px !important;
      min-width: 110px !important; }
    .ads div div .Boxx {
      height: 200px !important;
      width: 150px !important; }
    .ads div div svg {
      min-height: 250px !important;
      min-width: 250px !important; }
  .ads text {
    font-size: 20px !important; }
  #street {
    height: 750px; }
    #street #one {
      top: 58% !important; }
    #street #two {
      top: 36% !important; }
    #street #three {
      top: 40%; }
    #street #four {
      top: 42% !important; }
    #street #five {
      left: 94% !important;
      top: 30% !important; }
    #street #six {
      top: 22% !important; }
    #street #seven {
      top: 6% !important; }
    #street #eight {
      top: 8% !important; }
    #street #nine {
      top: -4% !important; }
    #street #ten {
      top: -3% !important; }
    #street #el {
      top: -5% !important; }
  #room {
    height: 600px; }
    #room #tthree {
      top: 16% !important; }
    #room #tfour {
      top: 38% !important; }
    #room #tsix {
      top: 1% !important; }
    #room #tone {
      top: 22% !important; }
    #room #tfive {
      top: 13% !important; } }

@media (min-width: 1700px) {
  .mark {
    height: 40px;
    width: 40px; }
  #usl div {
    margin: 0 5.5% 0 !important; }
  #usl p {
    font-size: 18px !important;
    left: 45% !important;
    bottom: 65px;
    width: 155px; }
  #usl img {
    border-bottom: 60px black solid !important;
    width: 350px !important;
    height: 500px !important; }
  .serv-list ul {
    margin-top: -55px !important; }
  .serv-list li {
    margin-left: -17px !important;
    width: 362px !important;
    height: 30px !important;
    font-size: 19px !important; }
  #but-take img {
    height: 50px !important;
    width: 200px !important;
    font-size: 26px; }
  .ads text {
    font-size: 25px !important; }
  #street {
    height: 820px; }
    #street #one {
      top: 60% !important; }
    #street #two {
      top: 35% !important; }
    #street #three {
      top: 38% !important; }
    #street #four {
      top: 39% !important; }
    #street #five {
      top: 25% !important; }
    #street #six {
      top: 19% !important; }
    #street #seven {
      top: -2% !important; }
    #street #eight {
      top: -2% !important; }
    #street #nine {
      top: -15% !important; }
    #street #ten {
      top: -14% !important; }
    #street #el {
      top: -18% !important; }
  #room {
    height: 700px; }
    #room #tthree {
      top: 16% !important; }
    #room #tfour {
      top: 38% !important; }
    #room #tsix {
      top: 1% !important; }
    #room #tone {
      top: 22% !important; }
    #room #tfive {
      top: 13% !important; }
  #pass-logo {
    height: 450px !important;
    min-width: 600px !important; }
  #promise-text {
    width: 46% !important; }
  #kach {
    height: 350px !important;
    font-size: 20px; }
    #kach div {
      padding-top: 62px !important;
      text-align: center; }
      #kach div img {
        width: 120px !important;
        height: 120px !important; }
      #kach div p {
        font-size: 25px !important;
        width: auto !important; }
  #passport #pass-flex text {
    max-width: 60% !important;
    font-size: 25px;
    margin-right: 10%; }
  #passport #circus bold {
    font-size: 25px !important;
    font-weight: 900 !important; }
  #passport #circus mini {
    font-size: 18px !important;
    font-weight: 800 !important; }
  #passport #circus div div {
    margin: 0 0 0 47px !important; }
  #passport #circus div #designI {
    margin: 0 0 0 76px !important; }
  #passport #circus div #callI {
    margin: 0 0 0 29px !important; } }

.title {
  font-family: GeomB;
  margin-top: 40px;
  display: flex;
  text-align: center;
  justify-content: center; }

#body {
  width: 100vw;
  height: 390px; }

.polaroid {
  position: relative;
  border-radius: 10px;
  width: 220px;
  max-width: 220px; }

.polaroid img {
  width: 250px;
  height: 350px;
  border: 10px solid #000000;
  border-bottom: 45px solid #000000;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777; }

.polaroid p {
  color: white;
  position: relative;
  text-align: center;
  width: 100%;
  left: 10.5%;
  bottom: 40px;
  font: 400 15px/1 Geom , cursive;
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */