@import "kron.css"


#font-flex
  flex-wrap: wrap
  .elem
    margin: 10px 2%
    max-width: 300px !important
    div
      strong
        font-size: 14px
#flex-box
  .elem
    margin: 15px 5% 0 !important
  p
    margin-top: 10px!important
  img
    height: 200px !important

@media ( min-width : 1700px )
  .smthImg
    height: 800px !important
    min-width: 800px !important
  #flex-box
    max-width: 64%!important
    margin: 130px 17%
  #font-flex
    margin: 250px 18% 260px
