@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/title"
@import "everypage/smth"
@import "everypage/button"
tbody
  margin-left: 11.5%
  margin-right: 10.5%
.title
  .buttonImg, .calc
    margin-top: 10px!important
  h1
    font-weight: 900
.photoflex
  margin: 40px 10.5% 40px 10.5%
  display: flex
  align-items: center
  justify-content: space-between
  .left,.right
    height: 50px
    width: 50px
    background-size: 100% 100%
  .left
    transform: rotate(180deg)
    background-image: url("../img/next.png")
  .right
    background-image: url("../img/next.png")
  img
    height: 150px
    width: 150px
.title
  button
    font-size: 1.5vw!important
table
  border-spacing: 10px
  .price
    width: 24vw!important
  .name
    width: 55vw!important
@media ( max-width : 1400px )
  table
    tbody
      margin-left: 9.5%
      margin-right: 9.5%
@media ( max-width : 1000px )
  .photoflex
    img
      height: 100px!important
      width: 100px!important

@media ( max-width : 640px )
  .photoflex
    img
      height: 80px!important
      width: 80px!important

@media ( min-width : 1700px )
  tbody
    margin-left: 8%!important
    margin-right: 8%!important
    font-size: 25px
  .photoflex
    margin-top: 70px
    margin-bottom: 100px
    img
      transform: scale(1.5)
@-moz-document url-prefix()
  table
    .name
      width: 56vw!important