@import "light.css"
.title
  margin-bottom: 10px
  h2,h1
    margin-top: 0
    margin-bottom: 0
.flex-page
  #smth
    margin-bottom: 125px
    font-weight: 400
    height: auto
    a
      text-decoration: none
      color: #5bbeaa
    a:hover
      text-decoration: #ffb700 underline
      color: #ffb700
.smth
  margin-left: 0.2vw
  margin-right: 0
  .leftflex
    margin-left: 1vw
    .flexbuts
      margin-top: 25px
      .calc, .buttonImg
        min-height: 35px!important
        width: 125px!important
        height: 42px!important
        min-width: 114px!important
  .scroll-container
    height: 114px
    overflow-y: auto
  .smthImg
    min-width: 267px
    height: 340px
    margin-bottom: -20px
    bottom: 34px!important
  .rightflex
    position: relative
    margin-left: 0!important
  div
    p
      padding-left: 15px
      padding-right: 13px!important
  table
    width: 98%
    margin-bottom: 0!important
    padding-top: 20px
    padding-left: 20px
    position: absolute
    bottom: 0
    tbody
      tr
        td
          height: 27px!important
          padding: 0px 7px
        .name
          font-size: 16px!important
          width: 27%
        .price
          font-size: 15px!important
          width: 12%
      .main
        td
          font-size: 17px!important
  .leftflex
    width: 55%
.title
  .buttonImg, .calc
    margin-top: 10px!important
  h1
    font-weight: 900
.photoflex
  margin: 10px 0vw!important
  display: flex
  align-items: center
  justify-content: space-between
  .left,.right
    height: 55px
    width: 24px
    background-size: 100% 100%
  .left
    //margin-right: -4%
    transform: rotate(180deg)
    background-image: url("../img/next.png")
  .right
    //margin-left: -4%
    background-image: url("../img/next.png")
  img
    height: 150px
    width: 150px
.title
  button
    font-size: 1.5vw!important
@media ( max-width : 1500px ) and (min-width: 1301px)
  .smth
    table
      tbody
        tr
          .name,.price
            padding: 5px
            font-size: 12px!important

@media ( max-width : 1300px )
  .smth
    table
      tbody
        tr
          .name,.price
            font-size: 13px!important
@media ( max-width : 1200px )
  #smth
    margin-top: 0
    .imgSwitcher
      margin-top: 0!important
    .smthImg
      margin-top: -20px!important
      bottom: 33px!important
  .flex-page
    .smth
      margin-bottom: 10px
      margin-top: 0
      .leftflex
        margin-left: 0
        .flexbuts
          width: 85%
          margin-left: 36%
          margin-right: 36%
          justify-content: space-evenly!important
          margin-bottom: 20px
      .rightflex
        .scroll-container
          padding-top: 0
          overflow-y: hidden
          height: auto
        table
          width: 100%
          padding-left: 15px
          padding-top: 0
          position: relative!important
@media ( max-width : 1000px )
  .photoflex
    img
      height: 100px!important
      width: 100px!important

@media ( max-width : 640px )
  .photoflex
    img
      height: 80px!important
      width: 80px!important
@media ( min-width : 1700px )
  .smth
    table
      padding-left: calc(1vw + 10px)
  #spaceLight
    height: 47px!important
  #spaceSymb
    height: 72px!important
  #spaceKron
    height: 110px!important
  .smth
    .rightflex
      margin-left: -10px!important
      p
        padding-left: 30px!important
  .photoflex
    margin-top: 70px
    margin-bottom: 50px
    img
      height: 200px
      width: 200px
@media ( min-width : 1800px )
  .flex-page
    .smth
      .rightflex
        .row11
          height: 100px!important
        .row9
          height: 180px!important
        .row7
          height: 215px!important
        .row5
          height: 290px!important
        .row3
          height: 360px!important
        .row1
          height: 420px!important
    #smth
      margin-bottom: 100px!important
@-moz-document url-prefix()
  .smth
    table
      width: 100%

@media (max-width: 600px)
  .flex-page
    margin-left: 0
    margin-right: 0
    .smth
      .leftflex
        .flexbuts
          width: 125%
          margin-left: 0
          margin-right: 0
          justify-content: space-between!important
          .calc .buttonImg
            min-height: 35px!important
            height: 35px!important
            width: 120px!important
