@import "everypage/dropdown"
@import "everypage/hdr"
@import "everypage/footer"
@import "everypage/table"
@import "everypage/title"
@import "everypage/smth"
@import "everypage/button"
tbody
  margin-left: 14.5%
  margin-right: 14.5%
.title
  .buttonImg, .calc
    margin-top: 10px!important
  h1
    font-weight: 900
.photoflex
  margin-top: 40px
  margin-bottom: 40px
  display: flex
  justify-content: center
  img
    margin: 0 0.3% 0
    height: 150px
    width: 150px
.title
  button
    font-size: 1.5vw!important
table
  border-spacing: 10px
  .price
    width: 24vw!important
  .name
    width: 52vw!important
@media ( max-width : 1000px )
  .photoflex
    img
      height: 100px!important
      width: 100px!important

@media ( max-width : 640px )
  .photoflex
    img
      height: 80px!important
      width: 80px!important

@media ( min-width : 1700px )
  tbody
    font-size: 25px
  .photoflex
    margin-top: 70px
    margin-bottom: 100px
    img
      transform: scale(1.5)
      margin: 0 3% 0 !important
