@import url(light.css);
.title {
  margin-bottom: 10px; }
  .title h2, .title h1 {
    margin-top: 0;
    margin-bottom: 0; }

#smth {
  font-weight: 400;
  height: auto; }
  #smth a {
    text-decoration: none;
    color: #5bbeaa; }
  #smth a:hover {
    text-decoration: #ffb700 underline;
    color: #ffb700; }

.smth {
  margin-left: 0;
  margin-right: 0; }
  .smth .leftflex {
    margin-left: 1vw; }
  .smth .scroll-container {
    height: 114px;
    overflow-y: auto; }
  .smth .smthImg {
    margin-bottom: -20px;
    bottom: 34px !important;
    min-width: 340px !important; }
  .smth .rightflex {
    position: relative;
    margin-left: 0 !important; }
  .smth div p {
    padding-left: 15px;
    padding-right: 13px !important; }
  .smth table {
    width: 98%;
    margin-bottom: 0 !important;
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    bottom: 0; }
    .smth table tbody tr td {
      height: 27px;
      padding: 7px; }
    .smth table tbody tr .name {
      font-size: 16px !important;
      width: 27%; }
    .smth table tbody tr .price {
      font-size: 15px !important;
      width: 12%; }
    .smth table tbody .main td {
      font-size: 17px !important; }
  .smth .leftflex {
    width: 55%; }
    .smth .leftflex .flexbuts {
      justify-content: space-between !important;
      margin-left: 30%;
      margin-right: 30%; }
      .smth .leftflex .flexbuts .buttonImg, .smth .leftflex .flexbuts .calc {
        min-height: 40px !important;
        width: 8vw !important; }

.title .buttonImg, .title .calc {
  margin-top: 10px !important; }

.title h1 {
  font-weight: 900; }

.photoflex {
  margin: 10px 0vw !important;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .photoflex .left, .photoflex .right {
    height: 55px;
    width: 24px;
    background-size: 100% 100%; }
  .photoflex .left {
    transform: rotate(180deg);
    background-image: url("../img/next.png"); }
  .photoflex .right {
    background-image: url("../img/next.png"); }
  .photoflex img {
    height: 150px;
    width: 150px; }

.title button {
  font-size: 1.5vw !important; }

@media (max-width: 1500px) and (min-width: 1301px) {
  .smth table tbody tr .name, .smth table tbody tr .price {
    padding: 5px;
    font-size: 12px !important; } }

@media (max-width: 1300px) {
  .smth table tbody tr .name, .smth table tbody tr .price {
    font-size: 13px !important; } }

@media (max-width: 1200px) {
  #smth {
    margin-top: 0; }
    #smth .imgSwitcher {
      margin-top: 0 !important; }
    #smth .smthImg {
      margin-top: -20px !important;
      bottom: 33px !important; }
  .smth .leftflex .flexbuts {
    justify-content: space-evenly !important;
    margin-bottom: 20px; }
  .smth .rightflex table {
    width: 100%;
    padding-left: 31px;
    padding-top: 0;
    position: relative !important; } }

@media (max-width: 1000px) {
  .smth .rightflex table {
    padding-left: 10px; }
  .photoflex img {
    height: 100px !important;
    width: 100px !important; } }

@media (max-width: 640px) {
  .photoflex img {
    height: 80px !important;
    width: 80px !important; } }

@media (min-width: 1700px) {
  .smth table {
    padding-left: calc(1vw + 10px); }
  #spaceLight {
    height: 47px !important; }
  #spaceSymb {
    height: 72px !important; }
  #spaceKron {
    height: 110px !important; }
  .smth .rightflex {
    margin-left: -10px !important; }
    .smth .rightflex p {
      padding-left: 30px !important; }
  .photoflex {
    margin-top: 70px;
    margin-bottom: 50px; }
    .photoflex img {
      height: 200px;
      width: 200px; } }

@media (min-width: 1800px) {
  .flex-page #smth {
    margin-bottom: 100px !important; } }

@-moz-document url-prefix() {
  .smth table {
    width: 100%; } }

/*# sourceMappingURL=viv.css.map */