@import "tables.css"
@import "stands.css"

#font-flex
  justify-content: space-evenly
  .elem
    padding-left: 0!important
    padding-right: 0!important
    padding-bottom: 0px!important
    background-color: gainsboro
    max-width: 30vw!important
    height: 31vw
    min-width: 440px
    min-height: 500px
    margin: 30px 2% !important
    strong
      margin-top: 6px
      margin-bottom: 6px
    img
      margin-left: 1vw
      margin-right: 1vw
      width: 25vw
      height: 25vw
      min-height: 379px
      min-width: 379px
    button,.calc
      margin-bottom: 10px
      min-height: 50px!important
      min-width: 140px!important
    div
      margin-bottom: -4px
.smth,#smth
  margin-left: 12%
  margin-right: 12%
  .smthImg
    height: 380px!important
    min-width: 325px!important

@media (min-width: 1700px)
  .smth,#smth
    .smthImg
      height: 550px!important
      min-width: 450px!important
@media (max-width: 1700px)
  .elem
    img
      margin-left: 2.1vw!important
      margin-right: 2.1vw!important

@media (max-width: 1400px)
  .elem
    img
      margin-left: 30px!important
      margin-right: 30px!important
@media (min-width: 1700px)
  #font-flex
    margin: 150px 14% 150px

