block dropdown
    div(id="dropdown" class="dropdown" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/viv')")
                text вывески
            li(onclick="moveTo('/light')")
                text световые короба
            li(onclick="moveTo('/fonts')")
                text объемные буквы
            li(onclick="moveTo('/lightpan')")
                text световая панель
            li(onclick="moveTo('/kron')")
                text панель-кронштейн
            li(onclick="moveTo('/navs')")
                text навигационные таблички
            li(onclick="moveTo('/nolight')")
                text несветовые вывески
        ul
            li(onclick="moveTo('/pilon')")
                text рекламные пилоны
            li(onclick="moveTo('/stands')")
                text стенды
            li(onclick="moveTo('/shtender')")
                text штендеры
            li(onclick="moveTo('/inputgroup')")
                text входные группы
            li(onclick="moveTo('/tables')")
                text таблички
            li(onclick="moveTo('/mobstand')")
                text мобильные стенды
            li(onclick="moveTo('/zones')")
                text фотозоны

        ul
            li(onclick="moveTo('/banners')")
                text баннеры
            li(onclick="moveTo('/placnposts')")
                text плакаты
            li(onclick="moveTo('/autobrand')")
                text автобрендирование
            li(onclick="moveTo('/infstands')")
                text информационные стенды
            li(onclick="moveTo('/setups')")
                text крышные установки
            li(onclick="moveTo('/vist')")
                text выстовочные стенды

        ul(id="lastUL")
            li(onclick="moveTo('/frez')")
                text фрезерная резка
            li(onclick="moveTo('/design')")
                text дизайн
            li(onclick="moveTo('/sign')")
                text регистрация
            li(onclick="moveTo('/mont')")
                text монтаж
            li(onclick="moveTo('/dost')")
                text доставка
