block dropdown
    div(id="dropdown")
        ul
            li(onclick="moveTo('/viv')")
                text вывески
            li(onclick="moveTo('/light')")
                text световые короба
            li(onclick="moveTo('/fonts')")
                text объемные буквы
            li(onclick="moveTo('/lightpan')")
                text световая панель
            li(onclick="moveTo('/kron')")
                text панель-кронштейн
        ul
            li(onclick="moveTo('/pilon')")
                text инфо-пилоны
            li(onclick="moveTo('/stands')")
                text стенды
            li(onclick="moveTo('/shtender')")
                text штендеры
            li(onclick="moveTo('/inputgroup')")
                text входные группы
            li(onclick="moveTo('/tables')")
                text таблички
        ul
            li(onclick="moveTo('/banners')")
                text баннеры
            li(onclick="moveTo('/placnposts')")
                text плакаты
            li(onclick="moveTo('/autobrand')")
                text автобрендирование
            li(onclick="moveTo('/infstands')")
                text информационные стенды
            li(onclick="moveTo('/setups')")
                text крышные установки
        ul(id="lastUL")
            li(onclick="moveTo('/mobstand')")
                text мобильные стенды
            li(onclick="moveTo('/zones')")
                text фотозоны
            li(onclick="moveTo('/navs')")
                text навигация
            li(onclick="moveTo('/vist')")
                text выстовочные стенды
            li(onclick="moveTo('/nolight')")
                text несветовые вывески