block dropdown2
    div(id="dropdown2" class="dropdown2" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/viv')")
                text вывески
            li(onclick="moveTo('/light')")
                text световые короба
            li(onclick="moveTo('/fonts')")
                text объемные буквы
            li(onclick="moveTo('/lightpan')")
                text световая панель
            li(onclick="moveTo('/kron')")
                text панель-кронштейн
            li(onclick="moveTo('/navs')")
                text навигация
            li(onclick="moveTo('/nolight')")
                text несветовые вывески
