block dropdown2
    div(id="dropdown2")
        ul
            li(onclick="moveTo('/viv')")
                span вывески
            li(onclick="moveTo('/light')")
                span световые короба
            li(onclick="moveTo('/fonts')")
                span объемные буквы
            li(onclick="moveTo('/lightpan')")
                span световая панель
            li(onclick="moveTo('/kron')")
                span панель-кронштейн
