block dropdown2
    div(id="dropdown2" class="dropdown2" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/viv')")
                text вывески
            li(onclick="moveTo('/fonts')")
                text объемные световые буквы
            li
                text рекламные конструкции
            li(onclick="moveTo('/setups')")
                text крышные установки
            li
                text оформление стоек
            li
                text флаги и флагштоки
        ul
            li
                text вывески из композит
            li(onclick="moveTo('/kron')")
                text панель-кронштейн
            li(onclick="moveTo('/lightpan')")
                text световая панель
            li(onclick="moveTo('/autobrand')")
                text автобрендирование
            li
                text световые вывески
        ul
            li(onclick="moveTo('/nolight')")
                text несветовые вывески
            li
                text световые буквы
            li(onclick="moveTo('/pilon')")
                text рекламные пилоны
            li
                text маркизы
            li(onclick="moveTo('/inputgroup')")
                text входные группы
        ul(id="lastUL")
            li(onclick="moveTo('/light')")
                text световые короба
            li
                text LED-панели
            li
                text CITY-ФОРМАТ
            li
                text оформление стоек
            li(onclick="moveTo('/banners')")
                text баннеры
