block dropdown3
    div(id="dropdown3" class="dropdown3" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/pilon')")
                text рекламные пилоны
            li(onclick="moveTo('/stands')")
                text стенды
            li(onclick="moveTo('/shtender')")
                text штендеры
            li(onclick="moveTo('/inputgroup')")
                text входные группы
            li(onclick="moveTo('/tables')")
                text таблички
            li(onclick="moveTo('/mobstand')")
                text ROLL-UP
            li(onclick="moveTo('/zones')")
                text фотозоны
