block dropdown3
    div(id="dropdown3")
        ul
            li(onclick="moveTo('/pilon')")
                span инфо-пилоны
            li(onclick="moveTo('/stands')")
                span стенды
            li(onclick="moveTo('/shtender')")
                span штендеры
            li(onclick="moveTo('/inputgroup')")
                span входные группы
            li(onclick="moveTo('/tables')")
                span таблички
