block dropdown3
    div(id="dropdown3" class="dropdown3" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/mobstand')")
                text ROLL-UP
            li(onclick="moveTo('/Press-Wall')")
                text Press-Wall
            li(onclick="moveTo('/vist')")
                text выстовочные стенды
            li
                text интерьерные вывески
            li
                text планы эвакуации
            li
                text печать на пленке
        ul
            li печать на пленке
            li(onclick="moveTo('/infstands')")
                text информационные стенды
            li(onclick="moveTo('/lightpan')")
                text Световая панель
            li(onclick="moveTo('/placnposts')")
                text плакаты
            li
                text печать на стеке
            li
                text печать картин
        ul
            li(onclick="moveTo('/navs')")
                text навигационные таблички
            li
                text хардпостеры
            li(onclick="moveTo('/pilon')")
                text рекламные пилоны
            li
                text ростовые фигуры
            li
                text печать наклеек
            li(onclick="moveTo('/stickers')")
                text наклейки
        ul
            li(onclick="moveTo('/zones')")
                text фотозоны
            li(onclick="moveTo('/tables')")
                text таблички
            li оформление стоек
            li посматериали
            li Show-Box