block dropdown4
    div(id="dropdown4" onclick="event.stopPropagation()")
        ul
            li(onclick="moveTo('/banners')")
                text баннеры
            li(onclick="moveTo('/placnposts')")
                text плакаты
            li(onclick="moveTo('/autobrand')")
                text автобрендирование
            li(onclick="moveTo('/infstands')")
                text информационные стенды
            li(onclick="moveTo('/setups')")
                text крышные установки
            li(onclick="moveTo('/vist')")
                text выстовочные стенды