block dropdown4
    div(id="dropdown4")
        ul
            li(onclick="moveTo('/banners')")
                span баннеры
            li(onclick="moveTo('/placnposts')")
                span плакаты
            li(onclick="moveTo('/autobrand')")
                span автобрендирование
            li(onclick="moveTo('/infstands')")
                span информационные стенды
            li(onclick="moveTo('/setups')")
                span крышные установки
