block dropdown4
    div(id="dropdown4" class="dropdown4" onclick="event.stopPropagation()")
        ul
            li широкоформатная печать топеров
            li(onclick="moveTo('/kron')") печать штендеров
        ul
            li печать на пленке
            li(onclick="moveTo('/mobstand')") печать роллапов
        ul
            li демонтаж вывески
            li мойка вывески
        ul
            li(onclick="moveTo('/stickers')") печать наклеек
            li(onclick="moveTo('/fonts')") световые буквы
        ul
            li печать на сетке