block dropdown5
    div(id="dropdown5" class="dropdown5" onclick="event.stopPropagation()")
        ul(onclick="")
            li(onclick="moveTo('/frez')")
                text фрезерная резка
            li(onclick="moveTo('/design')")
                text дизайн
            li(onclick="moveTo('/sign')")
                text регистрация
            li(onclick="moveTo('/mont')")
                text монтаж
            li(onclick="moveTo('/dost')")
                text доставка
