block dropdown5
    div(id="dropdown5" class="dropdown5" onclick="event.stopPropagation()")
        ul
            li широк  оформатная печать т оперо
            li(onclick="moveTo('/shtender')")
                text штендеры
        ul
            li печать на пленке
            li печать роллапов
            li(onclick="moveTo('/zones')")
                text фотозоны
        ul
            li печать наклеек
            li
                text световые буквы
        ul
            li печать на стеке
            li(onclick="moveTo('/tables')")
                text таблички

