block table
    tr(class="main blue")
        td(class="name") тип
        td(class="price") односторонний
        td(class="price") двусторонний
    tr(class="")
        td(class="name") Арочный малый (500х755 мм)
        td(class="price") от 4500 руб
        td(class="price") от 5000 руб
    tr(class="blue")
        td(class="name") Арочный стандартный (600х1150 мм)
        td(class="price") от 4800 руб
        td(class="price") от 5300 руб
    tr(class="")
        td(class="name") Арочный большой (725х1715 мм)
        td(class="price") от 6500 руб
        td(class="price") от 7000 руб
    tr(class="blue")
        td(class="name") Нестандартный штендер
        td(class="price") от 7700 руб
        td(class="price") от 8200 руб
