block main
    p Заказывайте изготовление входных групп: несветовые и световые, любых форм, цветов, материалов и размеров. Наши менеджеры помогут и проконсультируют по всем интересующим Вас вопросам, согласуют дизайн и просчитают смету за один день. Мы гарантируем высокий уровень сервиса и низкую стоимость изготовления.
    p Московская рекламно-ремонтная компания осуществляет проектирование, изготовление и оформление рекламных входных групп для торговых и промышленных предприятий, магазинов, ресторанов, клубов, гостиниц и других организаций. Мы имеем собственное, оснащённое современным оборудованием производство и штат квалифицированных специалистов, настоящих профессионалов своего дела.
