block table
    tr(class="main blue")
        td(class="name") тип
        td(class="price") цена
    tr
        td(class="name") Оформление входной группы
        td(class="price") от 6500 руб
    tr(class="blue")
        td(class="name") Отделка входной группы алюмокомпозитом
        td(class="price") от 5900 руб
    tr
        td(class="name") Отделка входной группы металлокассетами
        td(class="price") от 4100 руб
    tr(class="blue")
        td(class="name") Отделка входной группы HPL-панелями
        td(class="price") от 9800 руб
    tr
        td(class="name") Отделка входной группы керамогранитом
        td(class="price") от 3800 руб
    tr(class="blue")
        td(class="name") Монтаж входной группы
        td(class="price") от 2500 руб
    tr
        td(class="name") Демонтаж входной группы
        td(class="price") от 2500 руб
    tr(class="blue")
        td(class="name")
        td(class="price")
