link(rel='stylesheet', href='/style/calc.css')
include slider
include header
script(src='../js/index.js')
script(src='../js/Global.js')
div(class="calc-flex" onclick=`calc("${title}")` oninput=`calc("${title}")`)
    div(class="center")
        h1
            text КАЛЬКУЛЯТОР
            br
            text= title
        case id
            when 0
                include ./calcs/stands
            when 1
                include ./calcs/tables
            when 2
                include ./calcs/shtends
            when 3
                include ./calcs/symbs
            when 4
                include ./calcs/light
            when 5
                include ./calcs/kron
            when 6
                include ./calcs/banners
            when 7
                include ./calcs/mobstands
            when 8
                include ./calcs/plac'n'posts
            when 9
                include ./calcs/autobrand

        p ориентировочная цена:
        div
           text(id="right" style="color:red") 0
           text руб.
        div(style="height:15px;width:15px")
        button( class="orderB" onclick="displayOrder()" ) заказать
        p(style="margin-top:10px; font-size:13px; transform:scale(0.7)!important; width: 400px;") СТОИМОСТЬ МОНТАЖНЫХ РАБОТ РАСЧИТЫВАЕТСЯ ПО ИНДИВИДУАЛЬНОМУ ПРОЕКТУ

include footer
