link(rel='stylesheet', href='/style/calc.css')
script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/calc.js')

include header
include dropdown
block stand
    div(class="center")
        h1
            text КАЛЬКУЛЯТОР
            br
            text= title
        case id
            when 0
                include ./calcs/stands
            when 1
                include ./calcs/tables
            when 2
                include ./calcs/shtends
            when 3
                include ./calcs/symbs
            when 4
                include ./calcs/light
            when 5
                include ./calcs/kron
            when 6
                include ./calcs/banners
            when 7
                include ./calcs/mobstands
            when 8
                include ./calcs/plac'n'posts
            when 9
                include ./calcs/autobrand
        div(class="price-flex")
            div
                button требования к макетам
            div
                p ориентировочная цена:
                div(class="orange")
                div(class="nds")
                    text с НДС
                    text без НДС
            div
                button шаблон макета
        div(style="margin-top:30px")
            img( class="buttonImg" onclick="sendRequest()" src="../img/button.png")

include footer
