block dropdown
    div(id="dropdown")
        ul
            li(class="disable")
                span вывески
            li(onclick="moveTo('/light')")
               span световые короба
            li(onclick="moveTo('/fonts')")
                span объемные буквы
            li(onclick="moveTo('/lightpan')")
                span световая панель
            li(onclick="moveTo('/kron')")
                span панель-кронштейн
        ul
            li(class="disable")
                span пилоны
            li(class="disable")
                span стенды
            li(onclick="moveTo('/shtender')")
                span штендеры
            li(class="disable")
                span входные группы
            li(onclick="moveTo('/tables')")
                span таблички
        ul
            li(onclick="moveTo('/banners')")
                span баннеры
            li(onclick="moveTo('/placnposts')")
                span плакаты
            li(class="disable")
                span автобрендирование
            li(class="disable")
                span входные группы
            li(onclick="moveTo('/setups')")
                span крышные установки
        ul
            li(onclick="moveTo('/mobstand')")
                span мобильные стенды
            li(class="disable")
                span фотозоны
            li(onclick="moveTo('/navs')")
                span навигация
            li(class="disable")
                span выстовочные стенды
            li(onclick="moveTo('/nolight')")
                span несветовые вывески
