block dropdown
    div(id="dropdown")
        ul
            li
                span вывески
            li
               span световые короба
            li
                span объемные буквы
            li
                span свеьлвая пагедб
            li
                span панель-кронштейн
        ul
            li
                span пилоны
            li
                span стенды
            li
                span штендеры
            li
                span входные группы
            li
                span таблички
        ul
            li
                span баннеры
            li
                span плакаты
            li
                span автобрендирование
            li
                span входные группы
            li
                span крышные установки
        ul
            li
                span мобильные стенды
            li
                span фотозоны
            li
                span навигация
            li
                span выстовочные стенды
            li
                span несветовые вывески
