block dropdown
    div(id="dropdown")
        ul
            li
                span вывески
            li(onclick="moveTo('/light')")
               span световые короба
            li(onclick="moveTo('/fonts')")
                span объемные буквы
            li(onclick="moveTo('/lightpan')")
                span световая панель
            li(onclick="moveTo('/kron')")
                span панель-кронштейн
        ul
            li
                span пилоны
            li
                span стенды
            li(onclick="moveTo('/shtender')")
                span штендеры
            li
                span входные группы
            li(onclick="moveTo('/tables')")
                span таблички
        ul
            li
                span баннеры
            li
                span плакаты
            li
                span автобрендирование
            li
                span входные группы
            li
                span крышные установки
        ul
            li(onclick="moveTo('/mobstand')")
                span мобильные стенды
            li
                span фотозоны
            li
                span навигация
            li
                span выстовочные стенды
            li
                span несветовые вывески
