block footer
    div(id="footer")
        div(id="ftr-left")
            div(id="ftr-frst")
                div(id="FAQ")
                    h4 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                    ul
                        li  Как сделать заказ?
                        li(onclick="moveTo('/contacts')")  Как к Вам добраться?
                        li  Как оплатить заказ?
                        li(onclick="moveTo('/serves')")  Есть ли у Вас доставка?
                        li(class="lowscreen")  Условия и пожелания
                        li(class="lowscreen")  политика и конфедециальность
                div(id="buttons")
                    button(class="firstB") Условия и пожелания
                    p(style="")
                    button политика и конфедециальность
                div(id="soc")
                    h1 Подпишись
                    span и будь в кусе новостей!
                    div(class="soc-ico")
                        div(id="twitter")
                            img(src="../img/yellow/yellow4.png" style="width:50px; height:50px")
                        div(id="insta")
                            img(src="../img/yellow/yellow3.png" style="width:50px; height:50px")
                        div(id="skype")
                            img(src="../img/yellow/yellow2.png" style="width:50px; height:50px")
            div(id="ftr-scnd")
                div(id="info")
                    p
                        span Цены указанные на сайте
                        span(style="color:orange")  provyveski
                        span  носят ориентировочный,
                        br
                        span информационный характер и не являются публичной офертой.
                        br
                        text Актуальность ценовой политики необходимо уточнять у менеджеров
                        br
                        br
                        blue © 2020 типография provyveski. Все права защищены, полное и (или) частичное копирование, воспроизведение, использование
                        br
                        blue в любом виде запрещены и преследуются в соответствии с действующим законодательством Российской Федерации.
        div(class="ftr-right")
            div(class="phone")
                div(class="brd")
                    phone 8 (495) 728-09-56
                    br
                    email zakaz@provyvesky.ru
                    br
                    adr г. Москва, ул. Сайкина, д. 17
                    br
                div(class="brd")
                    phone 8 (903) 226-89-46
                    br
                    emai zakazdmd@stolitsaprint.ru
                    br
                    city г. Домодедово
                    adr ул. Кирова, дом 7, к 1
