block footer
    div(id="footer")
        div(id="ftr-frst")
            div(id="FAQ")
                ul
                    h4 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
                    li  Как сделать заказ?
                    li(onclick="moveTo('/contacts')")  Как к Вам добраться?
                    li  Как оплатить заказ?
                    li(class="lowscreen")  Условия и пожелания
                    li(class="lowscreen")  политика и конфедециальность

            div(id="buttons")
                button Условия и пожелания
                p
                button политика и конфедециальность
            div(id="soc")
                h1 Подпишись
                span и будь в кусе новостей!
                div(class="soc-ico")
                    div(id="twitter")
                        img(src="../img/t.png" style="width:50px; height:50px")
                    div(id="insta")
                        img(src="../img/insta.png" style="width:50px; height:50px")
                    div(id="skype")
                        img(src="../img/skype.png" style="width:50px; height:50px")

            div(class="phone")
                phone 8 (495) 728-09-56
                br
                email zakaz@stolitsaprint.ru
                br
                adr ул. Сайкина, д. 17
                br
                phone 8 (903) 226-89-46
                br
                city г. Домодедово
                br
                adr ул. Кирова, дом 7, к 1
        div(id="ftr-scnd")
            div(id="info")
                ul
                    span Цены указанные на сайте
                    span(style="color:orange")  provyveski
                    span  носят ориентировочный, информационный характер и не являются публичной офертой. Актуальность ценовой политики необходимо уточнять у менеджеров
            div(id="map")
                img(src='../img/map.png' style="width:300px; height:150px")
            div(class="lowscreen soc-ico")
                h1 Подпишись
                span и будь в кусе новостей!
                div(class="soc-ico")
                    div(id="twitter")
                        img(src="../img/t.png" style="width:50px; height:50px")
                    div(id="insta")
                        img(src="../img/insta.png" style="width:50px; height:50px")
                    div(id="skype")
                        img(src="../img/skype.png" style="width:50px; height:50px")