block header
    div(id="header")
        div(id="first")
            div(id="logo-warp")
                div(id="logo")
            div(id="city")
                img(src="/img/place.png")
                div
                    bold Москва
                    br
                    mini пн-пт с 10.00 до 19.00
            div(id="phone")
                img(src="/img/phone.png")
                div
                    mini 8 (495)
                    bold 728-09-56
                    br
                    mini info@provyvesky.ru

            div(id="search")
                div
                    img(src="/img/lupa.png")
                    input(type="text")
        div( id="second")
            ul
                li Бургер
                li наружная реклама
                li Интерьерная реклма
                li ширококомофртная печать
                li услуи
                li портфолио
                li конткты