a(id="arrow" href='#top' )
div(id="header2")
    div(id="firstLine")
        a(href="tel:+79032268946")
            mini 8 (903)
            bold 226-89-46
        a(href="mailto:info@provyvesky.ru" id="emailA") info@provyvesky.ru
    div( id="second")
        ul(class="scul")
            li(id="burger-li" class="scli")
                img(src="../img/menu.png" id="burger" onclick="hideDropDown('dropdown','header2')")
                include ./dropdown/newDD
            li( id="narT" onmouseover="elems('dropdown')[0].style.display='none'" onclick="hideDropDown('dropdown2')" class="scli")
                span наружная реклама
                include ./dropdown/2
            li(id="intT" onmouseover="elems('dropdown')[0].style.display='none'" onclick="hideDropDown('dropdown3')" class="scli")
                span интерьерная реклама
                include ./dropdown/3
            li(id="large-word" onmouseover="elems('dropdown')[0].style.display='none'" onclick="hideDropDown('dropdown4')" class="scli")
                span широкоформатная печать
                include ./dropdown/4
            li(id="uslugi" onmouseover="elems('dropdown')[0].style.display='none'"  onclick="moveTo('/serves')" class="scli")
                span услуги
                include ./dropdown/5
            li(class="scli" onclick="moveTo('/portfolio')")
                span портфолио
            li(id="contact" onclick="moveTo('/contacts')" class="scli")
                span контакты
