html(lang="ru")
meta(charset="utf-8")
title= title
link(rel="icon" type="image/png" href="./img/logo.png")
script(src='../js/calc.js')
meta(name="viewport" content="width=device-width, initial-scale=1")
include header2
block header
    div(id="header")
        div(id="first")
            div(id="logo-warp")
                div(id="logo" onclick="moveTo('/')")
            div(id="city")
                img(src="/img/place.png")
                div()
                    bold Москва
                    br
                    mini пн-пт с 10.00 до 19.00
            div(id="phone")
                img(src="/img/phone.png")
                div
                    mini
                        a(href="tel:+79032268946") 8 (903)
                    bold
                        a(href="tel:+79032268946") 226-89-46
                    br
                    mini
                        a(href="mailto:info@provyvesky.ru" id="emailAf") info@provyvesky.ru

            div(id="search")
                div
                    img(src="/img/lupa.png")
                    input(type="text")
        div( id="second")
            ul(class="scul")
                li(id="burger-li" class="scli")
                    img(src="../img/menu.png" id="burger" onclick="hideDropDown('dropdown','header')")
                    include ./dropdown/1
                li( id="narT" onmouseover="elems('dropdown')[1].style.display='none'" onclick="hideDropDown('dropdown2')" class="scli")
                    span наружная реклама
                    include ./dropdown/2
                li(id="intT" onmouseover="elems('dropdown')[1].style.display='none'" onclick="hideDropDown('dropdown3')" class="scli")
                    span интерьерная реклама
                    include ./dropdown/3
                li(id="large-word" onmouseover="elems('dropdown')[1].style.display='none'" onclick="hideDropDown('dropdown4')" class="scli")
                    span широкоформатная печать
                    include ./dropdown/4
                li(id="uslugi" onmouseover="elems('dropdown')[1].style.display='none'"  onclick="moveTo('/serves')" class="scli")
                    span услуги
                    include ./dropdown/5
                li(class="scli" onclick="moveTo('/portfolio')")
                    span портфолио
                li(id="contact" onclick="moveTo('/contacts')" class="scli")
                    span контакты

if title !== " PRO вывески"
    p(id="routing" style="margin-left:15vw;margin-top:263px")
        a(href='/' style="color:black;text-decoration:none") ГЛАВНАЯ
        span  |
        if path
            a(href=href style="color:black;text-decoration:none")=path
            span  |
        a= title.toUpperCase()