title= title
block header
    meta(name="viewport" content="width=device-width, initial-scale=1")
    div(id="header")
        div(id="first")
            div(id="logo-warp")
                div(id="logo" onclick="moveTo('/')")
            div(id="city")
                img(src="/img/place.png")
                div
                    bold Москва
                    br
                    mini пн-пт с 10.00 до 19.00
            div(id="phone")
                img(src="/img/phone.png")
                div
                    mini 8 (495)
                    bold 728-09-56
                    br
                    mini info@provyvesky.ru

            div(id="search")
                div
                    img(src="/img/lupa.png")
                    input(type="text")
        div( id="second")
            ul
                li(id="burger-li")
                    img(src="../img/menu.png" id="burger" onclick="hideDropDown()")
                li наружная реклама
                li интерьерная реклама
                li(id="large-word") ширококомофортная печать
                li(id="uslugi" onclick="moveTo('/serves')") услуги
                li портфолио
                li(id="contact" onclick="moveTo('/contacts')") контакты