div(class="sell" id="imgFP" onclick="event.stopPropagation()" style="background:none; border: none")
    img(id="disImg")
    img(id="close" src="img/close.png" onclick="document.getElementById('full-page').style.display='none'; document.getElementsByClassName('sell')[0].style.display='none'; document.getElementsByClassName('sell')[1].style.display='none'  ")