link(rel='stylesheet', href='/style/style.css')
script(src='../js/index.js')
script(src='../js/Global.js')

include slider
include header
include views/legacy/dropdown
block body
    div(id="body")
include footer