div(id="window" onclick="event.stopPropagation()")
    div()
        h3 Объемная световая буква из нержавеющей стали и акрила с лицевой засветкой
    div(class="smth")
        img(src="./img/letters/B.jpg")
        div
            p Дорогостоящий и презентабельный вид. На лицевой части буквы часто необходим не световой кант от  5мм по периметру, поэтому не удобен для сложных элементов с лицевой подсветкой.
            p Нержавеющая сталь толщиной 0.3-2мм вырезается на лазере, после чего лицевая и боковая части свариваются методом точечной сварки. Светорассеивающий акрил устанавливается изнутри на кантик 5-10мм из нержавеющей стали на лицевой стороне. Задняя часть со светодиодами устанавливается на саморезы
            p Нержавеющая сталь может быть серебристой или золотистой, глянцевой как зеркало, матовой или шлифованной.
    div(class="price-info")
        ul
            li Срок службы — более 10 лет
            li Яркость — высокая
            li Оптимальная высота буквы — до 100 см
            li Максимальная высота буквы — 2 м
            li Минимальная высота — 10 см
            li Минимальная толщина ножки буквы — 20 мм
            li Глубина буквы — 50-150 мм

        div(class="price-cont")
            price Цена: от 125 ₽/см
    div(id="photos")
        img
        img
        img
        img