block slider
link(rel='stylesheet', href='/style/everypage/slider.css')
div(id="full-page" onclick="document.getElementById('full-page').style.display='none'")
    include sell-mark
    include product