block slider
link(rel='stylesheet', href='/style/everypage/slider.css')
div(id="full-page" onclick="document.getElementById('full-page').style.display='none'")
    div(id="window" onclick="event.stopPropagation()")
        div(class="title")
            h3 акрил акрил ПВХ ПВХ ПВХ ПВХ неон ПВХ светодиоды светодиоды светодиоды Объемная световая буква из нержавеющей стали и акрила с лицевой засветкой
        div(class="smth")
            img
            div
                p Дорогостоящий и презентабельный вид. На лицевой части буквы часто необходим не световой кант от  5мм по периметру, поэтому не удобен для сложных элементов с лицевой подсветкой.
                p Нержавеющая сталь толщиной 0.3-2мм вырезается на лазере, после чего лицевая и боковая части свариваются методом точечной сварки. Светорассеивающий акрил устанавливается изнутри на кантик 5-10мм из нержавеющей стали на лицевой стороне. Задняя часть со светодиодами устанавливается на саморезы
                p Нержавеющая сталь может быть серебристой или золотистой, глянцевой как зеркало, матовой или шлифованной.
        div(class="price-info")
            div
                p Срок службы — более 10 лет
                p Яркость — высокая
                p Оптимальная высота буквы — до 100 см
                p Максимальная высота буквы — 2 м
                p Минимальная высота — 10 см
                p Минимальная толщина ножки буквы — 20 мм
                p Глубина буквы — 50-150 мм

            div
                price Цена: от 125 ₽/см