block slider
link(rel='stylesheet', href='/style/everypage/slider.css')
div(id="full-page" onclick="" +
        "document.getElementById('full-page').style.display='none'; " +
        "document.getElementsByClassName('sell')[0].style.display='none'; " +
        "document.getElementsByClassName('sell')[1].style.display='none';" +
        "document.getElementById('order').style.display='none';" +
        "document.getElementById('message').style.display='none';"+
        "document.getElementById('messageC').style.display='none';")
    include comeOut/sell-mark
    include comeOut/image
    include comeOut/order
    include comeOut/message
    include comeOut/messageC