block sec
    h3=title
    p  Наша компания предлагает полный спектр услуг по производству объемных све-товых букв на фасад, крышу здания или в интерьер офиса. Все объемные световые элементы, изготовленные на нашем производстве, проходят двойную проверку и упаковку, перед отправкой на монтаж или Заказчику, что исключает вероятность неисправности или брака изделий в течении долгого времени. Мы используем только самые качественные и долговечные материалы!
    ul
        li Получив от вас заявку, мы ответим развернутым коммерческим предложением с ответами на большинство вопросов, предложим наше профессиональное решение стоящих задач
        li После согласования всех моментов займемся проработкой внешнего вида, поверим ваш макет, а по необходимости создадим оригинальный дизайн.
        li После получения от вас одобрения и подтверждения всех параметров запустим фотозону в производство, контролируя все этапы.
        li По факту готовности привезем конструкции и аксессуары к вам до дверей, а также при сборке сложных элементов поможем с монтажом и установкой на любой площадке Москвы и Московской области
    p Возможности производства фотозон:
    ul
        li Широкоформатная печать, а, следовательно, оригинальные декорации и аксессуары
        li Фигурная ажурная резка, а, следовательно, сложные объекты, а также простые украшения.
        li Конструкции, а, следовательно, возможность создание крупных объемных элементов.
        li Профессиональные декораторы, которые дополнят изделия нашего производства любыми предметами, которые вы купите, оформив их согласно выбранной тематике.
