block table
    tr(class="blue")
        td(class="name") Вывески из пвх А5
        td(class="price") от 600,00 руб
    tr(class="")
        td(class="name") Вывески из пвх А4
        td(class="price") от 800,00 руб
    tr(class="blue")
        td(class="name")
        td(class="price")
