block sec
    h3 ТАБЛИЧКИ СМЕННЫЕ
    p  Изготовление указателей предлагает наша типография «PRO вывески». Указатели являются разновидностью вывесок, указывающие людям правильное направление. Указатели необходимы, к примеру, для ориентировки пешеходов о переходе проезжей части, они ориентируют человека в расположении различных общественных организаций, офисов и компаний.
    p  Виды материала, из которых производится печать указателей:
    ul
        li Пластик;
        li Композит;
        li
            span Орг. стекло
            br
            span Бывают маленькие и большие. Крепятся на фасады зданий, витрины, столбы
        li Информация, которая используется при изготовлении указателей:
        li Название компании;
        li Логотип фирмы;
        li Контакты;
        li Типы предлагаемых услуг;
        li
            span Расположение компании и расстояние до нее.
            br
            span Качественные материалы и комплектующие.
    p Продукция изготовлена из пластика, оргстекла, алюминия, металла и других материалов. Вы можете выбрать любое рекламное или информационное изображение. Мы можем изготовить для вас таблички и указатели нестандартных форм и размеров, как очень маленькие, так и очень большие. Также вы можете приобрести изделия для торговых и развлекательных центров, спортивных комплексов, учебных, медицинских и государственных учреждений.
    p Если вам нужны противопожарные таблички и указатели, необходимые для внутренней навигации, обращайтесь к нам. Мы готовы предложить вам разнообразные декоративные и конструктивные решения для информационных табличек из ПВХ или алюминия. Если у вас есть вопросы по выбору, вы можете воспользоваться консультациями наших специалистов в любое удобное для вас время