style.
    table tbody tr td {
        width: 5%;
        text-align: center;
    }
block table
    tr(class="main blue")
        td размер
        td 1-2шт
        td 3-5шт
        td 6-10шт
        td 11-20шт
        td 21-50шт
        td 50-100шт
    tr()
        td 25Х51 см
        td 2300 руб
        td 1700 руб
        td 1600 руб
        td 1500 руб
        td 1200 руб
        td 1100 руб
    tr(class="blue")
        td 25х10 см
        td 3000 руб
        td 2500 руб
        td 2300 руб
        td 2200 руб
        td 2000 руб
        td 1900 руб
    tr
        td 30х10 см
        td 3000 руб
        td 2500 руб
        td 2300 руб
        td 2200 руб
        td 2000 руб
        td 1900 руб
    tr(class="blue")
        td 25х5х2,5 см
        td 3000 руб
        td 2500 руб
        td 2300 руб
        td 2200 руб
        td 2000 руб
        td 1900 руб
