block main
    h3=title
    p Более дорогостоящий и презентабельный вид, чем буквы c корпусом из пластика или ALS. Лицевая часть не светится, но свет изнутри буквы падает на подложку и подсвечивает букву сзади.
    p Нержавеющая сталь толщиной 0.3-2мм вырезается на лазере, после чего лицевая и боковая части свариваются методом точечной сварки. Задняя часть из прозрачного акрила устанавливается на специальные «усики» из нержавеющей стали. Буква отступает от подложки на 10-30мм благодаря дистанционным держателям. Свет изнутри буквы падает на подложку.
    p Прекрасно подходят для размещения в интерьере. Буквы металлические бывают с подсветкой (контуражур, она обеспечивает ровное мягкое свечение даже при небольшом отступе от стены. или не световые.
    p Для подсветки металлических букв используется светодиодная лента. Она обеспечивает ровное мягкое свечение даже при небольшом отступе от стены.
    p Преимущества букв с контражуром:
    ul
        li Заметность в любое время суток - будет выделяется даже днем!
        li Широкая возможность дизайна;
        li За счет применения программного оборудования появилась возможность изготовления сложных прописных текстов, прочих элементов вывески;
        li Долгий срок эксплуатации
        li Экономичное энергопотребление. В среднем энергопотребление сравнимо с мощность одной 60 Вт лампочки накаливания.
    p Часто в погоне за прибылью производитель идет на хитрость и применяет в изготовлении вывески более дешевые материалы. Работая с нами вы гарантированно получите высокое качество!