link(rel='stylesheet', href='/style/serve.css')
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="info")
    div(class="title")
        h1=title
    div(class="smth")
        img(src="../img/serve/Serve1.png" class="smthImg")
        div
            p Это может быть и дизайн наружной рекламы, и разработка дизайна для размещения рекламы на автомобилях, разработка дизайн-макета для стикеров внутри общественного транспорта. Дизайн-макет — это идеи по художественному и техническому оформлению рекламной информации, представленные в графическом виде. Основой для разработки дизайн-макета являются предоставленные заказчиком материалы: логотип, слоган, фирменные (или предпочтительные) цвета, фотографии и другие элементы дизайна.
            p
                bold Разработка дизайна может быть выполнена:
            ul
                li С "нуля"
                li После предоставления вами эскизов и набросков
                li На основании фотографий из журналов и сайтов
    p Конечно же, разработку дизайна следует доверять только опытным специалистам. Они учтут все аспекты успешного макета и создадут для вас такой, который гарантированно привлечет целевую аудиторию. В своей работе наши профессионалы будут ориентироваться на пожелания и запросы целевой аудитории, актуальные тенденции, особенности вашей деятельности, конкретные пожелания и, конечно, финансовые возможности. Мы готовы доработать уже созданные проекты или создать новые. Просто расскажите о своих пожеланиях.

include ../footer