link(rel='stylesheet', href='/style/serve.css')
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="info")
    div(class="title")
        h1=title
    div(class="smth")
        img(src="../img/serve/Serve4.png" class="smthImg")
        div
            p
                text Перед отправкой мы упаковываем изделия в несколько слоёв воздушно-пупырчатой плёнки. Также при междугородных перевозках мы предлагаем упаковывать изделия в жесткий деревянный каркас. Это обеспечивает сохранность изделий, даже при самой неаккуратной перевозке. Уже изготовленные нами конструкции можно забрать самостоятельно с производства
                bold . Если конструкция забирает представитель заказчика, необходимо, чтобы у представителя заказчика была доверенность на получение этой конструкции, в противном случае конструкция не отгружается.
            p
                bold Мы предлагаем два варианта доставки на Ваш выбор:
            ul
                li Пешим курьером — 1000 рублей
                li На машине — 1500 рублей
    p Время, которое придётся затратить на изготовление заказанной вами продукции, зависит от сложности работы. Сроки заранее оговариваются с менеджером — вы будете знать, в какой из дней вам ждать звонка от сотрудника компании. В день готовности печатной продукции мы дополнительно связываемся с клиентом и вновь оговариваем условия доставки.
    p
        bold Заказы доставляются бесплатно пешим курьером в районе станций метро «Павелецкая» и «Новокузнецкая».
        text   Если ваш офис расположен поблизости или вы готовы сами подъехать к метро, чтобы забрать заказ, не упустите возможность сэкономить на доставке!
    p Мы всегда рады ответить на любые вопросы. Свяжитесь с нами и мы в подробностях расскажем, какая реклама подойдет лучше именно для Вас! Свяжитесь с нами любым способом, указанным в разделе контакты, либо просто заполните форму и мы сами свяжемся с Вами в ближайшее время для уточнения подробностей и расчета сметы.

include ../footer