link(rel='stylesheet', href='/style/serve.css')
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="info")
    div(class="title")
        h1=title
    div(class="smth")
        img(src="../img/serve/Serve5.png" class="smthImg")
        div
            p
                bold Мы предлагаем два варианта доставки на Ваш выбор:
            ul
                li Дерево, фанера, МДФ, ДСП
                li Оргстекло, акрил, ПЭТ, полистирол, поликарбонат
                li Алюминий
                li ПВХ
                li Композит
    p Фрезерная резка – один наиболее часто применяемых методов при изготовлении рекламной продукции любой сложности. Фрезеровка позволяет осуществлять резку материала, но наиболее полное техническое применение этого способа раскрывается тогда, когда есть необходимость выполнить объемные конструкции, фигурном и фасонном раскрое
    p Когда возникает необходимость в нестандартной рекламной продукции, чаще всего прибегают именно к методу фрезеровки, для того чтобы создать уникальную эксклюзивную, рекламную продукцию.
    p Кроме этого фрезерная резка материала незаменима для интерьера (ширмы, стеновые панели, 3D панели), для распила материалов по макетам заказчика (необходимые детали для сборки), в рекламных целях (сувенирная продукция, рекламные стойки, стенды, световые короба, а так же гравировка деталей).

include ../footer