link(rel='stylesheet', href='/style/serve.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header

div(class="info")
    div(class="title")
        h1=title
    div(class="smth")
        img(src="../img/serve/Serve3.png" class="smthImg")
        div
            p
                bold Мы выполняем монтаж различных видов наружной рекламы:
            ul
                li Вывески
                li Объемные буквы
                li Световые короба (лайтбоксы)
                li Таблички, указательные знаки.
                li Световые панели
                li Информационные стенды
                li Отдельно устанавливаемые рекламно-информационные изделия
    p Покупая вывеску, предприниматель не всегда задумывает ся о её установке. А когда спохватывается, ему приходится доплачивать, чтобы его реклама начала работать на него. Цена на монтаж наружной рекламы строго оговаривается нашими менеджерами перед началом работ, чтобы заказчик избежал неприятных сюрпризов. Эта цена формируется в индивидуальном порядке, так как зависит от таких факторов как тип и размер вывески, место установки, особенности крепления. Цена меняется, если требуется спецтехника.
    p Наружная реклама, даже очень надежная, в условиях нашего климата подвергается воздействию неблагоприятных погодных условий. Поэтому ее периодически приходится обслуживать и ремонтировать. Если Вас интересует монтаж рекламных вывесок по всем правилам, обращайтесь к нам. Предлагаем полный спектр услуг, начиная от выполнения макета и заканчивая размещением вывески на фасаде или в другом месте. Установка конструкций осуществляется в соответствии с законом и строительными нормами.

include ../footer
