link(rel='stylesheet', href='/style/serve.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header

div(class="info")
    div(class="title")
        h1=title
    div(class="smth")
        img(src="../img/serve/Serve2.png" class="smthImg")
        div
            text Для установки наружной рекламы требуется пройти регистрацию и утвердить выполнение монтажных работ. При этом менеджер или бизнесмен может столкнуться с различными проблемами, на решение которых потребуется дополнительное время и средства.
            p
                bold Особенности профессиональной работы:
            ul
                li Быстро и недорого
                li Оплата только по факту выполненной работы
                li Осуществление контроля над процессом согласования со стороны заказчика
    p Регистрация вывески начинается с подготовки необходи мой документации, при этом следует отметить, что пакет документов включает в себя четырнадцать бумаг, причём пять из них требуют нотариального заверения. После сбора документов необходимо представить их в различные разрешающие организации. В зависимости от конструкции вывески и типа её размещения (фасадное или консольное) требуется согласование в различных организациях – ГИБДД, Управление эстетики городской среды, Комитет градостроительства и архитектуры и т.д
    p Кроме соблюдения всех протоколов и стандартов в процессе подготовки и подачи документации на регистрацию, предприниматель должен следить за сроками, в течение которых действительны собранные документы. Если хоть один из них окажется просроченным, то процедуру придется пройти снова. Чтобы не допустить ошибок при оформлении документов, также потребуется отслеживать все изменения в правилах регистрации. Даже небольшие нововведения способны испортить всю работу. Естественно, предпринимателя, решившего заняться согласованием самостоятельно, ждут длинные очереди, отсутствие нужных людей на рабочих местах, бесполезная трата времени и напряженное психологическое состояние. Чтобы избежать этого, достаточно обратиться к профессионалам.

include ../footer