block main
    p Навигационные указатели – это гиды современного мира. Являясь неотъемлемой частью торгового цента, аэропортов, вокзалов и парковочных станций они помогают ориентиро-ваться в пространстве, не позволяя заблудиться.
    p В рекламном оформлении коммерческих и социальных уч-реждений часто используются подвесные таблички. Они яв-ляются визуальными маркерами, помогающими клиентам и покупателям ориентироваться в пространстве. Элементы на-вигации крепятся к потолку при помощи прочных лесок или металлических тросов.
    p Указатели часто можно встретить в торговых центрах, ма-газинах, поликлиниках, кинотеатрах, банках и других поме-щениях. Они применяются для указания направления к лест-ницам, лифтам, туалетам, гардеробам и другим помещениям, обозначения названий отделов и павильонов в торговых центрах и т. д.
