block table
    tr(class="main blue")
        td(class="name") размер
        td(class="price") цена
    tr()
        td(class="name")=title
        td(class="price") от 700 руб/м²
    tr(class="blue")
        td(class="name")
        td(class="price")
