block sec
    h3 ТАБЛИЧКИ ИЗ ОРГ. СТЕКЛА
    p  Производство табличек из оргстекла на заказ
    p  Оргстекло (органическое стекло) это пластик, синтетический полимер метилметакрилата. Оргстекло – экологически чистый материал, устойчивый к воздействию окружающей среды и ультрафиолетового излучения, обладающий прекрасным внешним видом и широкой цветовой гаммой. Выпускается цветное оргстекло (мы предлагаем 19 оттенков) с глянцевой и матовой поверхностью,зеркальное с золотой и серебряной поверхностью и металлик (оргстекло имитирующее металл). Таблички из оргстекла могут размещаться как внутри зданий, так и на улице. Большой выбор цветов оргстекла,его превосходные свойства и оригинальная технология лазерной инкрустации позволяют предложить Вам изготовление табличек из оргстекла на самом высоком современном уровне.
    p Наша компания предлагает Вам различные варианты табличек из оргстекла, выполненные как полностью из цветного оргстекла, так и в комбинации с зеркальным оргстеклом и металликом
    p Широкая цветовая гамма оргстекла позволяет выполнить фасадную вывеску в Ваших фирменных цветах. Она будет выглядеть ярко, современно и привлекательно. К преимуществу табличек из оргстекла следует отнести их устойчивость к воздействию окружающей среды и ультрафиолету в солнечном свете.
    p Информационное оформление любых офисных помещений потребует изготовление табличек из оргстекла. Это могут быть вывески со сменной или постоянной информацией, поэтажные указатели и офисные таблички на кабинеты.
    p Срок изготовления
    ul
        li Таблички, номерки из оргстекла 1-2 недели в зависимости от объема и сложности заказ
        li Срочно — 3-5 рабочих дней, надбавка за срочность — 50%
    p Срок изготовления отсчитывается от момента утверждения оригинал-макета Заказчиком и прихода денег на счет Исполнителя.