block table
    tr(class="main blue")
        td тип
        td(class="price") цена
    tr()
        td 20Х30 (А4)
        td(class="price") 1640 руб
    tr(class="blue")
        td 30Х40 (А3)
        td(class="price") 3500 руб
    tr
        td 40Х60 (А2)
        td(class="price") 7800 руб
    tr(class="blue")
        td
        td(class="price")
