block main
    p Флаговые указатели изготавливаются из односторонних профилей типоразмеров от D100 до D216.
    p Возможная длина профиля 200 см
    p Заглушки могут быть пластиковые и алюминиевые. Пласти-ковые серого и чёрного цвета, алюминиевые серого цвета.
    p Крепёжная основа чёрного цвета. Пластиковые вставки можно делить на автономные части, разделительная полоса в этом случае будет толщиной 4 миллиметра. Полоса уста-навливается в пазы профиля параллельно заглушкам.
    p Указатели в данной линейке изготавливаются из двухсо-ставного профиля.Длина профилей три метра.
    p Информация может быть напечатана на бумаге или на понком пластике. А также можно сделать аппликацию вини-ловой пленкой.
    p Информация меняется с помощью фирменной присоски.