.mark
  width: 30px
  height: 30px
  background-image: url("/img/place.png")
  background-size: 100% 100%
  position: relative
#tone
  left: 5%
  top: 22%
#ttwo
  left: 23%
  top: 1%
#tthree
  left: 36.5%
  top: 11%
#tfour
  left: 37%
  top: 30%
#tfive
  left: 88%
  top: 4%
#tsix
  left: 60%
  top: -10%

#one
 left: 8%
 top: 54%
#two
  left: 19%
  top: 33%
#three
  left: 52%
  top: 34%
#four
  left: 36%
  top: 35%
#five
  left: 96%
  top: 20%
#six
  left: 73%
  top: 8%
#seven
  left: 77%
  top: -15%
#eight
  left: 79%
  top: -17%
#nine
  left: 82%
  top: -31%
#ten
  left: 37%
  top: -33%
#el
  left: 30%
  top: -38%
#serve
  #kach
    font-weight: 900
    height: 200px
    display: flex
    background-image: url("/img/bar.png")
    background-size: 100% 100%
    color: white
    text-align: center
    justify-content: center
    div
      margin: 0 8% 0
      padding-top: 30px

    p
      width: 100px

  #usl
    max-width: 100vw
    flex-wrap: wrap
    flex-flow: row
    display: flex
    justify-content: left
    div
      margin: 0 4% 0
      p
        font-weight: 900

  .serv-list
    font-weight: 900
    margin: 0 -25px 40px !important
    display: flex
    ul
      margin: -30px 0 0
      list-style: none /* Remove default bullets */
    li
      background-color: rgba(204, 210, 210, 0.51)
      width: 263px
      height: 30px
      padding-right: 10px
      margin-left: -1em
      padding-bottom: 10px
      border: 0.3px rgba(0, 0, 0, 0.25) solid
      text
        position: relative
        bottom: 12px
    li:hover
      color: #ffb800
    ul li::before
      content: "\2022"  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #ffb800
      /* Change the color */
      font-weight: bold /* If you want it to be bold */
      display: inline-block /* Needed to add space between the bullet and the text */
      width: 0.6em  /* Also needed for space (tweak if needed) */
      padding-left: 4px
      margin-top: -8px
      font-size: 50px
#passport
  padding-bottom: 40px
  padding-top: 40px
  #pass-text
    font-size: 30px
    text-align: center
  #pass-flex
    padding-top: 40px
    display: flex
    margin-bottom: 30px
    #pass-logo
      background-image: url("../img/herbalife.jpg")
      background-size: 100% 100%
      margin-right: 20px
      margin-left: 10%
      min-width: 300px
      height: 200px
      margin-bottom: 40px
    text
      margin-right: 32px
      margin-bottom: 40px
      max-width: 70%
      position: relative
      right: 0
  #circus
    display: flex
    div
      display: flex
      flex-direction: column
      align-content: center
      align-items: center
      margin: 0 2% 0
      div
        margin: 0!important
        width: 150px
        height: 150px
        border-radius: 50%
    play
      position: relative
      top: 60px
      width: 0
      height: 0
      border-style: solid
      border-width: 15px 0 15px 30px
      border-color: transparent transparent transparent #84898f
    text
      position: relative
      left: -10px
      display: block
      justify-content: center
      text-align: center
      mini
        text-align: center
        color: gray
      bold
        font: 20px bold
#but-take
  display: flex
  justify-content: center
  padding-bottom: 10px
  font-family: Geom !important
  font-weight: normal
  img
    width: 170px
    height: 45px
    font-size: 18px
    background-color: #FCB600
    border: none
    box-shadow: 1px 1px 8px black

#promise
  background-image: url("../img/street.jpg")
  background-size: 112% 100%
  color: whitesmoke
  min-height: 25vw
  #promise-text
    font-family: GeomB
    padding-bottom: 6%
    margin-left: 10%
    line-height: 100px
    padding-top: 6%
    width: 45%
    font-size: 40px
.ads
  div
     text-align: center
     display: flex
     justify-content: center
     align-content: center
     align-items: center
     margin: 10px 3% 0 !important
     div
       justify-content: center
       display: flex
       flex-flow: column
       width: 200px
       height: 200px
       img
         margin-left: 15%
       svg
         margin-left: 15%
       .B
        margin-left: 15%
        width: 90px!important
       text
         position: relative
         bottom: 34px
         margin-left: 9%
       .hov
        display: none
     div:hover
       text
         color: #b47c34
       .hov
         display: block
       .hovNo
         display: none

#street
  background-image: url("/img/main.jpg")
  background-size: 100% 100%
  color: white
  height: 450px
#room
  color: white
  background-color: black
  height: 450px
  background-image: url("/img/room.png")
  background-size: 100% 100%


@media ( max-width : 1300px )
  #promise
    #promise-text
      font-size: 25px!important
  #usl
    transform: scale(0.9)!important
    width: 80vw
    position: relative
@media ( max-width : 1144px )
  #usl
    width: 100vw
    position: relative!important
    left: -3%!important
@media ( max-width : 1107px )
  #serve
    #kach
      div
        max-width: 10%
        margin: 0 5% 0
  #circus
    div
      div
        width: 100px !important
        height: 100px !important
    play
      margin-top: -20px

  #usl
    transform: scale(0.7)!important
    left: -8%!important
    div
      margin: 0 4% !important
@media ( max-width : 926px )
  #usl
    margin-top: -100px!important
    left: -10%!important
    transform: scale(0.6)!important


@media ( max-width : 850px )
  #usl
    left: -15%!important
    div
      margin: 0 4% 0!important

@media ( max-width : 819px )
  #promise
    #promise-text
      width: 60%!important
      font-size: 20px!important
      line-height: 60px!important
  #circus
    margin-left: 10px
    div
      margin: 1px 0.7% 0 !important
      div
        width: 60px !important
        height: 60px !important
    play
      margin-top: -50px
      left: -14px

@media ( max-width : 779px )
  #street, #room
    display: none
  #usl
    margin-top: 10px!important
    width: 100vw!important
    left: -7% !important
    max-width: 100vw
    flex-flow: column !important
    transform: scale(1)!important
    div
      margin-left: 37%!important
      margin-right: 37%!important
  play
    display: none


@media ( max-width : 619px )
  #passport
    #circus
      display: none

  #kach
    justify-content: left!important
    div
      margin-left: 6%!important
      font-size: 11px
  .ads, .room
    div
      margin: 10px 3px 0 !important
    img
      height: 80px!important
      width: 90px!important
    .B
      width: 70px!important
    .Boxx
      margin-bottom: 10px
      height: 120px!important
      width: 100px!important
    svg
      height: 120px!important
      width: 120px!important

@media ( max-width : 500px )
  #pass-flex
    flex-flow: column
    text
      margin-left: 15%
      margin-right: 15%
  h1
    font-size: 30px
  #five
    left: 93%



@media ( min-width : 1500px )
  .ads
    div
      div
        width: 250px
        height: 250px
        margin-top: 50px!important
        text
          margin-left: 20%!important
        img
          min-height: 130px!important
          min-width: 150px !important
        .B
          margin-right: 10%
          margin-left: 30%
          min-height: 110px!important
          min-width: 110px !important
        .Boxx
          height: 200px!important
          width: 150px!important
        svg
          min-height: 250px!important
          min-width: 250px!important
    text
      font-size: 20px!important
  #street
    height: 750px
    #one
      top: 58%!important
    #two
      top: 36%!important
    #three
      top: 40%
    #four
      top: 42% !important
    #five
      left: 94% !important
      top: 30%!important
    #six
      top: 24%!important
    #seven
      top: 4%!important
    #eight
      top: 8%!important
    #nine
      top: -6%!important
    #ten
      top: -3%!important
    #el
      top: -5%!important
  #room
    height: 600px
    #tthree
      top: 12%!important
    #tfour
      top: 29%!important
    #tsix
      top: -4% !important
    #tone
      top: 19%!important
    #tfive
      top: -2%!important

@media ( min-width : 1700px )
  .mark
    height: 40px
    width: 40px
  #usl
    justify-content: center!important
    div
      margin: 0 5.5% 0 !important
    p
      font-size: 18px!important
      left: 45%!important
      bottom: 65px
      width: 155px
    img
      border-bottom: 60px black solid !important
      width: 320px!important
      height: 380px!important
  .serv-list
    ul
      margin-top: -55px !important
    li
      margin-left: -15px!important
      width: 331px!important
      height: 30px!important
      font-size: 19px !important
  #but-take
    img
      height: 50px!important
      width: 200px!important
      font-size: 26px

  .ads
    text
      font-size: 25px!important
  #street
    height: 730px
    #one
      top: 60%!important
    #two
      top: 35%!important
    #three
      top: 38%!important
    #four
      top: 39% !important
    #five
      top: 25%!important
    #six
      top: 19%!important
    #seven
      top: -6%!important
    #eight
      top: -6%!important
    #nine
      top: -20%!important
    #ten
      top: -18% !important
    #el
      top: -23%!important

  #room
    height: 680px
    #tthree
      top: 16%!important
    #tfour
      top: 33%!important
    #tsix
      top: 1% !important
    #tone
      top: 22%!important
    #tfive
      top: 13%!important
  #pass-logo
    height: 270px!important
    min-width: 430px!important
  #promise-text
    width: 46%!important
  #kach
    height: 300px !important
    font-size: 20px
    div
      padding-top: 62px!important
      text-align: center
      img
        width: 120px!important
        height: 120px!important
      p
        font-size: 25px!important
        width: auto!important
  #passport
    #pass-flex
      text
        max-width: 60%!important
        font-size: 25px
        margin-right: 10%
    #circus
      bold
        font-size: 25px!important
        font-weight: 900!important
      mini
        font-size: 18px!important
        font-weight: 800!important
      div
        div
        #designI
        #callI

