block table
    tr(class="main blue")
        td тип
        td(class="price") цена
    tr()
        td
            text ОТ 1-4М²
            sup 2
        td(class="price")
            text 700 руб
    tr(class="blue")
        td
            text ОТ 5-9М
            sup 2
        td(class="price") 675 руб
    tr
        td
            text ОТ 10-14М
            sup 2
        td(class="price") 650 руб
    tr(class="blue")
        td
            text ОТ 15-19М
            sup 2
        td(class="price") 625 руб
    tr
        td От 20-24м²
        td(class="price") 600 руб
    tr(class="blue")
        td От 25+м²
        td(class="price") 575 руб
