block sec
    h3 ТАБЛИЧКИ УКАЗАТЕЛИ
    p  Стоимость изготовления фотозоны складывается из нескольких составных частей: разработка дизайна + производство всех частей и элементов + аренда конструкций и каркасов + доставка и монтаж на площадке
    P Изготовление всех элементов и аксессуаров для фотозоны осуществляется нами под заказ, на основе любых пожеланий наших клиентов к внешнему виду, размерам, форме, тематике исполнения и т.д. По сути, вам требуется собраться с мыслями, зафиксировать все задумки в письменном виде и отправить нам письмо, в котором обязательно отразить количество изделий, сроки готовности и место проведения мероприятий (если нужна наша помощь с монтажом). Идеально, если к заказу будут также приложены фото – примеры понравившейся продукции.
    P Структура работы строится следующим образом:
    ul
        li Получив от вас заявку, мы ответим развернутым коммерческим предложением с ответами на большинство вопросов, предложим наше профессиональное решение стоящих задач
        li После согласования всех моментов займемся проработкой внешнего вида, поверим ваш макет, а по необходимости создадим оригинальный дизайн.
        li После получения от вас одобрения и подтверждения всех параметров запустим фотозону в производство, контролируя все этапы.
        li По факту готовности привезем конструкции и аксессуары к вам до дверей, а также при сборке сложных элементов поможем с монтажом и установкой на любой площадке Москвы и Московской области
    p Возможности производства фотозон:
    ul
        li Широкоформатная печать, а, следовательно, оригинальные декорации и аксессуары
        li Фигурная ажурная резка, а, следовательно, сложные объекты, а также простые украшения.
        li Конструкции, а, следовательно, возможность создание крупных объемных элементов.
        li Профессиональные декораторы, которые дополнят изделия нашего производства любыми предметами, которые вы купите, оформив их согласно выбранной тематике.
