block table
    tr(class="main blue")
        td(class="name") тип
        td(class="price") price
    tr(class="")
        td(class="name") Создание оригинального дизайна элементов фотозоны
        td(class="price")
            text от 5000 руб/м
            sup 2
    tr(class="blue")
        td(class="name") Создание проекта оформления фотозоны
        td(class="price")
            text от 3000 руб/м
            sup 2
    tr(class="")
        td(class="name") Отдельные элементы фотозон
        td(class="price") от 400 руб
    tr(class="blue")
        td(class="name") Фотозона под ключ
        td(class="price") от 25000 руб
