block main
    p Наклейки на стекло могут использоваться для оформ-ления как интерьеров, так и внешних конструкций. По-добные изделия используют для решения нескольких задач. Они могут превратить любую прозрачную кон-струкцию в рекламный объект и способны донести нужную информацию до ваших клиентов и потенци-альных посетителей, также они могут быть использо-ваны и для оформления интерьера
    p В интерьерах используются для оформления:
    ul
        li зеркал;
        li окон;
        li витрин;
        li стеклянных перегородок и т. д.
