block table
    tr(class="main blue")
        td(class="name") тип
        td(class="price") цена
    tr
        td(class="name") Лайтбоксы и шашки
        td(class="price") от 5000 руб
    tr(class="blue")
        td(class="name") Печать на тентах
        td(class="price") от 1800 руб/м²
    tr
        td(class="name") Оклейка авто пленкой
        td(class="price") от 1520 руб /м²
    tr(class="blue")
        td(class="name")
        td(class="price")

