link(rel='stylesheet', href='/style/auto.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header


block flexbox
    div(class="title")
        h1 АВТОБРЕНДИРОВАНИЕ
    div(id="font-flex")
        div(class="elem")
            div
                strong ЛАЙТБОКСЫ
            img(src="../img/auto/auto4.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ШАШЕЧКИ
            img(src="../img/auto/auto3.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАКЛЕЙКИ
            img(src="../img/auto/auto5.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛЕНКА
            img(src="../img/auto/auto2.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛЕНКА НА ОКНА
            img(src="../img/auto/auto1.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЕЧАТЬ НА ТЕНТАХ
            img(src="../img/auto/auto6.png")
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/autobrand')") рассчитать
                button(class="buy" ) заказать

block info
    div(id="smth")
        img(src="../img/auto/auto13.png" class="smthImg")
        div
            p Следует отметить, что обычно оклеивается автомобиль с  помощью специальной виниловой пленки, имеющей хорошую устойчивость к воздействию как лютого мороза, так и палящего солнца. Более того, насыщенность цветов и оттенков позволяет достаточно ярко представить такую рекламу, повысив, таким образом, узнаваемость среди окружающих. Доверяя такую ответственную работу мастерам нашей компании, заказчик делает правильный выбор, поскольку у нас есть все необходимое материально техническое оснащение для воспроизведения требуемых изображений на пленке.
            div
                img( class="buttonImg" src="../img/button.png")

    div(id="flex-box")
        div(class="elem")
            img(src="../img/auto/auto7.png")
            br
            p
                strong Кузов
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/auto/auto10.png")
            br
            p
                strong Наклейка на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/auto/auto9.png")
            br
            p
                strong Пленка на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/auto/auto11.png")
            br
            p
                strong Шашечки на такси
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/auto/auto12.png")
            br
            p
                strong Лайтбокс на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/auto/auto8.png")
            br
            p
                strong Пленка на авто
            div
                price ≈ 15.000 руб
                button заказать

include ../footer