link(rel='stylesheet', href='/style/tables.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 АВТОБРЕНДИРОВАНИЕ
    div(id="font-flex")
        div(class="elem")
            div
                strong ЛАЙТБОКСЫ
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ШАШЕЧКИ
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАКЛЕЙКИ
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛЕНКА
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛЕНКА НА ОКНА
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЕЧАТЬ НА ТЕНТАХ
            br
            img
            p цена несветовой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать

block info
    div(id="smth")
        img
        div
            p Следует отметить, что обычно оклеивается автомобиль с  помощью специальной виниловой пленки, имеющей хорошую устойчивость к воздействию как лютого мороза, так и палящего солнца. Более того, насыщенность цветов и оттенков позволяет достаточно ярко представить такую рекламу, повысив, таким образом, узнаваемость среди окружающих. Доверяя такую ответственную работу мастерам нашей компании, заказчик делает правильный выбор, поскольку у нас есть все необходимое материально техническое оснащение для воспроизведения требуемых изображений на пленке.
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img
    div(id="flex-box")
        div(class="elem")
            img
            br
            p
                strong Кузов
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            p
                strong Наклейка на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            p
                strong Пленка на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            p
                strong Шашечки на такси
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            p
                strong Лайтбокс на авто
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            p
                strong Пленка на авто
            div
                price ≈ 15.000 руб
                button заказать

include ../footer