link(rel='stylesheet', href='/style/banners.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header

block flexbox
    div(class="title")
        h1 БАННЕРЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong БАННЕРНАЯ СЕТКА
            img(src="../img/banner/banner1.png")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/banners')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong БАНННЕРНАЯ ТКАНЬ
            img(src="../img/banner/banner9.png")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/banners')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ТРАНСЛЮЦЕНТНАЯ ТКАНЬ
            img(src="../img/banner/banner8.png")
            p цена несветовой: от 25.000 руб
            p цена световой: от 30.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/banners')") рассчитать
                button(class="buy" ) заказать

block info
    div(id="smth")
        img(src="../img/banner/banner10.png" class="smthImg")
        div
            p Баннерная реклама — один из самых дешёвых способов привлечь внимание к компании и ее товарам либо услугам. Правильно подобранное изображение, четкая и грамотно изложенная информация на баннере вызывают у потенциального потребителя интерес и желание подробнее ознакомиться с предлагаемым
            p Баннер изготавливают при помощи широкоформатной печати. Основой баннера, как правило, являются армированная ПВХ ткань, сетка, флаговая ткань
            div
                img( class="buttonImg" src="../img/button.png")
    div(id="flex-box")
        div(class="elem")
            img(src="../img/banner/banner5.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/banner/banner6.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/banner/banner7.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/banner/banner3.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/banner/banner2.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/banner/banner4.png")
            br
            div
                price ≈ 15.000 руб
                button заказать

include ../footer