link(rel='stylesheet', href='/style/contacts.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block info
    div(class="title")
        h1 КОНТАКТЫ
    div(id="smth")
        img(src="../img/map2.png")
        div
            p 115193, Москва, ул Сайкина 17, МЦК Автозаводская
            p Время работы: Пн-Пт с 10:00 - 19:00
            p
            p 8 (495) 728-09-56
            br
            p г. Домодедово, ул. Кирова, дом 7, к1
            p 8 (903) 226-89-46
            div
                img( class="buttonImg" src="../img/button.png")

    div(class="mrgn")
        strong Проход от метро Автозаводская:
        p выход из метро 1 вагон из центра, из стеклянных дверей направо и сразу первый поворот, еще раз направо за угол дома, далее прямо проходите 2 дома до МЦК переходите закрытый мост на другую сторону и продолжаете движение по улице 5-я Кожуховская прямо два дома, через подземный переход переходите на другую сторону и выходите из перехода направо, мы находимся в жилом угловом доме между магазином «Сплав» и Аптекой. Вход общий.
        p
        strong От МЦК Автозаводская:
        p в сторону проспекта идти ближе всего, максимум 5 мн. Из МЦК выход в стеклянные двери, направо спускаетесь по лестнице на улицу и продолжаете движение прямо, проходите 2 дома далее переходите по подземному переходу на другую сторону, выход из перехода направо перед Вами сразу угловое здание половина стоит на ул. 5-й Кожуховской половина на ул. Сайкина, Вам нужен вход со стороны Сайкина между магазином «Сплав» и Аптекой, дверь прямо.
        p
        strong От метро Кожуховская:
        p идти максимум 10 мин. Из метро выход в сторону первого вагона из центра, из стеклянных дверей направо далее прямо по 5-й Кожуховской улице до перекрестка, на перекрестке с левой стороны наше здание.
        p
    div(class="title")
        h1 ДОСТАВКА
    div
        table
            tr(class="blue")
                td Стоимость доставки по Москве:
                td рубли:
            tr
                td доставка курьером в пределах МКАД
                td 380 руб
            tr(class="blue")
                td доставка легковым автомобилем в пределах МКАД
                td 1 425 руб
            tr
                td доставка зрузовым автомобилем в пределах МКАД
                td 2 090 руб
            tr(class="blue")
                td за МКАД и в соседние области
                td оплата по километрам
    div(class="uls")
        strong По России заказанный товар может быть доставлен клиенту в любой регион:
        ul
            li Транспортно-экспедиционными компанниями
            li Службами доставки грузов
            li Организациями экспресс-доставки
        p При этом услуга по доставке заказа оплачивается при получении груза по тарифу транспортной компании. Рассчитать ориентировочную тоимость и сроки доставки можно на сайтах транспортных компаний, которые работают с Вашим регионом.
        strong Малогабаритные заказы могут быть отправлены:
        ul
            li Почтой России
            li Организациями экспресс-доставки EMS Почта России
        p Если у Вас возникли затруднения с выбором способа доставки, то наши менеджеры помогут подобрать оптимальный вариант и сами оформят доставку Вашего заказа до терминала транспортной компании.

include ../footer