link(rel='stylesheet', href='/style/fontsale.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block info
    div(class="title")
        h1 ОБЪЕМНЫЙ БУКВЫ ИЗ АКРИЛА С МЕТАЛЛОМ
    div(id="flex-info")
        div(id="info")
            ul
                li Срок службы — до 5 лет
                li Яркость — средняя
                li Оптимальная высота буквы — до 100 см
                li Максимальная высота буквы — 3м
                li Минимальная высота — 5см
                li Минимальная толщина ножки буквы — 15мм
                li Глубина буквы — 50-150 мм
            table
                tr(class="main blue")
                    td тип
                    td цены
                tr()
                    td
                    td
                tr(class="blue")
                    td
                    td
                tr()
                    td
                    td
                tr(class="blue")
                    td
                    td
        div()
            img(id="image" src="../img/3/content301.png")
            div(class="flexbuts")
                button(class="calc") рассчитать
                button(class="buy-tel")
                    text заказать
                    img(src="../img/buy.png" )

    div(id="flex-box")
        div(class="elem")
            img(src="../img/3/content302.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content303.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content304.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб



include ../footer