link(rel='stylesheet', href='/style/fonts.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown
block fonts
    div(class="title")
        h1 ОБЪЕМНЫЕ СВЕТЯЩИЕСЯ БУКВЫ
    div(id="font-flex")
        div(class="elem")
            img(src="/img/letters/B.jpg")
            br
            strong АКРИЛ + МЕТАЛЛ
            div
                button(class="more" onclick="moveTo('./font/akmet')") подробнее
                button(class="buy" ) заказать
        div(class="elem")
            img(src="/img/letters/S.jpg")
            br
            strong АКРИЛ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/C.jpg")
            br
            strong АКРИЛ + ПВХ+ КОНТРАЖУР
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/w.jpg")
            br
            strong МЕТАЛЛ + КОНТРАЖУР
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/A.jpg")
            br
            strong АКРИЛ + ПВХ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/X.jpg")
            br
            strong ПВХ - КОНТРАЖУР
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/U.jpg")
            br
            strong ОТКРЫТЫЙ НЕОН
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/y.jpg")
            br
            strong ОТКРЫТЫЕ СВЕТОДИОДЫ
            div
                button(class="more") подробнее
                button(class="buy") заказать

block tab
    div(class="title")
        button(class="calc") КАЛЬКУЛЯТОР

    table
        tr(class="main blue")
            td тип
            td цена
        tr
            td АКРИЛ
            td от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + ПВХ
            td от 75 руб/cм
        tr
            td ПВХ +КОНТРАЖУР
            td от 75 руб/cм
        tr(class="blue")
            td МЕТАЛЛ+ КОНТРАЖУР
            td от 150 руб/cм
        tr
            td АКРИЛ + ПВХ + КОНТРАЖУР
            td от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + МЕТАЛЛ
            td от 100 руб/cм
        tr
            td ОТКРЫТЫЙ НЕОН
            td от 140 руб/cм
        tr(class="blue")
            td ОТКРЫТЫЕ СВЕТОДИОДЫ
            td от 15 000 руб/м2
block info
    div(id="smth")
        img(src="/img/letters/letters.jpg")
        div
            p Объемные буквы – это яркая и эффективная наружная реклама. На данный момент это самые востребованные конструкции. Они не только привлекают внимание потенциальных клиентов, но и  являются единственным разрешенным  видом наружной рекламы в столице в соответствии с постановлением правительства г. Москва № 902-ПП. В подавляющем большинстве на фасады зданий устанавливаются объемные символы и важно сделать так, чтобы именно ваша вывеска была самой запоминающейся и выделялась на фоне других конструкций.
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img
    div(id="flex-box")
        div(class="elem")
            img(src="/img/letters/1.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/2.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/3.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/4.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/5.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/6.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/7.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/8.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать





include ../footer