link(rel='stylesheet', href='/style/fonts.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown
block fonts
    div(class="title")
        h1 ОБЪЕМНЫЕ СВЕТЯЩИЕСЯ БУКВЫ
    div(id="font-flex")
        div(class="elem")
            img(src="/img/letters/B.jpg" onclick="displayImg('../img/letters/B.jpg')")
            br
            strong АКРИЛ + МЕТАЛЛ
            div
                button(class="more" onclick="moveTo('./font/akmet')") подробнее
                button(class="buy" ) заказать
        div(class="elem")
            img(src="/img/letters/S.jpg" onclick="displayImg('../img/letters/S.jpg')")
            br
            strong АКРИЛ
            div
                button(class="more" onclick="moveTo('./font/ak')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/C.jpg" onclick="displayImg('../img/letters/C.jpg')")
            br
            strong АКРИЛ + ПВХ+ КОНТРАЖУР
            div
                button(class="more" onclick="moveTo('./font/akpvk')")  подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/w.jpg" onclick="displayImg('../img/letters/w.jpg')")
            br
            strong МЕТАЛЛ + КОНТРАЖУР
            div
                button(class="more" onclick="moveTo('./font/akmet')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/A.jpg" onclick="displayImg('../img/letters/A.jpg')")
            br
            strong АКРИЛ + ПВХ
            div
                button(class="more" onclick="moveTo('./font/akpv')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/X.jpg" onclick="displayImg('../img/letters/X.jpg')")
            br
            strong ПВХ - КОНТРАЖУР
            div
                button(class="more" onclick="moveTo('./font/pvk')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/U.jpg" onclick="displayImg('../img/letters/U.jpg')")
            br
            strong ОТКРЫТЫЙ НЕОН
            div
                button(class="more" onclick="moveTo('./font/neon')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="/img/letters/y.jpg"  onclick="displayImg('../img/letters/y.jpg')")
            br
            strong ОТКРЫТЫЕ СВЕТОДИОДЫ
            div
                button(class="more" onclick="moveTo('./font/svetod')") подробнее
                button(class="buy") заказать

block tab
    div(class="title")
        button(class="calc" onclick=("moveTo('./calc/symbs')") ) КАЛЬКУЛЯТОР

    table
        tr(class="main blue")
            td тип
            td цена
        tr
            td АКРИЛ
            td(class="price main") от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + ПВХ
            td(class="price main") от 75 руб/cм
        tr
            td ПВХ +КОНТРАЖУР
            td(class="price main") от 75 руб/cм
        tr(class="blue")
            td МЕТАЛЛ+ КОНТРАЖУР
            td(class="price main") от 150 руб/cм
        tr
            td АКРИЛ + ПВХ + КОНТРАЖУР
            td(class="price main") от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + МЕТАЛЛ
            td(class="price main") от 100 руб/cм
        tr
            td ОТКРЫТЫЙ НЕОН
            td(class="price main") от 140 руб/cм
        tr(class="blue")
            td ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class="price main") от 15 000 руб/м2
block info
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1")
                img(src="../img/inactive.png" class="dot" id="dot2")
                img(src="../img/inactive.png" class="dot" id="dot3")
            img(src="/img/letters/letters.jpg" class="smthImg")
            img(src="/img/letters/letters.jpg" class="smthImg" style="display: none")
            img(src="/img/letters/letters.jpg" class="smthImg" style="display: none")
        div
            p Объемные буквы – это яркая и эффективная наружная реклама. На данный момент это самые востребованные конструкции. Они не только привлекают внимание потенциальных клиентов, но и  являются единственным разрешенным  видом наружной рекламы в столице в соответствии с постановлением правительства г. Москва № 902-ПП. В подавляющем большинстве на фасады зданий устанавливаются объемные символы и важно сделать так, чтобы именно ваша вывеска была самой запоминающейся и выделялась на фоне других конструкций.
            div
                img(src="../img/button.png" class="buttonImg")
    div(id="flex-box")
        div(class="elem")
            img(src="/img/letters/1.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/2.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/3.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/4.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/5.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/6.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/7.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="/img/letters/8.jpg")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать





include ../footer