link(rel='stylesheet', href='/style/infstands.css')

script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ИНФОРМАЦИОННЫЕ СТЕНДЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong НАСТЕННЫЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info03.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАПОЛЬНЫЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info04.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЕРЕКИДНОЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info02.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong УЛИЧНЫЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info12.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРОБКОВЫЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info05.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАСТОЛЬНЫЙ
                br
                strong СТЕНД
            br
            img(src="../img/info/info11.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/stand')") рассчитать
                button(class="buy" ) заказать


block info
    div(id="smth")
        img(src="../img/info/info10.png" style="height:400px !important")
        div
            p Многие организации как муниципального, так и частного назначения часто сталкиваются с проблемой донесения важной информации до населения. Как и ранее, с этой задачей справляются стенды. Купить информационный стенд будет правильным решением, поскольку  благодаря удачному размещению данных на нем, все проходящие  мимо, могу получить требуемую информацию. Если ранее, все информационные стенды были более или менее одинаковые, и вся информация располагалась тучно и не систематизировано, то сегодня мы предлагаем вам возможность самим решить, как расположить информацию. Мы сами производим модельный ряд информационных стендов, справочных стендов и прочих конструкций информационного типа.
            div
                img( class="buttonImg" src="../img/button.png")

    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/info/info01.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/info/info06.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/info/info07.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/info/info08.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/info/info09.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/info/info01.png")
            br
            div
                price ≈ 15.000 руб
                button заказать

include ../footer