link(rel='stylesheet', href='/style/input.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="flex-page")
    div(class="title")
        h1 ВХОДНЫЕ ГРУППЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong НАБОР 1
            br
            img(src="../img/input/input6.png")
            p цена несветовой: от 20.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong НАБОР 2
            br
            img(src="../img/input/input7.png")
            p цена несветовой: от 20.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong НАБОР 3
            br
            img(src="../img/input/input9.png")
            p цена несветовой: от 20.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong НАБОР 4
            br
            img(src="../img/input/input8.png")
            p цена несветовой: от 20.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy" onclick="displayOrder()") заказать

    div(id="smth")
        img(src="../img/input/input3.png" class="smthImg")
        div
            p Входная группа – это комплекс архитектурных и технических элементов, устанавливаемых на входе в здание. В ее состав включаются не только входные двери, но и тамбур, элементы холла (включая пункт охраны), площадка перед входом, ступеньки с пандусом, навес, перила, колонны и различные декоративные архитектурные элементы.
            div
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

    div(id="flex-box")
        div(class="elem")
            img(src="../img/input/input2.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/input/input1.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/input/input4.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/input/input5.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/input/input10.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/input/input11.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать

include ../footer