link(rel='stylesheet', href='/style/kron.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header

block flexbox
    div(class="title")
        h1 ПАНЕЛЬ-КРОНШТЕЙН
    div(id="font-flex")
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/kron/kron (5).png")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/kron')") рассчитать
                button(class="buy" onclick="displayOrder()" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ
            br
            img(src="../img/kron/kron (6).png")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/kron')") рассчитать
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ФИГУРНАЯ ПАНЕЛЬ
            br
            img(src="../img/kron/kron (7).png")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/kron')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать

block info
    div(id="smth")
        img(class="smthImg" src="../img/kron/kron (4).png")
        div
            p Фигурные панель кронштейны могут исполняться в различной форме, но в большинстве случаев они имеют средний размер. При невысокой стоимости изготовления подобных объектов практическая ценность панель-кронштейнов оказывается значительной благодаря возможности использования сразу двух рекламных площадей.
            br
            br
            p Подсветка таких световых боксов может быть как интегрированной, так и внешней. Для её реализации обычно применяются светодиоды.
            div
                img( class="buttonImg" src="../img/button.png")

    div(id="flex-box")
        div(class="elem")
            img(src="../img/kron/kron (1).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/kron/kron (2).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/kron/kron (3).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/kron/kron (8).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/kron/kron (9).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/kron/kron (10).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать

include ../footer