link(rel='stylesheet', href='/style/viv.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/switcher.js')
div(class="flex-page")
    div(class="title")
        h1 ПАНЕЛЬ-КРОНШТЕЙН
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
            img( src="../img/4/top.jpg" class="smthImg")
            img(src="../img/4/content2.png"  class="smthImg" style="display:none")
            img(src="../img/4/content1.jpg"  class="smthImg" style="display:none")
        div
            p Панель-кронштейн — это односторонняя или двусторонняя конструкция, которая крепится к стенам домов и мачтам уличного освещения. Используется при размещении наружной рекламы. Данное изделие является разновидностью светового короба
            p Панель-кронштейны изготавливаются из тех же самых материалов, что и световые короба — акрил, полистирол, сотовый поликарбонат и баннерная ткань. Затем крепятся к стенездания или к столбу при помощи металлического каркаса.
            p Как правило, панель-кронштейн располагается перпендикулярно движению людского и транспортного потоков, и служит как в качестве рекламы, так и в качестве указателя. Панель-кронштейны являются одним из наиболее популярных видов наружной рекламы, они относительно недороги в изготовлении и эффективны, так как привлекают больше внимания, располагаясь перпендикулярно потоку людей или транспорта.

    div(class="title")
        h1 ПРИМЕРЫ НАШИХ РАБОТ
    div(class="photoflex")
        div(class='left' onclick="newRow('lights',false)")
        img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
        img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
        img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
        img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
        img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        div(class='right' onclick="newRow('lights',true)")
    div(class="title")
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
    div(class="title")
        h2 КРУГЛАЯ ПАНЕЛЬ
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            img(src="/img/4/content1.jpg" class="smthImg" )
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("./calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container")
                p Лайтбоксы (световые короба) широко применимы как в наружной, так и в интерьерной рекламе. Они прекрасно заметны днем и ночью, благодаря внутренней подсветке. С успехом применяются для привлечения внимания покупателей на улице, а также в торговых центрах, паркингах, кафе и ресторанах, и других местах. Мы готовы воплотить все ваши задумки - от стандартных до уникальных рельефных светящихся конструкций.
            table(id="light")
                tr(class="blue main")
                    td(class="name") тип
                    td(class="price") цена
                tr
                    td(class="name") Несветовая
                    td(class=" price") от 15000 руб
                tr(class="blue")
                    td(class="name") Световая
                    td(class=" price") от 20000 руб
    div(class="title")
        h2 ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            img(src="/img/4/content2.png" class="smthImg" )
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("./calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container")
                p Объемные буквы и логотипы – это эстетично и современно. Светящиеся, объемные, ультратонкие, супер-легкие, стальные, деревянные, пенопластовые. На фасаде здания, за стойкой ресепшен, в шоу-руме, всюду и везде. Объемным буквам по силам воплотить любые ваши оригинальные идеи!
            table(id="symb")
                tr(class="blue main")
                    td(class="name") тип
                    td(class="price") цена
                tr
                    td(class="name") Несветовая
                    td(class=" price") от 15000 руб
                tr(class="blue")
                    td(class="name") Световая
                    td(class=" price") от 20000 руб
    div(class="title")
        h2 ФИГУРНАЯ ПАНЕЛЬ
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            img(src="/img/4/content3.jpg" class="smthImg" )
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("./calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container")
                p Панель-кронштейн — это рекламное поле с боковым креплением, как правило, к стене здания, мачте освещения или к собственной опоре. Если Вы хотите, чтобы Ваша реклама была видна издалека  вдоль улицы, панель-кронштейн — это именно то, что Вам нужно!  Отличительной особенностью панель-кронштейна от любых других  видов рекламных вывесок является то, что обозреваемость конструкции приближается к 100%
            table(id="kron")
                tr(class="blue main")
                    td(class="name") тип
                    td(class="price") цена
                tr
                    td(class="name") Несветовая
                    td(class=" price") от 15000 руб
                tr(class="blue")
                    td(class="name") Световая
                    td(class=" price") от 20000 руб
    div(class="title")
        h2 ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО
    div(class="ulflex")
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
    div(class="title")
        h2 ПОПУЛЯНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
include ../footer