link(rel='stylesheet', href='/style/light.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 СВЕТОВЫЕ КОРОБА
    div(id="font-flex")
        div(class="elem")
            img(src="../img/4/content401.png" onclick="displayImg('../img/4/content401.png')" )
            div(class="lupa" onclick="displayImg('../img/4/content401.png')")
            br
            strong АКРИЛ + ПВХ
            div
                button(class="more" onclick="moveTo('./lights/akpvh')") подробнее
                button(class="buy" ) заказать
        div(class="elem")
            img(src="../img/4/content402.png" onclick="displayImg('../img/4/content402.png')" )
            div(class="lupa" onclick="displayImg('../img/4/content402.png')")
            br
            strong ПОЛИКАРБОНАТ + ПВХ
            div
                button(class="more" onclick="moveTo('./lights/polipv')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content403.png" onclick="displayImg('../img/4/content403.png')")
            div(class="lupa" onclick="displayImg('../img/4/content403.png')")
            br
            strong МЕТАЛ. ПРОФИЛЬ + БАННЕР
            div
                button(class="more" onclick="moveTo('./lights/metkban')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content404.png" onclick="displayImg('../img/4/content404.png')" )
            div(class="lupa" onclick="displayImg('../img/4/content404.png')")
            br
            strong МЕТАЛ. ПРОФИЛЬ + АКРИЛ
            div
                button(class="more" onclick="moveTo('./lights/metkak')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content405.png" onclick="displayImg('../img/4/content405.png')")
            div(class="lupa" onclick="displayImg('../img/4/content405.png')")
            br
            strong МЕТАЛ. ПРОФИЛЬ + ПВХ
            div
                button(class="more" onclick="moveTo('./lights/metkpv')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content406.png" onclick="displayImg('../img/4/content406.png')")
            div(class="lupa" onclick="displayImg('../img/4/content406.png')")
            br
            strong МЕТАЛ. ПРОФИЛЬ + ПОЛИКАРБОНАТ
            div
                button(class="more" onclick="moveTo('./lights/metsot')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content407.png" onclick="displayImg('../img/4/content407.png')")
            div(class="lupa" onclick="displayImg('../img/4/content407.png')")
            br
            strong ОТКРЫТЫЕ СВЕТОДИОДЫ
            div
                button(class="more" onclick="moveTo('./lights/svetod')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content408.png" onclick="displayImg('../img/4/content408.png')")
            div(class="lupa" onclick="displayImg('../img/4/content408.png')")
            br
            strong КОМПОЗИТ + ПРОРЕЗКА
            div
                button(class="more" onclick="moveTo('./lights/alum')") подробнее
                button(class="buy") заказать
        div(class="elem")
            img(src="../img/4/content409.png" onclick="displayImg('../img/4/content409.png')")
            div(class="lupa" onclick="displayImg('../img/4/content409.png')")
            br
            strong КОМПОЗИТ + ИНКРУСТАЦИЯ
            div
                button(class="more" onclick="moveTo('./lights/alumprozak')") подробнее
                button(class="buy") заказать

    div(class="title")
        button(class="calc" ) калькулятор
block tab
    table
        tr(class="main blue")
            td тип
            td(class="price") цена
        tr
            td АКРИЛ
            td(class="price") от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + ПВХ
            td(class="price") от 75 руб/cм
        tr
            td ПВХ +КОНТРАЖУР
            td(class="price") от 75 руб/cм
        tr(class="blue")
            td МЕТАЛЛ+ КОНТРАЖУР
            td(class="price") от 150 руб/cм
        tr
            td АКРИЛ + ПВХ + КОНТРАЖУР
            td(class="price") от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + МЕТАЛЛ
            td(class="price") от 100 руб/cм
        tr
            td ОТКРЫТЫЙ НЕОН
            td(class="price") от 140 руб/cм
        tr(class="blue")
            td ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class="price") от 15 000 руб/м2

block info
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1")
                img(src="../img/inactive.png" class="dot" id="dot2")
                img(src="../img/inactive.png" class="dot" id="dot3")
            img( src="../img/4/content410.png" class="smthImg")
            img(src="../img/4/content410.png"  class="smthImg" style="display:none")
            img(src="../img/4/content410.png"  class="smthImg" style="display:none")

        div
            p Световой короб или лайтбокс — объемная рекламная конструкция с внутренней подсветкой. Форма часто прямоугольная, но может быть и более сложной. Лицевая поверхность может светиться как вся полностью, так и выборочно (например, только буквы). Лайтбоксами называют и огромные конструкции на весь фасад здания, и ультратонкие панели в окнах витрин с возможность замены изображения. Преимущество - цена ниже, чем у световых букв, и зависит только от квадратуры короба. Недостатки — лайтбоксы на улице все чаще запрещает МосКомАрхитектура.
            div
                img(src="../img/button.png"  class="buttonImg")

    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content416.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content417.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/4/content418.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать


include ../footer