link(rel='stylesheet', href='/style/lightpan.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown
//-
    table
        tr
            td тип
            td 1-9шт.
            td 10-29шт.
        tr
            td без печати
            td 1.690р
            td 1.510р
        tr
            td с полотном из баннерной ткани
            td 2.770р
            td 2.470р
        tr
            td полотном из полипропилена
            td 3.290р
            td 2.930р
//
block flexbox
    div(class="title")
        h1 СВЕТОВЫЕ ПАНЕЛИ
    div(id="font-flex")
        div(class="elem")
            div(class="imgflex")
                strong ФРЕЙМЛАЙТ
                br
                img(src="../img/light/light (1).png")
            div(class="alsoflex")
                p Тонкие световые панели, обрамленные по периметру алюминиевой клик-рамкой, позволяют с легкостью менять рекламные изображения, а строгий и стильный внешний вид подчеркнет статусность Вашей компании.

                table
                    tr
                        td тип
                        td 1-сторона
                        td 2-стороны
                    tr
                        td А4
                        td 2.670р
                        td 2.670р
                    tr
                        td А3
                        td 3.190р
                        td 3.190р
                    tr
                        td А2
                        td 3.090p
                        td 3.090p
                    tr
                        td А1
                        td 4.440р
                        td 4.440р
                    tr
                        td А0
                        td 4.440р
                        td 4.440р
                div
                    button(class="calc" onclick="moveTo('./calc/light')") рассчитать
                    button(class="buy" ) заказать
        div(class="elem")
            div(class="imgflex")
                strong КРИСТАЛАЙТ
                br
                img(src="../img/light/light (2).png")
            div(class="alsoflex")
                p Вашей рекламе благодаря невесомости своей конструкции и контражурной подсветке. Кристалайты станут не только прекрасным рекламным носителем, но и украшением любого интерьера.
                table
                    tr
                        td тип
                        td 1-сторона
                        td 2-стороны
                    tr
                        td А4
                        td 2.670р
                        td 2.670р
                    tr
                        td А3
                        td 3.190р
                        td 3.190р
                    tr
                        td А2
                        td 3.090p
                        td 3.090p
                    tr
                        td А1
                        td 4.440р
                        td 4.440р
                    tr
                        td А0
                        td 4.440р
                        td 4.440р
                div
                    button(class="calc" onclick="moveTo('./calc/light')") рассчитать
                    button(class="buy" ) заказать
        div(class="elem")
            div(class="imgflex")
                strong МАГНЕТИК
                br
                img(src="../img/light/light (3).png")
            div(class="alsoflex")
                p Современные и яркие конструкции, оснащенные магнитной системой фиксации покровного стекла, защитят Ваши постеры от несанкционированного доступа, а Вы сможете легко менять изображения с помощью присоски.
                table
                    tr
                        td тип
                        td 1-сторона
                        td 2-стороны
                    tr
                        td А4
                        td 2.670р
                        td 2.670р
                    tr
                        td А3
                        td 3.190р
                        td 3.190р
                    tr
                        td А2
                        td 3.090p
                        td 3.090p
                    tr
                        td А1
                        td 4.440р
                        td 4.440р
                    tr
                        td А0
                        td 4.440р
                        td 4.440р
                div
                    button(class="calc" onclick="moveTo('./calc/light')") рассчитать
                    button(class="buy" ) заказать

block smth
    div(id="smth")
        img(src="../img/light/light (4).png" style="max-width:500px; height:500px;")
        div
            p Световой короб или лайтбокс — объемная рекламная конструкция с внутренней подсветкой. Форма часто прямоугольная, но может быть и более сложной. Лицевая поверхность может светиться как вся полностью, так и выборочно (например, только буквы). Лайтбоксами называют и огромные конструкции на весь фасад здания, и ультратонкие панели в окнах витрин с возможность замены изображения. Преимущество - цена ниже, чем у световых букв, и зависит только от квадратуры короба. Недостатки — лайтбоксы на улице все чаще запрещает МосКомАрхитектура.
            div
                img(src="../img/button.png" class="buttonImg")

div(id="flex-box")
    div(class="elem")
        img(src="../img/light/light (5).png")
        br
        div
            price ≈ 15.000 руб
            space
            button заказать
    div(class="elem")
        img(src="../img/light/light (6).png")
        br
        div
            price ≈ 15.000 руб
            space
            button заказать
    div(class="elem")
        img(src="../img/light/light (7).png")
        br
        div
            price ≈ 15.000 руб
            space
            button заказать
    div(class="elem")
        img(src="../img/light/light (8).png")
        div
            price ≈ 15.000 руб
            space
            button заказать

include ../footer