link(rel='stylesheet', href='/style/light.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 СВЕТОВЫЕ КОРОБА
    div(id="font-flex")
        div(class="elem")
            img
            br
            strong АКРИЛ + ПВХ
            div
                button(class="more" onclick="moveTo('./font/akmet')") подробнее
                button(class="buy" ) заказать
        div(class="elem")
            img
            br
            strong ПОЛИКАРБОНАТ + ПВХ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong МЕТАЛ. ПРОФИЛЬ + БАННЕР
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong МЕТАЛ. ПРОФИЛЬ + АКРИЛ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong МЕТАЛ. ПРОФИЛЬ + ПВХ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong МЕТАЛ. ПРОФИЛЬ + ПОЛИКАРБОНАТ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong ОТКРЫТЫЕ СВЕТОДИОДЫ
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong КОМПОЗИТ + ПРОРЕЗКА
            div
                button(class="more") подробнее
                button(class="buy") заказать
        div(class="elem")
            img
            br
            strong КОМПОЗИТ + ИНКРУСТАЦИЯ
            div
                button(class="more") подробнее
                button(class="buy") заказать

    div(class="title")
        button(class="calc" ) калькулятор
block tab
    table
        tr(class="main blue")
            td тип
            td цена
        tr
            td АКРИЛ
            td от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + ПВХ
            td от 75 руб/cм
        tr
            td ПВХ +КОНТРАЖУР
            td от 75 руб/cм
        tr(class="blue")
            td МЕТАЛЛ+ КОНТРАЖУР
            td от 150 руб/cм
        tr
            td АКРИЛ + ПВХ + КОНТРАЖУР
            td от 120 руб/cм
        tr(class="blue")
            td АКРИЛ + МЕТАЛЛ
            td от 100 руб/cм
        tr
            td ОТКРЫТЫЙ НЕОН
            td от 140 руб/cм
        tr(class="blue")
            td ОТКРЫТЫЕ СВЕТОДИОДЫ
            td от 15 000 руб/м2

block info
    div(id="smth")
        img
        div
            p Световой короб или лайтбокс — объемная рекламная конструкция с внутренней подсветкой. Форма часто прямоугольная, но может быть и более сложной. Лицевая поверхность может светиться как вся полностью, так и выборочно (например, только буквы). Лайтбоксами называют и огромные конструкции на весь фасад здания, и ультратонкие панели в окнах витрин с возможность замены изображения. Преимущество - цена ниже, чем у световых букв, и зависит только от квадратуры короба. Недостатки — лайтбоксы на улице все чаще запрещает МосКомАрхитектура.
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img(src="../img/buy.png" )

    div(id="flex-box")
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать


include ../footer