link(rel='stylesheet', href='/style/style.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/sendFeedback.js')
block street
div(id="street")
        div(class="mark" id="one" onclick="moveTo('/autobrand')")
            text(class="appear")
                text Автобрендирование
        //div(class="mark" id="two" text(class="appear") text Навигация
        div(class="mark" id="three"  onclick="moveTo('/lightpan')")
            text(class="appear")
                text Световые панели
        div(class="mark" id="five" onclick="moveTo('/pilon')")
            text(class="appear")
                text Информационный пилон
        div(class="mark" id="six" onclick="displayMessage('Раздел в разработке')")
            text(class="appear")
                text Сити-формат
        div(class="mark" id="seven" onclick="moveTo('/fonts')")
            text(class="appear")
                text(style="left:-47px") Объемные буквы
        div(class="mark" id="eight"  onclick="displayMessage('Раздел в разработке')")
            text(class="appear" )
                text Маркизы
        div(class="mark" id="nine" onclick="moveTo('/nolight')")
            text(class="appear")
                text Несветовые вывески
        div(class="mark" id="ten" onclick="moveTo('/kron')")
            text(class="appear" )
                text Панель-кронштейн
        //div(class="mark" id="el") text(class="appear") text Навигация
        div(class="mark" id="twl" onclick="moveTo('/navs')")
            text(class="appear" )
                text Информационные указатели
        div(class="mark" id="trt" onclick="moveTo('/setup')")
            text(class="appear")
                text Крышные установки
        div(class="mark" id="frt" onclick="moveTo('/navs')")
            text(class="appear" )
                text Рекламные флаги
        div(class="mark" id="fft" onclick="moveTo('/banners')")
            text(class="appear")
                text Баннеры
        div(class="mark" id="stn" onclick="displayMessage('Раздел в разработке')")
            text(class="appear" )
                text Обклейка витрин
        div(class="mark" id="four" onclick="moveTo('/light')")
            text(class="appear")
                text Световые короба

div(class="title")
    h1 РАЗРАБОТКА И ИЗГОТОВЛЕНИЕ НАРУЖНОЙ РЕКЛАМЫ

block ins-ads
div(class="ads")
    div(id="ins-one")
        div(onclick="moveTo('/light')")
            img(src="../img/1.png" height=150 width=140 class="hovNo Boxx")
            img(src="../img/hover1/7.png" height=150 width=140 class="hov Boxx")
            text световые
            text короба
        div(onclick="moveTo('/fonts')")
            img(src="../img/naruzh/naruzh.png" height=100 width=100 class="hovNo B")
            img(src="../img/hover1/9.png" height=100 width=100 class="hov B"  )
            br
            br
            text объемные
            text светящиеся
            text буквы
        div(onclick="moveTo('/lightpan')")
            img(src="../img/naruzh/naruzh1.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/4.png" height=100 width=120 class="hov"  )
            br
            br
            text световая
            text панель

        div(onclick="moveTo('/kron')")
            img(src="../img/naruzh/naruzh2.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/6.png" height=100 width=120 class="hov"  )
            br
            br
            text панель
            text кронштейн

    div(id="ins-two")
        div(onclick="moveTo('/nolight')")
            img(src="../img/naruzh/naruzh3.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/1.png" height=100 width=120 class="hov"  )
            br
            br
            text несветовые
            text вывески
        div(onclick="moveTo('/pilon')")
            img(src="../img/naruzh/naruzh4.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/17.png" height=100 width=120 class="hov"  )
            br
            br
            text инфо-пилоны
        div(onclick="moveTo('/stands')")
            img(src="../img/naruzh/naruzh5.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/8.png" height=100 width=120 class="hov"  )
            br
            br
            text стенды

        div(onclick="moveTo('/shtender')")
            img(src="../img/naruzh/naruzh6.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/16.png" height=100 width=120 class="hov"  )
            br
            br
            text штендеры

    div(id="ins-three")
        div(onclick="moveTo('/inputgroup')")
            img(src="../img/naruzh/naruzh7.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/3.png" height=100 width=120 class="hov"  )
            br
            br
            text входные
            text группы

        div(onclick="moveTo('/tables')")
            img(src="../img/naruzh/naruzh8.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/20.png" height=100 width=120 class="hov"  )
            br
            br
            text таблички

        div(onclick="moveTo('/setups')")
            img(src="../img/naruzh/naruzh9.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/10.png" height=100 width=120 class="hov"  )
            br
            br
            text крышные
            text установки

        div(onclick="moveTo('/autobrand')")
            img(src="../img/naruzh/naruzh10.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/13.png" height=100 width=120 class="hov"  )
            br
            br
            text авто-
            text брендирование

    div(id="ins-four")
        div(onclick="moveTo('/viv')")
            img(src="../img/naruzh/naruzh11.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/19.png" height=100 width=120 class="hov"  )
            br
            br
            text вывески

        div(onclick="moveTo('/banners')")
            img(src="../img/naruzh/naruzh12.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/11.png" height=100 width=120 class="hov"  )
            br
            br
            text баннеры

        div(onclick="moveTo('/placnposts')")
            img(src="../img/naruzh/naruzh13.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/14.png" height=100 width=120 class="hov"  )
            br
            br
            text плакаты

        div(onclick="moveTo('/serves')")
            img(src="../img/naruzh/naruzh14.png" height=100 width=120 class="hovNo")
            img(src="../img/hover1/15.png" height=100 width=120 class="hov"  )
            br
            br
            text услуги

block room
    div(class="title")
        h1 РАЗРАБОТКА И ИЗГОТОВЛЕНИЕ ИНТЕРЬЕРНОЙ РЕКЛАМЫ

    div(id="room")
        div(class="mark" id="tone" )
            text(class="appear"  )
                text Навигация
        div(class="mark" id="ttwo")
            text(class="appear")
                text Навигация
        div(class="mark" id="tthree")
            text(class="appear")
                text Навигация
        div(class="mark" id="tfour")
            text(class="appear")
                text Навигация
        div(class="mark" id="tfive")
            text(class="appear")
                text Навигация
        div(class="mark" id="tsix")
            text(class="appear")
                text Навигация
block room-ads
    div(class="ads")
        div(id="room-one")
            div(onclick="moveTo('/navs')")
                img(src="../img/inter/inter9.png" height=100 width=120  class="hovNo")
                img(src="../img/hover1/5.png" height=100 width=120 class="hov"  )
                br
                br
                text навигация

            div(onclick="moveTo('/vist')")
                img(src="../img/inter/Inter2.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/12.png" height=100 width=120 class="hov"  )
                br
                br
                text выставочные
                text стенды

            div(onclick="moveTo('/infstands')")
                img(src="../img/inter/Inter3.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/8.png" height=100 width=120 class="hov"  )
                br
                br
                text инфо
                text стенды

            div(onclick="moveTo('/stickers')")
                img(src="../img/inter/Inter4.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/21.png" height=100 width=120 class="hov"  )
                br
                br
                text наклейки

        div(id="room-two")
            div(onclick="moveTo('/lightpan')")
                img(src="../img/inter/Inter5.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/2.png" height=100 width=120 class="hov"  )
                br
                br
                text тонкие
                text световые
                text панели
            div(onclick="moveTo('/signboards')")
                img(src="../img/inter/Inter6.png" height=100 width=120 class="hovNo B")
                img(src="../img/hover1/9.png" height=100 width=120 class="hov B"  )
                br
                br
                text интерьерные
                text вывески
            div(onclick="moveTo('/placnposts')")
                img(src="../img/inter/Inter7.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/14.png" height=100 width=120 class="hov"  )
                br
                br
                text плакаты
            div(onclick="moveTo('/presswall')")
                img(src="../img/inter/Inter8.png" height=100 width=120 class="hovNo")
                img(src="../img/hover1/18.png" height=100 width=120 class="hov"  )
                br
                br
                text пресс-воллы

block take
    div(id="but-take")
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        p
            br
            br

    div(id="promise")
        div(id="promise-text") ИЗГОТОВИМ ЛЮБУЮ ВЫВЕСКУ ПО ЗАКОНУ ЗА 15 ДНЕЙ СОГЛАСНО 902-ПП
block serve
    div(id="serve")
        div( class="title")
            h1 УСЛУГИ ПО ТЕМАМ
        div(id="usl")
            div(class="polaroid")
                img(src="/img/streetad.jpg")
                p ГОРОДСКАЯ РЕКЛАМА
                div(class="serv-list")
                    ul
                        li(onclick="moveTo('/viv')")
                            text ВЫВЕСКИ
                        li(onclick="moveTo('/banners')")
                            text БАННЕРЫ
                        li(onclick="moveTo('/lightpan')")
                            text СВЕТОВЫЕ ПАНЕЛИ
                        li(onclick="moveTo('/kron')")
                            text КРОНШТЕЙНЫ
                        li(onclick="moveTo('/pilon')")
                            text ИНФО-ПИЛОНЫ
            div(class="polaroid")
                img(src="/img/enters.jpg")
                p ВХОДНЫЕ ГРУППЫ
                div(class="serv-list")
                    ul
                        li(onclick="moveTo('/viv')")
                            text ВЫВЕСКИ
                        li
                            text КОЗЫРЬКИ
                        li(onclick="moveTo('/shtender')")
                            text ШТЕНДЕРЫ
                        li
                            text ШИРОКОФОРМАТ
                        li(onclick="moveTo('/table')")
                            text ТАБЛИЧКИ

            div(class="polaroid")
                img(src="/img/interiors.jpg")
                p ОФОРМЛЕНИЕ ИНТЕРЬЕРА
                div(class="serv-list")
                    ul
                        li
                            text ВЫВЕСКИ И ЛОГО
                        li(onclick="moveTo('/navs')")
                            text НАВИГАЦИЯ
                        li(onclick="moveTo('/lightpan')")
                            text СВЕТОВЫЕ ПАНЕЛИ
                        li
                            text ШИРОКОФОРМАТ
                        li(onclick="moveTo('/infstands')")
                            text ИНФО СТЕНДЫ
            div(class="polaroid")
                img(src="/img/exhibition.jpg")
                p ВЫСТАВКИ ПРЕЗЕНТАЦИИ
                div(class="serv-list")
                    ul
                        li(onclick="moveTo('/presswall')")
                            text ПРЕСС-ВОЛЛЫ
                        li
                            text РОЛЛАПЫ
                        li
                            text ШТЕНДЕРЫ
                        li(onclick="moveTo('/stands')")
                            text СТЕНДЫ
        div(id="kach")
            div
                img(src="/img/white/white1.png" height=80 width=80)
                p СОБЛЮДЕНИЕ СРОКОВ
            div
                img(src="/img/white/white2.png" height=80 width=80)
                p КАЧЕСТВО И ГАРАНТИЯ
            div
                img(src="/img/white/white3.png" height=80 width=80)
                p КРЕАТИВНЫЕ ИДЕИ
            div
                img(src="/img/white/white4.png" height=80 width=80)
                p УСТАНОВКА ПО ЗАКОНУ
block passport
    div(id="passport")
        div(id="pass-text") ПАСПОРТ ВЫВЕСКИ
        div(id="pass-flex")
            div(id="pass-logo")

            text Вывеска — это технологическая конструкция, поэтому для нее всегда необходим Паспорт-спецификация — документ, в котором есть технические характеристики, а именно: способ крепления конструкции, способ подключения, электрическая мощность, используемые материалы, фотопривязка и дизайн-макет с подробными размерами. Мы даем этот документ к каждой Рекламной конструкции. Он Вам понадобиться для согласования в Торговом  центре, с Управляющей компанией, для предъявления в Префектуру района или Администрацию населенного пункта — если Вы находитесь в Московской области!
        div(id="circus")
            div
                div(id="callI" style="background-image:url('../img/black/black1.png'); background-size: 100% 100%")
                text
                    bold звонок менеджеру/ заявка
                    p
                    mini свяжитесь с нами, чтобы сделать заказ
            play
            div
                div( id="designI" style="background-image:url('../img/black/black2.png'); background-size: 100% 100%")
                text
                    bold консультация/ дизайн
                    p
                    mini определитесь с видом изделия, размером и стоимостью
            play
            div
                div(style="background-image:url('../img/black/black3.png'); background-size: 100% 100%")
                text
                    bold платеж/ заключение договора
                    p
                    mini Вы вносите платеж любым удобным вам способом
            play
            div
                div(style="background-image:url('../img/black/black4.png'); background-size: 100% 100%")
                text
                    bold изготовление
                    p
                    mini мы изготовим для Вас все в назначеный срок
            play
            div
                div(style="background-image:url('../img/black/black5.png'); background-size: 100% 100%")
                text
                    bold монтаж
                    p
                    mini мы согласуем вывеску по закону и установим ее

block form
    div(id="form")
        div(id="form-one")
            div СДЕЛАТЬ ЗАКАЗ
        div(id="form-two")
            input(placeholder="Ваше имя:" id="name")
            input(placeholder="Компания:" id="company")
        p
        div(id="form-three")
            input(placeholder="Телефон:" id="phoneN" type="tel")
            input(placeholder="E-mail:" id="email" type="email")
        p
        div(id="form-four")
            textarea(placeholder="Комментарии:" id="comment")
        div(id="form-five")
            img(src="./img/send.png" class="sendF" onclick="sendFeedback()")
include ../footer