link(rel='stylesheet', href='/style/viv.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/switcher.js')
style.
    .smth .leftflex{
        width: 25%!important;
    }
    .smth .leftflex .flexbuts .calc, .smth .leftflex .flexbuts .buttonImg{
        min-width: 130px;
        width: 140px!important;
    }
    .smth .rightflex{
        width: 78% !important;
    }
    .smth .rightflex .scroll-container{
        height: 170px!important;
    }
    .smth .rightflex  table{
        border-spacing: 4px 0 ;
    }
    .smth .rightflex  table tbody tr td{
        text-align: center;
        width: 9%!important;
    }

    @media (max-width: 1700px) {
        .flex-page {
            margin-left: 5vw!important;
            margin-right: 5vw!important;
        }
    }

div(class="flex-page")
    div(class="title")
        h1=title.toUpperCase()
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
            img( src="../img/4/top.jpg" class="smthImg")
            img(src="../img/4/content2.png"  class="smthImg" style="display:none")
            img(src="../img/4/content1.jpg"  class="smthImg" style="display:none")
        div
            p ROLL UP стенды – удобный формат рекламной продукции, который привлекает к себе внимание и широко используется в различных условиях. Такие стенды вы можете встретить в офисных и торговых помещениях в качестве мобильного носителя. Преимущества ROLL UP конструкций делают их популярным выбором у различных предприятий и организаций. Такой ROLL стенд имеет долгий срок службы и сохраняет свои эстетические свойства на протяжении всего времени эксплуатации
            p Мы можем изготовить конструкции различных типов:
            ul
                li стандартные;
                li класса премиум;
                li двухсторонние.
            p Для стенда используется баннерная ткань или ПЭТ пленка, а размеры готовой конструкции ROLL UP влияют на ее стоимость. Позвоните нам, чтобы получить бесплатную консультацию профессионалов и выбрать лучшие параметры. Мы предложим купить ROLL UP по доступной цене и обеспечим отличный сервис.
    div(class="title")
        h1 ПРИМЕРЫ НАШИХ РАБОТ
    div(class="photoflex" id="toHide")
        div(class='left' onclick="newRow('lights',false)")
        img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
        img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
        img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
        img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
        img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        div(class='right' onclick="newRow('lights',true)")
    div(id="hidden" style='display:none')
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
    div(class="title")
        button(class="moreI" onclick="hidePhoto()")
            text показать еще
            text(class="arrow") «
    div(class="title")
        h2 ROLL-UP LIGHT
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (1).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес - 2,3 кг
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
                    li Боковые декоративные крышки выполнены из Пластика АБС
            table(id="light")
                tr(class="")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr
                    td(class="white") количество
                    td(class="white")  1-9шт.
                    td(class="white")  10-29шт.
                    td(class="white")  1-9шт.
                    td(class="white")  10-29шт.
                    td(class="white")  1-9шт.
                    td(class="white")  10-29шт.
                tr(class="blue")
                    td(class="blue") 60х180
                    td(class="blue")  2.490р
                    td(class="blue")  2.220р
                    td(class="blue")  3.130р
                    td(class="blue")  2.790р
                    td(class="blue")  3.440р
                    td(class="blue")  3.060р
                tr
                    td(class="white") 85х200
                    td(class="white") 2.790р
                    td(class="white") 2.490р
                    td(class="white") 3.870р
                    td(class="white") 3.450р
                    td(class="white") 4.390р
                    td(class="white") 3.910р
                tr(class="blue")
                    td(class="blue") 100х200
                    td(class="blue") 2.990р
                    td(class="blue") 2.670р
                    td(class="blue") 4.070р
                    td(class="blue") 3.630р
                    td(class="blue") 4.590р
                    td(class="blue") 4.080р
    div(class="title")
        h2 ROLL-UP SMART
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (4).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row7")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr()
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td 100х200
                    td  2.990р
                    td  2.670р
                    td  4.070р
                    td  3.630р
                    td  4.590р
                    td  4.080р
                tr(class="white")
                    td 150х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP PREMIUM
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (4).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row7")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td -9шт.
                    td 0-29шт.
                    td -9шт.
                    td 0-29шт.
                    td -9шт.
                    td 0-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td 100x200
                    td 2.990р
                    td 2.670р
                    td 4.070р
                    td 3.630р
                    td 4.590р
                    td 4.080р
                tr(class="white")
                    td 150х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td


    div(class="title")
        h2 ROLL-UP LUXURY LIGHT
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row7")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td 100х200
                    td 2.990р
                    td 2.670р
                    td 4.070р
                    td 3.630р
                    td 4.590р
                    td 4.080р
                tr(class="white")
                    td 150х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP LUXURY
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row7")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td 100х200
                    td 2.990р
                    td 2.670р
                    td 4.070р
                    td 3.630р
                    td 4.590р
                    td 4.080р
                tr(class="white")
                    td 150х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP PROFI
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row7")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td 100х200
                    td 2.990р
                    td 2.670р
                    td 4.070р
                    td 3.630р
                    td 4.590р
                    td 4.080р
                tr(class="white")
                    td 150х200
                    td 4.440р
                    td 3.950р
                    td 5.610р
                    td 5.000р
                    td 12.650р
                    td 11.260р
                tr(class="blue")
                    td 200х200
                    td 4.440р
                    td 3.950р
                    td 5.610р
                    td 5.000р
                    td 12.650р
                    td 11.260р
    div(class="title")
        h2 ROLL-UP DUBLE LUXURY
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP DUBLE STANDART
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td

    div(class="title")
        h2 ROLL-UP COLOUR
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (7).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td

    div(class="title")
        h2 ROLL-UP CASSETTE
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP MOVING
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ROLL-UP MULTIPLAY
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (17).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row3")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р

    div(class="title")
        h2 L-BANNER
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (11).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td  1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td 2.490р
                    td 2.220р
                    td 3.130р
                    td 2.790р
                    td 3.440р
                    td 3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 X-BANNER
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/mobs/mobs (12).png');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("/calc/mobstands")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container row5")
                ul
                    li Вес от 2,5 до 6 кг
                    li Алюминиевая усиленная конструкция
                    li Конструкция с роллерным механизмом подмотки фотополотна
                    li Литая баннерная ткань с печатью 1440 dpi
                    li Сумка для транспортировки
            table(id="light")
                tr(class="blue")
                    td(class="blue normal" colspan="1") тип
                    td(class="blue normal" colspan="2") без печати
                    td(class="blue normal" colspan="2") банерная ткань
                    td(class="blue normal" colspan="2") полипропилен
                tr(class="white")
                    td количество
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                    td 1-9шт.
                    td 10-29шт.
                tr(class="blue")
                    td 60х180
                    td     2.490р
                    td     2.220р
                    td     3.130р
                    td     2.790р
                    td     3.440р
                    td     3.060р
                tr(class="white")
                    td 85х200
                    td 2.790р
                    td 2.490р
                    td 3.870р
                    td 3.450р
                    td 4.390р
                    td 3.910р
                tr(class="blue")
                    td
                    td
                    td
                    td
                    td
                    td
                    td
    div(class="title")
        h2 ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО
    div(class="ulflex")
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
    div(class="title")
        h2 ПОПУЛЯНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
include ../footer