link(rel='stylesheet', href='/style/mobstand.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown
//-
    table
        tr
            td тип
            td 1-9шт.
            td 10-29шт.
        tr
            td без печати
            td 1.690р
            td 1.510р
        tr
            td с полотном из баннерной ткани
            td 2.770р
            td 2.470р
        tr
            td полотном из полипропилена
            td 3.290р
            td 2.930р
//
block flexbox
    div(class="title")
        h1 МОБИЛЬНЫЕ СТЕНДЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong ROLL-UP LIGHT
            br
            img
            div(class="title") стоимость:
            img(id="table1" src="img/table1.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP SMART
            br
            img
            div(class="title") стоимость:
            img(id="table2" src="img/table2.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP PREMIUM
            br
            img
            div(class="title") стоимость:
            img(id="table3" src="img/table3.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP LUXURY LIGHT
            br
            img
            div(class="title") стоимость:
            img(id="table4" src="img/table4.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ LUXURY
            br
            img
            div(class="title") стоимость:
            img(id="table5" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP PROFI
            br
            img
            div(class="title") стоимость:
            img(id="table6" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ DOUBLE LUXURY
            br
            img
            div(class="title") стоимость:
            img(id="table7" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP DOUBLE STANDART
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ COLOUR
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP CASSETTE
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ MOVING
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP MULTIPLY
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong L– BANNER
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong X – BANNER
            br
            img
            div(class="title") стоимость:
            img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
div(id="flex-box")
    div(class="elem")
        img
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img
        br
        div
            price ≈ 15.000 руб
            br
            button заказать

include ../footer