link(rel='stylesheet', href='/style/mobstand.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown
//-
    table
        tr
            td тип
            td 1-9шт.
            td 10-29шт.
        tr
            td без печати
            td 1.690р
            td 1.510р
        tr
            td с полотном из баннерной ткани
            td 2.770р
            td 2.470р
        tr
            td полотном из полипропилена
            td 3.290р
            td 2.930р
//
block flexbox
    div(class="title")
        h1 МОБИЛЬНЫЕ СТЕНДЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong ROLL-UP LIGHT
            br
            img(src="../img/mobs/mobs (1).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") без печати
                    td(class="mini") 1.690р
                    td(class="mini") 1.510р
                tr
                    td(class="normal") с полотном из банерной ткани
                    td(class="mini") 2.770р
                    td(class="mini") 2.470р
                tr
                    td с полотом из полипроплена
                    td(class="mini") 3.290р
                    td(class="mini") 2.930р

            //img(id="table1" src="img/table1.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP SMART
            br
            img(src="../img/mobs/mobs (4).png")
            div(class="title") стоимость:
            table(class="mob up")
                tr
                    td(class="empty")
                    td(class="normal") 60x180
                    td(class="normal") 85x200
                    td(class="normal") 100x200
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") без печати
                    td(class="mini") 2.490р
                    td(class="mini") 2.220р
                    td(class="mini") 3.130р
                    td(class="mini") 2.790р
                    td(class="mini") 3.440р
                    td(class="mini") 3.060р

                tr
                    td(class="normal") с полотном из банерной ткани
                    td(class="mini") 2.770р
                    td(class="mini") 2.470р
                    td(class="mini") 3.290р
                    td(class="mini") 2.930р
                    td(class="mini") 3.290р
                    td(class="mini") 3.290р

                tr
                    td с полотом из полипроплена
                    td(class="mini") 2.990р
                    td(class="mini") 2.670р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 4.390р
                    td(class="mini") 4.080р
            //img(id="table2" src="img/table2.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP PREMIUM
            br
            img(src="../img/mobs/mobs (3).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") 60x180
                    td(class="normal") 85x200
                    td(class="normal") 100x200
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.

                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р

                tr
                    td 120x200
                    td(class="mini") 3.090р
                    td(class="mini") 2.760р
                    td(class="mini") 3.990р
                    td(class="mini") 3.560р
                    td(class="mini") 10.490р
                    td(class="mini") 9.340р
                tr
                    td 150x200
                    td(class="mini") 4.440р
                    td(class="mini") 3.950р
                    td(class="mini") 5.610р
                    td(class="mini") 5.000р
                    td(class="mini") 12.650р
                    td(class="mini") 11.260р

            //img(id="table3" src="img/table3.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP LUXURY LIGHT
            br
            img(src="../img/mobs/mobs (2).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.

                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р

                tr
                    td 120x200
                    td(class="mini") 3.090р
                    td(class="mini") 2.760р
                    td(class="mini") 3.990р
                    td(class="mini") 3.560р
                    td(class="mini") 10.490р
                    td(class="mini") 9.340р
                tr
                    td 150x200
                    td(class="mini") 4.440р
                    td(class="mini") 3.950р
                    td(class="mini") 5.610р
                    td(class="mini") 5.000р
                    td(class="mini") 12.650р
                    td(class="mini") 11.260р
            //img(id="table4" src="img/table4.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ LUXURY
            br
            img(src="../img/mobs/mobs (5).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table5" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP PROFI
            br
            img(src="../img/mobs/mobs (6).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table6" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ DOUBLE LUXURY
            br
            img(src="../img/mobs/mobs (17).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table7" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP DOUBLE STANDART
            br
            img(src="../img/mobs/mobs (18).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ COLOUR
            br
            img(src="../img/mobs/mobs (7).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP CASSETTE
            br
            img(src="../img/mobs/mobs (10).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UЗ MOVING
            br
            img(src="../img/mobs/mobs (8).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ROLL-UP MULTIPLY
            br
            img(src="../img/mobs/mobs (9).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong L– BANNER
            br
            img(src="../img/mobs/mobs (11).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong X – BANNER
            br
            img(src="../img/mobs/mobs (12).png")
            div(class="title") стоимость:
            table(class="mob up" style="margin-right: 25px")
                tr
                    td(class="empty")
                    td(class="normal") без печати
                    td(class="normal") банерная ткань
                    td(class="normal") полипролилен
            table(class="mob")
                tr
                    td(class="normal") тип
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                    td(class="mini") 1-9шт.
                    td(class="mini") 10-29шт.
                tr
                    td(class="normal") 85x200
                    td(class="mini") 2.670р
                    td(class="mini") 2.380р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р
                    td(class="mini") 3.170р
                    td(class="mini") 2.820р

                tr
                    td(class="normal") 100x200
                    td(class="mini") 3.190р
                    td(class="mini") 2.840р
                    td(class="mini") 4.070р
                    td(class="mini") 3.630р
                    td(class="mini") 3.690р
                    td(class="mini") 3.280р
            //img(id="table8" src="img/table5.jpg")
            div
                button(class="calc" onclick="moveTo('./calc/mobstands')") рассчитать
                button(class="buy" ) заказать
div(id="flex-box")
    div(class="elem")
        img(src="../img/mobs/mobs (15).png")
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img(src="../img/mobs/mobs (16).png")
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img(src="../img/mobs/mobs (13).png")
        br
        div
            price ≈ 15.000 руб
            br
            button заказать
    div(class="elem")
        img(src="../img/mobs/mobs (14).png")
        br
        div
            price ≈ 15.000 руб
            br
            button заказать

include ../footer