link(rel='stylesheet', href='/style/tables.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 НАВИГАЦИЯ
    div(id="font-flex")
        div(class="elem")
            div
                strong ПОДВЕСНЫЕ УКАЗАТЕЛИ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ФЛАГОВЫЕ УКАЗАТЕЛИ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПИЛОНЫ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СТЕНДЫ СО СМЕННОЙ ИНФОРМАЦИЕЙ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАКЛЕЙКИ СТЕНЫ/ПОЛ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СВЕТОВЫЕ КОРОБА
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ЛОГОТИПЫ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СВЕТОВЫЕ ПАНЕЛИ
            br
            img
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ТАБЛИЧКИ
            br
            img
            div двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./font/akmet')") рассчитать
                button(class="buy" ) заказать
block info
    div(id="smth")
        img
        div
            p Система навигации обязательна при внутреннем оформлении в торгово-деловых центрах, бизнес-центрах, гостиницах и офисах. Чтобы легко найти посетителю интересующую его товарную группу, попасть в нужный магазин или офис, даже на другой уровень, не обойтись без навигационных и информационных указателей. Это - информационные стенды различных размеров с информацией об этажах и навигацией по офисам, магазинам, торговым точкам, ресторанам и пр. Информационная система должна быть удобной и простой, и не вызывать раздражения, интуитивно понятной. В систему навигации также входят разнообразные таблички, указатели, навигационные панели, подвесные и напольные элементы, отображающие точное нахождение объектов, облегчая поиск необходимого места
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img
    div(id="flex-box")
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            div
                price ≈ 15.000 руб
                button заказать
                button заказать

include ../footer