link(rel='stylesheet', href='/style/light.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="flex-page")
    div(class="title")
        h1 НАВИГАЦИОННЫЕ ТАБЛИЧКИ
    div(id="font-flex")
        div(class="elem")
            img(src="../img/nav/Nav10.png")
            br
            strong ПОДВЕСНЫЕ УКАЗАТЕЛИ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/nav/Nav21.png")
            br
            strong ФЛАГОВЫЕ УКАЗАТЕЛИ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/nav/Nav12.png")
            br
            strong СТЕНДЫ СО СМЕННОЙ ИНФОРМАЦИЕЙ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/nav/Nav13.png")
            br
            strong НАКЛЕЙКИ СТЕНЫ/ПОЛ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/nav/Nav14.png")
            br
            strong СВЕТОВЫЕ ТАБЛИЧКИ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/nav/Nav20.png")
            br
            strong ЭВАКУАЦИОННЫЕ УКАЗАТЕЛИ
            div
                button(class="more" onclick="displayMessage('Раздел временно отсутствует')")
                    text подробнее
                    text(class="arrow") «
                button(class="buy" onclick="displayOrder()") заказать
    div(class="title")
        h2 ЦЕНЫ НА НАВИГАЦИОННЫЕ ТАБЛИЧКИ
    table
        tr(class="main blue")
            td тип
            td(class="price") цена
        tr
            td Подвесные указатели
            td(class="price")
                text от 120 руб/см
        tr(class="blue")
            td Флаговые указатели
            td(class="price")
                text от 75 руб/см
        tr
            td Стенды со сменной информацией
            td(class="price")
                text от 75 руб/см
        tr(class="blue")
            td Наклейки - стены/пол
            td(class="price")
                text от 150 руб/см
        tr
            td Световые таблички
            td(class="price")
                text от 120 руб/см
        tr(class="blue")
            td Эвакуационные таблички
            td(class="price")
                text от 100 руб/см

    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
            img( src="../img/4/content410.jpg" class="smthImg")
            img(src="../img/4/content410.jpg"  class="smthImg" style="display:none")
            img(src="../img/4/content410.jpg"  class="smthImg" style="display:none")
        div
            p Система навигации обязательна при внутреннем оформлении в торгово-деловых центрах, бизнес-центрах, гостиницах и офисах. Чтобы легко найти посетителю интересующую его товарную группу, попасть в нужный магазин или офис, даже на другой уровень, не обойтись без навигационных и информационных указателей. Это - информационные стенды различных размеров с информацией об этажах и навигацией по офисам, магазинам, торговым точкам, ресторанам и пр. Информационная система должна быть удобной и простой, и не вызывать раздражения, интуитивно понятной.
            div(class='flexbuts' style="margin-top:90px")
                img(class="calc" src='/img/calc.png' onclick="displayMessage('Калькулятор временно отсутствует')")
                img(src="../img/button.png"  class="buttonImg" onclick="displayOrder()")

    div(class="title")
        h2 ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО
    div(class="ulflex")
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light

    div(class="title")
        h2 ПОПУЛЯНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать

include ../footer