link(rel='stylesheet', href='/style/nolight.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block table
    div(class="title")
        h1 НЕСВЕТОВЫЕ ВЫВЕСКИ
    table
        tr(class="blue main")
            td тип
            td цена
        tr
            td КОМПОЗИТНЫЙ МАТЕРИАЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td от 6 000 руб
        tr(class="blue ")
            td ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td от 1 200 руб
        tr
            td ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ С КАРКАСОМ
            td от 2 000 руб
        tr(class="blue")
            td ПОЛИКАРБОНАТ ТОЛЩИНОЙ 4 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 1 200 руб
        tr
            td ПОЛИКАРБОНАТ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 1 500 руб
        tr(class="blue ")
            td ПОЛИКАРБОНАТ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 1 700 руб
        tr
            td ПЛАСТИК ПВХ ТОЛЩИНОЙ 3 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 1 300 руб
        tr(class="blue ")
            td ПЛАСТИК ПВХ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 2 000 руб
        tr
            td ПЛАСТИК ПВХ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td от 2 100 руб
        tr(class="blue ")
            td ОБРАМЛЕНИЕ ВЫВЕСКИ АЛЮМИНИЕВЫМ УГОЛКОМ
            td 280 руб / пог.м.
block info
    div(id="smth")
        img
        div
            p Несветовые вывески имеют значительно меньшую стоимость, проще в эксплуатации благодаря отсутствию внутренней подсветки. В этом и проявляется преимущество несветовых вывесок, так как их можно разместить в любом месте и без значимых дополнительных затрат. Чаще всего несветовые вывески применяются для информирования потенциальных клиентов о компании и виде деятельности.
            ul
                li низкая себестоимость;
                li цветовое разнообразие;
                li простота и скорость изготовления вывески;
                li устойчивость к неблагоприятному воздействию внешней среды;
                li реализация большинства дизайнерских замыслов.
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img

block flexbox
    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать

include ../footer