link(rel='stylesheet', href='/style/pilon.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header

block light
    div(class="title")
        h1 ИНФО-ПИЛОНЫ

    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") АКРИЛ
            td(class="price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + ПВХ
            td(class=" price") от 75 руб/cм
        tr
            td(class="name") ПВХ + КОНТРАЖУР
            td(class=" price") от 75 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ + КОНТРАЖУР
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") АКРИЛ + ПВХ + КОНТРАЖУР
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ОТКРЫТЫЙ НЕОН
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class=" price") от 15 000 руб/м2
block smth
    div(id="smth")
        img(src="../img/pilon/pilon1.png" class="smthImg")
        div
            p Классическая конструкция пилона — это короб, собранный из металлического каркаса, листового огрстекла, и профиля. Плакаты с рекламной информацией монтируются внутри пилона и фиксируются специальными зажимами. В качестве внутренней подсветки используются люминесцентные лампы. Наличие подсветки повышает эффективность и действенность рекламы в тёмное время суток.
            ul
                li Пилоны-указатели играют роль навигаторов
                li На интерьерных, как правило, на них приводится схема размещения объектов на территории
                li Пилоны уличные широко востребованы для организации рекламных компаний.
            div
                img( class="buttonImg" src="../img/button.png")
block flex-box
    div(id="font-flex")
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/nav/Nav10.png")
            p односторонний: от 10.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/nav/Nav21.png")
            p односторонний: от 10.000 руб
            div
                button(class="calc" onclick="displaySell()" ) рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/pilon/pilon2.jpg")
            p односторонний: от 10.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/nav/Nav10.png")
            p односторонний: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/nav/Nav21.png")
            p односторонний: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ ПАНЕЛЬ
            br
            img(src="../img/pilon/pilon2.jpg")
            p односторонний: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()" ) рассчитать
                button(class="buy" ) заказать
include ../footer
