link(rel='stylesheet', href='/style/viv.css')
include ../slider
include ../header
style.
    @media (min-width: 1200px) {
        .flex-page .smth .scroll-container {
            height: 320px !important;
        }
    }

script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/switcher.js')
div(class="flex-page")
    div(class="title")
        h1 РЕКЛАМНЫЕ ПИЛОНЫ
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
            img( src="../img/4/top.jpg" class="smthImg")
            img(src="../img/4/content2.png"  class="smthImg" style="display:none")
            img(src="../img/4/content1.jpg"  class="smthImg" style="display:none")
        div
            p Классическая конструкция пилона — это короб, собранный из металлического каркаса, листового огрстекла, и профиля. Плакаты с рекламной информацией монтируются внутри пилона и фиксируются специальными зажимами. В качестве внутренней подсветки используются люминесцентные лампы. Наличие подсветки повышает эффективность и действенность рекламы в тёмное время суток.
            p Существует 2 вида рекламных пилонов:
            ul
                li уличные пилоны;
                li интерьерные используются для навигации в крупных объектах (бизнес, торговые центры и пр.).

    div(class="title")
        h1 ПРИМЕРЫ НАШИХ РАБОТ
    div(class="photoflex")
        div(class='left' onclick="newRow('lights',false)")
        img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
        img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
        img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
        img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
        img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        div(class='right' onclick="newRow('lights',true)")
    div(class="title")
        button(class="moreI" onclick="")
            text показать еще
            text(class="arrow") «
    div(class="title")
        h2 ИНТЕРЬЕРНЫЕ ПИЛОНЫ
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/4/content1.jpg');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("./calc/kron")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container")
                p Качественные и яркие отдельностоящие экраны, расположенные вертикально. Применяются для размещения рекламы в торговых центрах, в магазинах и кафе, на улицах с хорошими пешеходными потоками. Основными преимуществами являются: малая занимаемая площадь (менее 1 кв.м.), большой размер изображения, впечатляющая дистанция и углы обзора, технологичное управление и низкое энергопотребление. Предназначенные для использования внутри помещений имеют превосходное качество картинки, наружные - высокий уровень яркости и устойчивость к погодным условиям. Пилоны исполняются в прочном стальном корпусе (сделано в России) с дверцами и замками для удобства проведения.
            table(id="light")
                tr(class="blue main")
                    td(class="name") тип
                    td(class="price") цена
                tr
                    td(class="name") интерьерный пилон
                    td(class=" price") от 7000 руб
                tr(class="blue")
                    td(class="name") несветовой с алюминиевым уголком (1200х1800 мм)
                    td(class=" price") от 14 500 руб
                tr
                    td(class="name") несветовой с клик-профилем (1200х1800 мм)
                    td(class=" price") от 17500 руб
                tr(class="blue")
                    td(class="name") световой односторонний (1200х1800 мм)
                    td(class=" price") от 33000 руб
                tr
                    td(class="name") световой с клик-профилем (1200х1800 мм)
                    td(class=" price") от 42000 руб
                tr(class="blue")
                    td(class="name")
                    td(class=" price")
    div(class="title")
        h2 УЛИЧНЫЕ ПИЛОНЫ
    div(class="smth")
        a(name="LB")
        div(class="leftflex")
            div(style="background-image:url('/img/4/content1.jpg');background-size:100%,100%" class="smthImg" )
                div(class="midSl")
                    div(class="leftSl")
                    div(class="rightSl")
                div(class="botSl")
                    div(class="dot")
                    div(class="dot")
                    div(class="dot")
            div(class="flexbuts")
                img(class="calc" src='/img/rasbutton.png' onclick='moveTo("./calc/kron")')
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
        div(class="rightflex")
            div(class="scroll-container")
                p Рекламный пилон – это разновидность стелы. Он представляет собой объемную трех- или двухстороннюю конструкцию в виде короба крупного размера, предназначенную для наружной установки, или небольшое изделие для размещения внутри зданий. В Московской Рекламно-Ремонтной компании можно купить типовые передвижные или стационарные модели «сити-формата» по очень низкой цене или заказать изготовление продукции по индивидуальным чертежам.
                p Мы производим продукты, которые применяются для долгосрочной и краткосрочной рекламы, а также являются великолепным навигационным инструментом, с помощью которого можно без труда найти нужный магазин, офис и т.д.
            table(id="symb")
                tr(class="blue main")
                    td(class="name") тип
                    td(class="price") цена
                tr
                    td(class="name") Двусторонний стела несветовая
                    td(class=" price") от 20000 руб
                tr(class="blue")
                    td(class="name") Двусторонняя стела с прорезкой
                    td(class=" price") от 30000 руб
                tr
                    td(class="name") Круглая стела световая
                    td(class=" price") от 35000 руб
                tr(class="blue")
                    td(class="name") Двусторонняя стела с элементами
                    td(class=" price") от 60000 руб
                tr
                    td(class="name") Стела более 10 м
                    td(class=" price") от 90000 руб
                tr(class="blue")
                    td(class="name")
                    td(class=" price")
    div(class="title")
        h2 ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО
    div(class="ulflex")
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
    div(class="title")
        h2 ПОПУЛЯНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
include ../footer