link(rel='stylesheet', href='/style/placnposts.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

block info
    div(class="title")
        h1 ПЛАКАТЫ И ПОСТЕРЫ
    div(class="smth")
        img(src="../img/plac.png" class="smthImg")
        div
            br
            br
            br
            p Изготовление крышных установок сопровождается серьезной проектной подготовкой: проводится изучение кровли здания, рассчитываются нагрузки, разрабатывается проектная документация в соответствии со СНиП. Все проектные работы по изготовлению крышных установок выполняют лицензированные специалисты. При планировании бюджета на изготовление крышной установки необходимо закладывать стоимость конструкторской документации. Устанавливать такую конструкцию без Проектно-конструкторской документации НЕЛЬЗЯ!!
            div(class='flexbuts')
                img(class="calc" src='/img/rasbutton.png' onclick="moveTo(`./calc/plac\'n\'posts`)" )
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

include ../footer
