link(rel='stylesheet', href='/style/placnposts.css')
script(src='../js/index.js')
script(src='../js/Global.js')

include ../header
include ../dropdown
block info
    div(class="title")
        h1 ПЛАКАТЫ И ПОСТЕРЫ
    div(class="smth")
        img
        div
            h3 Фрезерная резка
            p Изготовление крышных установок сопровождается серьезной проектной подготовкой: проводится изучение кровли здания, рассчитываются нагрузки, разрабатывается проектная документация в соответствии со СНиП. Все проектные работы по изготовлению крышных установок выполняют лицензированные специалисты. При планировании бюджета на изготовление крышной установки необходимо закладывать стоимость конструкторской документации. Устанавливать такую конструкцию без Проектно-конструкторской документации НЕЛЬЗЯ!!
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img(src="../img/buy.png" )
                button(class="calc" onclick="moveTo(`./calc/plac\'n\'posts`)") рассчитать

include ../footer
