link(rel='stylesheet', href='/style/press.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ПРЕСС-ВОЛЛ/PRESS WALL
    div(id="font-flex")
        div(class="elem")
            div
                strong №1
            br
            img(src="../img/press/press02.png")
            p двусторонний: от 4.220 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong №2
            br
            img(src="../img/press/press01.png")
            p двусторонний: от 11.260 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ТЕЛЕСКОПИЧЕСКИЙ
            br
            img(src="../img/press/press13.png")
            p двусторонний: от 13.220 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong №3
            br
            img(src="../img/press/press03.png")
            p двусторонний: от 10.760 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong №4
            br
            img(src="../img/press/press04.png")
            p двусторонний: от 22.460 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СТРОГАННЫЙ БРУС
            br
            img(src="../img/press/press05.png")
            p двусторонний: от 4.140 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать

block info
    div(id="smth")
        img(src="../img/press/press06.png" class="smthImg")
        div
            p Круглосуточные услуги широкоформатной и интерьерной печати на собственном оборудовании позволяют изготавливать и поставлять клиенту заказ в течение суток. Помимо доставки конструкции press wall, осуществляются монтажные работы и обучение персонала заказчика.
            p Стенды пресс-волл представлены 4 модификациями:
            p первый тип устанавливается внутри помещений. Наиболее легкая и компактная модель. Максимальный размер — 3х3 м; вторая модель — brand wall — получила усиленную раму для дополнительной жесткости и устойчивости, позволяя использовать полот
            div
                img( class="buttonImg" src="../img/button.png")
    div(id="flex-box")
        div(class="elem")
            img(src="../img/press/press07.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/press/press08.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/press/press09.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/press/press10.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/press/press11.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/press/press12.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
                button заказать

include ../footer