link(rel='stylesheet', href='/style/serves.css')
script(src='../js/index.js')
script(src='../js/Global.js')

include ../header
include ../dropdown
block info
    div(class="title")
        h1 УСЛУГИ
    div(class="smth")
        img
        div
            h3 Фрезерная резка
            p Фрезерная резка – один наиболее часто применяемых методов при изготовлении рекламной продукции любой сложности. Фрезеровка позволяет осуществлять резку материала, но наиболее полное техническое применение этого способа раскрывается тогда, когда есть необходимость  выполнить объемные конструкции, фигурном и фасонном раскрое.
            p Когда возникает необходимость в нестандартной рекламной продукции, чаще всего прибегают именно к  методу фрезеровки, для того чтобы создать уникальную эксклюзивную, рекламную продукцию
    div(class="smth")
        img
        div
            h3 Дизайн макетов
            p Это может быть и дизайн наружной рекламы, и разработка дизайна для размещения рекламы на автомобилях, разработка дизайн-макета для стикеров внутри общественного транспорта. Дизайн-макет — это идеи по художественному и техническому оформлению рекламной информации, представленные в графическом виде.
            p Основой для разработки дизайн-макета являются предоставленные заказчиком материалы: логотип, слоган, фирменные (или предпочтительные) цвета, графические элементы, фотографии и другие элементы дизайна.
    div(class="smth")
        img
        div
            h3 Регистрация вывески
            p Регистрация вывески начинается с подготовки необходимой документации, при этом следует отметить, что пакет документов включает в себя четырнадцать бумаг, причём пять из них требуют нотариального заверения. После сбора документов необходимо представить их в различные разрешающие организации. В зависимости от конструкции вывески и типа её размещения (фасадное или консольное) требуется согласование в различных организациях – ГИБДД, Управление эстетики городской среды, Комитет градостроительства и архитектуры и т.д.
    div(class="smth")
        img
        div
            h3 Монтаж
            p Покупая вывеску, предприниматель не всегда задумывается о её установке. А когда спохватывается, ему приходится доплачивать, чтобы его реклама начала работать на него. Цена на монтаж наружной рекламы строго оговаривается нашими менеджерами перед началом работ, чтобы заказчик избежал неприятных сюрпризов. Эта цена формируется в индивидуальном порядке, так как зависит от таких факторов как тип и размер вывески, место установки, особенности крепления. Цена меняется, если требуется спецтехника и специальные монтажники-скалолазы.
    div(class="smth")
        img
        div
            h3 Доставка
            p Перед отправкой мы упаковываем изделия в несколько слоёв воздушно-пупырчатой плёнки. Также при междугородных перевозках мы предлагаем упаковывать изделия в жесткий деревянный каркас. Это обеспечивает сохранность изделий, даже при самой неаккуратной перевозке. Уже изготовленные нами конструкции можно забрать самостоятельно с производства. Если конструкция забирает представитель заказчика, необходимо, чтобы у представителя заказчика была доверенность на получение этой конструкции, в противном случае конструкция не отгружается

include ../footer
