link(rel='stylesheet', href='/style/setup.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header

div(class="flex-page")
    div(class="title")
        h1 КРЫШНЫЕ УСТАНОВКИ
    div(id="font-flex")
        div(class="elem")
            div
                strong НЕСВЕТОВЫЕ БУКВЫ
            br
            img(src="../img/setup/setup6.png" onclick="displayImg('../img/setup/setup6.png')")
            div(class="lupa" onclick="displayImg('../img/setup/setup6.png')")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СВЕТОВЫЕ БУКВЫ
            br
            img(src="../img/setup/setup7.png" onclick="displayImg('../img/setup/setup7.png')")
            div(class="lupa" onclick="displayImg('../img/setup/setup7.png')")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НЕСВЕТОВАЯ ВЫВЕСКА
            br
            img(src="../img/setup/setup8.png" onclick="displayImg('../img/setup/setup8.png')")
            div(class="lupa" onclick="displayImg('../img/setup/setup8.png')")
            p цена несветовой: от 15.000 руб
            p цена световой: от 20.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СВЕТОВОЙ КОРОБ
            br
            img(src="../img/setup/setup9.png" onclick="displayImg('../img/setup/setup9.png')")
            div(class="lupa" onclick="displayImg('../img/setup/setup9.png')")
            p цена несветовой: от 25.000 руб
            p цена световой: от 30.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать


    div(id="smth")
        img(src="../img/setup/setup10.png" class="smthImg")
        div
            p Изготовление крышных установок сопровождается серьезной проектной подготовкой: проводится изучение кровли здания, рассчитываются нагрузки, разрабатывается проектная документация в соответствии со СНиП. Все проектные работы по изготовлению крышных установок выполняют лицензированные специалисты. При планировании бюджета на изготовление крышной установки необходимо закладывать стоимость конструкторской документации. Устанавливать такую конструкцию без Проектно-конструкторской документации НЕЛЬЗЯ!!
            div
                img( class="buttonImg" src="../img/button.png")
    div(id="flex-box")
        div(class="elem")
            img(src="../img/setup/setup1.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/setup/setup2.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см

            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/setup/setup3.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см

            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/setup/setup4.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/setup/setup5.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см

            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/setup/setup11.png")
            br
            p
                strong Обьемные буквы
                br
                text из орг. стекла
                br
                text с лицевой подсветкой
                br
                text высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать

include ../footer