link(rel='stylesheet', href='/style/shtender.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ШТЕНДЕРЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong МЕТАЛЛИЧЕСКИЙ
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛАСТИКОВЫЙ
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ДОСКА ДЛЯ МЕЛА
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СТОЙКА
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong АРКА МЕТАЛЛИЧЕСКАЯ
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong БОЛЬШАЯ АРКА
            br
            img
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
block info
    div(id="smth")
        img
        div
            p Фигурные панель кронштейны могут исполняться в различной форме, но в большинстве случаев они имеют средний размер. При невысокой стоимости изготовления подобных объектов практическая ценность панель-кронштейнов оказывается значительной благодаря возможности использования сразу двух рекламных площадей.
            br
            br
            p Подсветка таких световых боксов может быть как интегрированной, так и внешней. Для её реализации обычно применяются светодиоды.
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img
    div(id="flex-box")
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать

include ../footer