link(rel='stylesheet', href='/style/shtender.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ШТЕНДЕРЫ
    div(id="font-flex")
        div(class="elem")
            div
                strong МЕТАЛЛИЧЕСКИЙ
            br
            img(src="../img/shtender/sht (11).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПЛАСТИКОВЫЙ
            br
            img(src="../img/shtender/sht (12).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ДОСКА ДЛЯ МЕЛА
            br
            img(src="../img/shtender/sht (1).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong СТОЙКА
            br
            img(src="../img/shtender/sht (2).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong АРКА МЕТАЛЛИЧЕСКАЯ
            br
            img(src="../img/shtender/sht (4).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong БОЛЬШАЯ АРКА
            br
            img(src="../img/shtender/sht (3).png")
            p односторонний: от 15.000 руб
            p двусторонний: от 20.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/shtends')") рассчитать
                button(class="buy" ) заказать
block info
    div(id="smth")
        img(class="img smthImg" src="../img/shtender/sht (5).png")
        div
            p Фигурные панель кронштейны могут исполняться в различной форме, но в большинстве случаев они имеют средний размер. При невысокой стоимости изготовления подобных объектов практическая ценность панель-кронштейнов оказывается значительной благодаря возможности использования сразу двух рекламных площадей.
            br
            br
            p Подсветка таких световых боксов может быть как интегрированной, так и внешней. Для её реализации обычно применяются светодиоды.
            div
                img( class="buttonImg" src="../img/button.png")
    div(id="flex-box")
        div(class="elem")
            img(src="../img/shtender/sht (7).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/shtender/sht (8).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/shtender/sht (9).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/shtender/sht (10).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/shtender/sht (6).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/shtender/sht (5).png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать

include ../footer