link(rel='stylesheet', href='/style/stickers.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ИНТЕРЬЕРНЫЕ ВЫВЕСКИ
    div(id="font-flex")
        div(class="elem")
            div
                strong НЕОН
            br
            img(src="../img/viv/viv1.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong МЕТАЛЛИЧЕСКИЕ БУКВЫ
            br
            img(src="../img/viv/viv2.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ДЕРЕВЯННЫЕ БУКВЫ
            br
            img(src="../img/viv/viv3.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong БУКВЫ ИЗ ПЕНОПЛАСТА
            br
            img(src="../img/viv/viv4.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ОТКРЫТЫЙ НЕОН
            br
            img(src="../img/viv/viv5.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong МЕТАЛЛ + КОНТРАЖУР
            br
            img(src="../img/viv/viv6.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПВХ + КОНТРАЖУР
            br
            img(src="../img/viv/viv7.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ОТКРЫТЫЕ СВЕТОДИОДЫ
            br
            img(src="../img/viv/viv8.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong РЕТРО БУКВЫ
            br
            img(src="../img/viv/viv9.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ВЫВЕСКА ПВХ
            br
            img(src="../img/viv/viv10.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong АКРИЛАЙТ
            br
            img(src="../img/viv/viv11.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ДЕРЕВО
            br
            img(src="../img/viv/viv12.png")
            p от 1.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать

block info
    div(id="smth")
        img(src="../img/viv/viv19.png")
        div
            p Интерьерная реклама для ресепшн и офисов – вещь сложная и кропотливая. При выполнении таких заказов особое внимание уделяется нюансам обработки и сборки продукции. Ведь вывеска расположенная в непосредственной близости от окружающих должна выглядеть безупречно. Самый распространённый вид интерьерной рекламы для офисов – название компании (её логотип), выполненное в виде объёмных букв с подсветом или без него.
            p Наша компания специализируется на изготовлении интерьерной рекламы класса Business и Premium, и использует для этого абсолютно разные материалы, от простейших ПВХ и пеноплексов до очень жёстких стёкол и металлов. Важен не исходный материал, а уместность его применения, правильный выбор технологии обработки и конечный результат!
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img(src="../img/buy.png" )

    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/viv/viv13.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/viv/viv14.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/viv/viv15.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/viv/viv16.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/viv/viv17.png")
            br
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img(src="../img/viv/viv18.png")
            br
            div
                price ≈ 15.000 руб
                button заказать

include ../footer