link(rel='stylesheet', href='/style/stickers.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(class="flex-page")
    div(class="title")
        h1 НАКЛЕЙКИ
    div(id="font-flex")
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНЫЕ
            br
            img(src="../img/stickers/stickers1.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy" onclick="displayOrder()" ) заказать
        div(class="elem")
            div
                strong КРУГЛЫЕ
            br
            img(src="../img/stickers/stickers2.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy"  onclick="displayOrder()" ) заказать
        div(class="elem")
            div
                strong ФИГУРНЫЕ
            br
            img(src="../img/stickers/stickers3.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong НАБОРЫ
            br
            img(src="../img/stickers/stickers4.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong НА ВИНИЛОВОЙ ПЛЕНКЕ
            br
            img(src="../img/stickers/stickers5.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ОБЪЕМНЫЕ
            br
            img(src="../img/stickers/stickers6.png")
            p от 1.000 руб
            div
                img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
                button(class="buy"  onclick="displayOrder()") заказать


    div(id="smth")
        img(class="img smthImg" src="../img/stickers/stickers13.png")
        div
            p Предлагаем услуги по изготовлению табличек для офиса, дома или любого другого нужного для вас места. Наиболее популярный и самый дешевый вид табличек — пластиковые таблички из ПВХ с нанесением пленки (полноцветная печать или аппликация из пленки Oracal)
            p Изображение на табличке должно быть четким и хорошо читаемым. Поэтому для его нанесения используются следующие методы: лазерная гравировка и сублимационная печать. Оба метода просты, недороги и оперативны. Изготовление табличек, даже большой партией, занимает мало времени. Максимум через несколько дней у вас будут красивые и практичные таблички.
            div
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/stickers/stickers7.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/stickers/stickers8.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/stickers/stickers9.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/stickers/stickers10.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/stickers/stickers11.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/stickers/stickers12.png")
            br
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать

include ../footer