link(rel='stylesheet', href='/style/tables.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include ../dropdown

block flexbox
    div(class="title")
        h1 ТАБЛИЧКИ
    div(id="font-flex")
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КРУГЛАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong КВАДРАТНАЯ
                br
                strong ОРГ. СТЕКЛО
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ОРГ. СТЕКЛО
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ОРГ. СТЕКЛО
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ТАБЛИЧКА РУЧНАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ТАБЛИЧКА НАПОЛЬНАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong НАБЛИЧКА НАСТОЛЬНАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            br
            img
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" ) заказать


block info
    div(id="smth")
        img
        div
            div(class="title")
                h2 ТАБЛИЧКИ
            p Предлагаем услуги по изготовлению табличек для офиса, дома или любого другого нужного для вас места. Наиболее популярный и самый дешевый вид табличек — пластиковые таблички из ПВХ с нанесением пленки (полноцветная печать или аппликация из пленки Oracal)
            br
            br
            p Изображение на табличке должно быть четким и хорошо читаемым. Поэтому для его нанесения используются следующие методы: лазерная гравировка и сублимационная печать. Оба метода просты, недороги и оперативны. Изготовление табличек, даже большой партией, занимает мало времени. Максимум через несколько дней у вас будут красивые и практичные таблички
            div
                button(class="buy-tel")
                    div
                        text заказать
                        img
    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать
        div(class="elem")
            img
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button заказать

include ../footer