link(rel='stylesheet', href='/style/tables.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

block flexbox
    div(class="title")
        h1 ТАБЛИЧКИ
    div(id="font-flex")
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            img(src="../img/tables/tab05.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КРУГЛАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            img(src="../img/tables/tab06.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy" onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КВАДРАТНАЯ
                br
                strong МЕТАЛЛИЧЕСКАЯ
            img(src="../img/tables/tab07.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КВАДРАТНАЯ
                br
                strong ОРГ. СТЕКЛО
            img(src="../img/tables/tab16.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ОРГ. СТЕКЛО
            img(src="../img/tables/tab14.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КРУГЛАЯ
                br
                strong ОРГ. СТЕКЛО
            img(src="../img/tables/tab15.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КВАДРАТНАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            img(src="../img/tables/tab17.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong КРУГЛАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            img(src="../img/tables/tab09.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ПРЯМОУГОЛЬНАЯ
                br
                strong ПВХ, АКРИЛ, ПЭТ
            img(src="../img/tables/tab08.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ТАБЛИЧКА РУЧНАЯ
            img(src="../img/tables/tab19.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ТАБЛИЧКА НАПОЛЬНАЯ
            img(src="../img/tables/tab18.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
        div(class="elem")
            div
                strong ТАБЛИЧКА НАСТОЛЬНАЯ
            img(src="../img/tables/tab13.png")
            div(class="title")
                strong от 1.000 руб
            div
                button(class="calc" onclick="moveTo('./calc/tables')") рассчитать
                button(class="buy"  onclick="displayOrder()") заказать
block info
    div(id="smth")
        img(src="../img/tables/tab04.png" class="smthImg")
        div
            div(class="title")
                h2 ТАБЛИЧКИ
            p Предлагаем услуги по изготовлению табличек для офиса, дома или любого другого нужного для вас места. Наиболее популярный и самый дешевый вид табличек — пластиковые таблички из ПВХ с нанесением пленки (полноцветная печать или аппликация из пленки Oracal)
            br
            br
            p Изображение на табличке должно быть четким и хорошо читаемым. Поэтому для его нанесения используются следующие методы: лазерная гравировка и сублимационная печать. Оба метода просты, недороги и оперативны. Изготовление табличек, даже большой партией, занимает мало времени. Максимум через несколько дней у вас будут красивые и практичные таблички
            div
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")
    div(class="title")
        h1 ПОПУЛЯРНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/tables/tab01.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/tables/tab02.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/tables/tab03.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/tables/tab10.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/tables/tab11.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/tables/tab12.png")
            br
            bold Обьемные буквы
            p из орг. стекла
            p с лицевой подсветкой
            p высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать

include ../footer