link(rel='stylesheet', href='/style/light.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header
include views/legacy/dropdown

block img
    div(id="wonder")
        img
    div(id="imgs")
        img
            div
                light Вывеска-кронштейн
                p с боковой подсветкой двусторонняя
                br
                br
                price 10.000 руб
        img
        img
        img
    div(class="title")
        h1 НАМ ДОВЕРЯЮТ

include ../footer