link(rel='stylesheet', href='/style/vist.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown


div(class="flex-page")
    div(class="title")
        h1 ВЫСТАВОЧНЫЕ СТЕНДЫ
    div(id="smth")
        img(src="../img/vist/vist1.png" class="smthImg")
        div
            p Разработка дизайн-проекта стенда для выставки сложный креативный процесс, требующий профессионализма и вовлеченности: постоянно находясь в поиске новых идей и подходов в разработке дизайна, мы добиваемся безупречного качества стенда компаниизаказчика. Наша цель — воплотить любую Вашу идею.
            p С учетом Ваших пожеланий, фирменного стиля и выделенного бюджета мы создаем абсолютно уникальный 3D дизайн выставочного стенда, и после согласования приступаем к его созданию.
            p Нам не важно: площадь 10 кв.м. или же полноценная застройка выставки 5 000 кв.м., все будет исполнено качественно и в срок.
            div
                img( class="buttonImg" src="../img/button.png")



    div(id="font-flex")
        div(class="elem")
            div
                strong ОСТРОВА
            img(src="../img/vist/vist2.png")
            div(class="title")
                strong от 3.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ПОЛУОСТРОВА
            img(src="../img/vist/vist3.png")
            div(class="title")
                strong от 10.000 руб за кв.м
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong ЛИНЕЙНЫЕ СТЕНДЫ
                br
                strong РОЖДЕНИЯ И ЮБИЛЕИ
            img(src="../img/vist/vist4.png")
            div(class="title")
                strong от 10.000 руб за кв.м
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
    div(id="font-flex" style="display:flex;justify-content:center; margin-top:3px!important")
        div(class="elem")
            div
                strong СКВОЗНЫЕ СТЕНДЫ
            img(src="../img/vist/vist5.png")
            div(class="title")
                strong от 3.000 руб
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать
        div(class="elem")
            div
                strong УГЛОВЫЕ СТЕНДЫ
            img(src="../img/vist/vist6.png")
            div(class="title")
                strong от 10.000 руб за кв.м
            div
                button(class="calc" onclick="displaySell()") рассчитать
                button(class="buy" ) заказать


include ../footer