link(rel='stylesheet', href='/style/viv.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown
block light
    div(class="title")
        h1 СВЕТОВЫЕ КОРОБА
    div(class="photoflex")
        img(src="../img/vivs/1ск.jpg" onclick="displayImg('../img/vivs/1ск.jpg')")
        img(src="../img/vivs/2ск.jpg" onclick="displayImg('../img/vivs/2ск.jpg')")
        img(src="../img/vivs/3ск.jpg" onclick="displayImg('../img/vivs/3ск.jpg')")
        img(src="../img/vivs/4ск.jpg" onclick="displayImg('../img/vivs/4ск.jpg')")
        img(src="../img/vivs/5ск.jpg" onclick="displayImg('../img/vivs/5ск.jpg')")
        img(src="../img/vivs/6ск.jpg" onclick="displayImg('../img/vivs/6ск.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") АКРИЛ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + ПВХ
            td(class=" price") от 75 руб/cм
        tr
            td(class="name") ПВХ + КОНТРАЖУР
            td(class="price") от 75 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ + КОНТРАЖУР
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") АКРИЛ + ПВХ + КОНТРАЖУР
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ОТКРЫТЫЙ НЕОН
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class=" price") от 15 000 руб/м2
    div(class="title")
        button(class="calc" ) рассчитать
        img( class="buttonImg" src="../img/button.png")

block symb
    div(class="title")
        h1 ОБЪЕМНЫЕ БУКВЫ
    div(class="photoflex")
        img(src="../img/vivs/1об.jpg" onclick="displayImg('../img/vivs/1об.jpg')")
        img(src="../img/vivs/2об.jpg" onclick="displayImg('../img/vivs/2об.jpg')")
        img(src="../img/vivs/3об.jpg" onclick="displayImg('../img/vivs/3об.jpg')")
        img(src="../img/vivs/4об.jpg" onclick="displayImg('../img/vivs/4об.jpg')")
        img(src="../img/vivs/5об.jpg" onclick="displayImg('../img/vivs/5об.jpg')")
        img(src="../img/vivs/6об.jpg" onclick="displayImg('../img/vivs/6об.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") АКРИЛ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + ПВХ
            td(class=" price") от 75 руб/cм
        tr
            td(class="name") ПВХ + КОНТРАЖУР
            td(class=" price") от 75 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ + КОНТРАЖУР
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") АКРИЛ + ПВХ + КОНТРАЖУР
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ОТКРЫТЫЙ НЕОН
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class=" price") от 15 000 руб/м2
        tr
            td(class="name") ДЕРЕВО
            td(class=" price") от 75 руб/cм
        tr(class="blue")
            td(class="name") РЕТРО
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") НЕОН
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ПВХ
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ПЕНОПЛАСТ
            td(class=" price") от 15 000 руб/м2
    div(class="title")
        button( class="calc" onclick="moveTo('./calc/symbs')") рассчитать
        img( class="buttonImg" src="../img/button.png")

block kron
    div(class="title")
        h1 ПАНЕЛЬ-КРОНШТЕЙН
    div(class="photoflex")
        img(src="../img/vivs/1пк.jpg" onclick="displayImg('../img/vivs/1пк.jpg')")
        img(src="../img/vivs/2пк.jpg" onclick="displayImg('../img/vivs/2пк.jpg')")
        img(src="../img/vivs/3пк.jpg" onclick="displayImg('../img/vivs/3пк.jpg')")
        img(src="../img/vivs/4пк.jpg" onclick="displayImg('../img/vivs/4пк.jpg')")
        img(src="../img/vivs/5пк.jpg" onclick="displayImg('../img/vivs/5пк.jpg')")
        img(src="../img/vivs/6пк.jpg" onclick="displayImg('../img/vivs/6пк.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") КРУГЛАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 15 000 руб
        tr(class="blue")
            td(class="name") КРУГЛАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 20 000 руб
        tr
            td(class="name") ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 15 000 руб
        tr(class="blue")
            td(class="name") ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 20 000 руб
        tr
            td(class="name") ФИГУРНАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 25 000 руб
        tr(class="blue")
            td(class="name") ФИГУРНАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 30 000 руб
    div(class="title")
        button( class="calc" onclick="moveTo('./calc/kron')") рассчитать
        img( class="buttonImg" src="../img/button.png")

block nolight
    div(class="title")
        h1 НЕСВЕТОВЫЕ ВЫВЕСКИ
    div(class="photoflex")
        img(src="../img/vivs/1нсв.jpg" onclick="displayImg('../img/vivs/1нсв.jpg')")
        img(src="../img/vivs/2нсв.jpg" onclick="displayImg('../img/vivs/2нсв.jpg')")
        img(src="../img/vivs/3нсв.jpg" onclick="displayImg('../img/vivs/3нсв.jpg')")
        img(src="../img/vivs/4нсв.jpg" onclick="displayImg('../img/vivs/4нсв.jpg')")
        img(src="../img/vivs/5нсв.jpg" onclick="displayImg('../img/vivs/5нсв.jpg')")
        img(src="../img/vivs/6нсв.jpg" onclick="displayImg('../img/vivs/6нсв.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") КОМПОЗИТНЫЙ МАТЕРИАЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td(class=" price") от 1 200 руб
        tr
            td(class="name") ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ СКАРКАСОМ
            td(class=" price") от 2 000 руб
        tr(class="blue")
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 4 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 200 руб
        tr
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 500 руб
        tr(class="blue")
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 700 руб
        tr
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 3 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 300 руб
        tr(class="blue")
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 2 000 руб
        tr
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 2 100 руб
        tr(class="blue")
            td(class="name") ОБРАМЛЕНИЕ ВЫВЕСКИ АЛЮМИНИЕВЫМ УГОЛКОМ
            td(class="price") 280 руб / пог.м.
    div(class="title")
        button( class="calc" ) рассчитать
        img( class="buttonImg" src="../img/button.png")

p
    br
    br
    br

include ../footer