link(rel='stylesheet', href='/style/viv.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../slider
include ../header
include ../dropdown
block light
    div(class="title")
        h1 СВЕТОВЫЕ КОРОБА
    div(class="photoflex")
        img(src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
        img(src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
        img(src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
        img(src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
        img(src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        img(src="../img/vivs/sk6.jpg" onclick="displayImg('../img/vivs/sk6.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") АКРИЛ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + ПВХ
            td(class=" price") от 75 руб/cм
        tr
            td(class="name") ПВХ + КОНТРАЖУР
            td(class="price") от 75 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ + КОНТРАЖУР
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") АКРИЛ + ПВХ + КОНТРАЖУР
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ОТКРЫТЫЙ НЕОН
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class=" price") от 15 000 руб/м2
    div(class="title")
        button(class="calc" ) рассчитать
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

block symb
    div(class="title")
        h1 ОБЪЕМНЫЕ БУКВЫ
    div(class="photoflex")
        img(src="../img/vivs/ob1.jpg" onclick="displayImg('../img/vivs/ob1.jpg')")
        img(src="../img/vivs/ob2.jpg" onclick="displayImg('../img/vivs/ob2.jpg')")
        img(src="../img/vivs/ob3.jpg" onclick="displayImg('../img/vivs/ob3.jpg')")
        img(src="../img/vivs/ob4.jpg" onclick="displayImg('../img/vivs/ob4.jpg')")
        img(src="../img/vivs/ob5.jpg" onclick="displayImg('../img/vivs/ob5.jpg')")
        img(src="../img/vivs/ob6.jpg" onclick="displayImg('../img/vivs/ob6.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") АКРИЛ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + ПВХ
            td(class=" price") от 75 руб/cм
        tr
            td(class="name") ПВХ + КОНТРАЖУР
            td(class=" price") от 75 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ + КОНТРАЖУР
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") АКРИЛ + ПВХ + КОНТРАЖУР
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") АКРИЛ + МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ОТКРЫТЫЙ НЕОН
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ОТКРЫТЫЕ СВЕТОДИОДЫ
            td(class=" price") от 15 000 руб/м2
        tr
            td(class="name") ДЕРЕВО
            td(class=" price") от 75 руб/cм
        tr(class="blue")
            td(class="name") РЕТРО
            td(class=" price") от 150 руб/cм
        tr
            td(class="name") НЕОН
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") МЕТАЛЛ
            td(class=" price") от 100 руб/cм
        tr
            td(class="name") ПВХ
            td(class=" price") от 140 руб/cм
        tr(class="blue")
            td(class="name") ПЕНОПЛАСТ
            td(class=" price") от 15 000 руб/м2
    div(class="title")
        button( class="calc" onclick="moveTo('./calc/symbs')") рассчитать
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

block kron
    div(class="title")
        h1 ПАНЕЛЬ-КРОНШТЕЙН
    div(class="photoflex")
        img(src="../img/vivs/pk1.jpg" onclick="displayImg('../img/vivs/pk1.jpg')")
        img(src="../img/vivs/pk2.jpg" onclick="displayImg('../img/vivs/pk2.jpg')")
        img(src="../img/vivs/pk3.jpg" onclick="displayImg('../img/vivs/pk3.jpg')")
        img(src="../img/vivs/pk4.jpg" onclick="displayImg('../img/vivs/pk4.jpg')")
        img(src="../img/vivs/pk5.jpg" onclick="displayImg('../img/vivs/pk5.jpg')")
        img(src="../img/vivs/pk6.jpg" onclick="displayImg('../img/vivs/pk6.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") КРУГЛАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 15 000 руб
        tr(class="blue")
            td(class="name") КРУГЛАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 20 000 руб
        tr
            td(class="name") ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 15 000 руб
        tr(class="blue")
            td(class="name") ПРЯМОУГОЛЬНАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 20 000 руб
        tr
            td(class="name") ФИГУРНАЯ ПАНЕЛЬ НЕСВЕТОВАЯ
            td(class=" price") от 25 000 руб
        tr(class="blue")
            td(class="name") ФИГУРНАЯ ПАНЕЛЬ СВЕТОВАЯ
            td(class=" price") от 30 000 руб
    div(class="title")
        button( class="calc" onclick="moveTo('./calc/kron')") рассчитать
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

block nolight
    div(class="title")
        h1 НЕСВЕТОВЫЕ ВЫВЕСКИ
    div(class="photoflex")
        img(src="../img/vivs/nsw1.jpg" onclick="displayImg('../img/vivs/nsw1.jpg')")
        img(src="../img/vivs/nsw2.jpg" onclick="displayImg('../img/vivs/nsw2.jpg')")
        img(src="../img/vivs/nsw3.jpg" onclick="displayImg('../img/vivs/nsw3.jpg')")
        img(src="../img/vivs/nsw4.jpg" onclick="displayImg('../img/vivs/nsw4.jpg')")
        img(src="../img/vivs/nsw5.jpg" onclick="displayImg('../img/vivs/nsw5.jpg')")
        img(src="../img/vivs/nsw6.jpg" onclick="displayImg('../img/vivs/nsw6.jpg')")
    table
        tr(class="blue main")
            td(class="name") тип
            td(class="price") цена
        tr
            td(class="name") КОМПОЗИТНЫЙ МАТЕРИАЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td(class=" price") от 120 руб/cм
        tr(class="blue")
            td(class="name") ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ
            td(class=" price") от 1 200 руб
        tr
            td(class="name") ОЦИНКОВАННЫЙ МЕТАЛЛ, ПЕЧАТЬ НА ПЛЕНКЕ СКАРКАСОМ
            td(class=" price") от 2 000 руб
        tr(class="blue")
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 4 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 200 руб
        tr
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 500 руб
        tr(class="blue")
            td(class="name") ПОЛИКАРБОНАТ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 700 руб
        tr
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 3 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 1 300 руб
        tr(class="blue")
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 6 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 2 000 руб
        tr
            td(class="name") ПЛАСТИК ПВХ ТОЛЩИНОЙ 8 ММ С АППЛИКАЦИЕЙ ИЗ ПЛЕНКИ
            td(class=" price") от 2 100 руб
        tr(class="blue")
            td(class="name") ОБРАМЛЕНИЕ ВЫВЕСКИ АЛЮМИНИЕВЫМ УГОЛКОМ
            td(class="price") 280 руб / пог.м.
    div(class="title")
        button( class="calc" ) рассчитать
        img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

p
    br
    br
    br

include ../footer