link(rel='stylesheet', href='/style/zone.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')


block info
    div(class="title")
        h1 ФОТОЗОНА
    div(id="smth")
        img(src="../img/zones/zone5.png" class="smthImg")
        div
            p Фотозона — это задекорированное пространство на мероприятии, где каждый желающий сможет сделать красивые фотографии. Фотозона создает атмосферу праздника. Это способ развлечь гостей и оставить на память яркие воспоминания в виде фотографий. Преимущества фотозоны на мероприятии:
            br
            ul
                li Пилоны-указатели играют роль навигаторов
                li На интерьерных, как правило, на них приводится схема размещения объектов на территории
                li Пилоны уличные широко востребованы для организации рекламных компаний.

            div
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

block flexbox

div(id="font-flex")
    div(class="elem")
        div
            strong ФОТОЗОНА НА СВАДЬБУ
        img(src="../img/zones/zone2.jpg")
        div(class="title")
            strong 25.000 руб
        div
            img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
            button(class="buy" onclick="displayOrder()" ) заказать
    div(class="elem")
        div
            strong ФОТОЗОНА НА НОВЫЙ ГОД
        img(src="../img/zones/zone1.jpg")
        div(class="title")
            strong 25.000 руб
        div
            img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
            button(class="buy"  onclick="displayOrder()") заказать
    div(class="elem")
        div
            strong ФОТОЗОНА НА ДЕНЬ
            br
            strong РОЖДЕНИЯ И ЮБИЛЕИ
        img(src="../img/zones/zone3.jpg")
        div(class="title")
            strong 25.000 руб
        div
            img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
            button(class="buy"  onclick="displayOrder()") заказать
    div(class="elem")
        div
            strong ФОТОЗОНА
            br
            strong НА КОРПОРАТИВ
        img(src="../img/zones/zone4.jpg")
        div(class="title")
            strong 25.000 руб
        div
            img(class="calc" src='/img/rasbutton.png' onclick="displaySell()")
            button(class="buy"  onclick="displayOrder()") заказать


include ../footer