block main
    p Таблички из пластика используются в самых разных сферах: при оформлении входа в офисные здания и госучреждения; при изготовлении навигации в бизнес центрах; в школе и детском садике; в поликлинике и медицинском центре. И это далеко не полный список.
    p Если металлические таблички обычно выбирают более респектабельные клиенты, то уличные и офисные таблички из пластика могут себе позволить компании на этапе старт-апа, которые еще не обладают достаточным капиталом для роскошного и изысканного оформления представительства своей компании
    p Мы располагаем собственным производством, что позволяет выполнять заказы любой сложности в сжатые сроки и устанавливать приемлемые цены.
