block table
    tr(class="main blue")
        td размер
        td ПВХ
        td орг. стекло
        td композит
    tr()
        td 20Х30 (А4)
        td 600 руб
        td 1900 руб
        td 1200 руб
    tr(class="blue")
        td 30Х40 (А3)
        td 800 руб
        td 2200 руб
        td 1400 руб
    tr
        td 40Х60 (А2)
        td 1200 руб
        td 2700 руб
        td 1600 руб
    tr(class="blue")
        td
        td
        td
        td
