block main
    h3=title
    p Существует много вариантов цветов неоновых трубок, которые располагают к созданию неповторимого и запоминающегося образа вашего заведения. Трубки можно использовать как смостоятельную букву, а можно сделать основу из металла или ПВХ и уже внуть нее установить неоновые трубки. Однако использование неона должно быть крайне осторожным и ответственным. Для его изготовления используется ртуть, а для работы вывески нужно высоковольное напряжение.
    p Неоновые трубки устанавливаются на поверхность вывески. В качестве основы могут быть использованы: композитная панель, оргстекло, ПВХ, стена здания и пр. ровные поверхности. Трубки устанавливаются непосредственно на напечатанное изображение или буквы, повторяя их контур. Трубки никак не защищены от механического воздействия извне. В выключенном состоянии их практически не видно, поэтому крайне важно не отключать такую вывеску даже в дневное время
    p У объемных букв из неона есть целый ряд важных преимуществ:
    ul
        li чистота спектра света;
        li отличная световая отдача;
        li долговечность;
        li безопасность;
        li сравнительно низкое энергопотребление.
    p Функционирование рекламной конструкции в режиме пульсации не влияет на срок работы световых источников. Буквы из неона могут быть использованы при большом диапазоне температур (как в холод, так и в жару). Разумеется, качественная неоновая реклама — это сложно и долго, однако именно благодаря данному типу наружной рекламы дизайнеры могут создавать носители рекламы самой разной конфигурации.