p тип:
div(class="selector selectable")
    div(class="elem") лайтбокс
    div(class="elem") шашечки такси
    div(class="elem") пленка
    div(class="elem") пленка на окна
    div(class="elem") наклейки
    div(class="elem") кузов
p область печати
div(class="flex-input")
    input
    input
p пленка:
div(class="selector selectable")
    div(class="elem") виниловая
    div(class="elem") ORACAL
p ламинация:
div(class="selector selectable")
    div(class="elem") нет
    div(class="elem") есть
p плоттерная резка:
div(class="selector selectable")
    div(class="elem")
        text нет
    div(class="elem")
        text есть
p тираж:
div
    input