p размер изделия (см):
div(class="flex-input")
    input
    div x
    input
p материал:
div(class="selector selectable")
    div(class="elem")
        text баннерная
        br
        text ткань 440гр
    div(class="elem") сетка
    div(class="elem")
        text транслюцентная
        br
        text ткань
p разрешение:
div(class="selector selectable")
    div(class="elem") 549dpi
    div(class="elem") 720dpi
p люверсы:
div(class="selector selectable")
    div(class="elem") нет
    div(class="elem") золото
    div(class="elem") серебро
    div(class="elem") белые
p тираж:
div
    input