p размер изделия (см):
div(class="flex-input")
    input(type="number" id="sizeX" oninput="setInput('sizeX')")
    div x
    input(type="number" id="sizeY" oninput="setInput('sizeY')")
p материал:
div(class="selector selectable")
    div(class="elem" onclick="request.type='banner tkan';addClass(this)" )
        text баннерная
        br
        text ткань 440гр
    div(class="elem" onclick="request.material='setka';addClass(this)" ) сетка
    div(class="elem" onclick="request.material='trans tkan';addClass(this)" )
        text транслюцентная
        br
        text ткань
p разрешение:
div(class="selector selectable")
    div(class="elem" onclick="request.resol='549dpi';addClass(this)" ) 549dpi
    div(class="elem" onclick="request.resol='720dpi';addClass(this)" ) 720dpi
p люверсы:
div(class="selector selectable")
    div(class="elem" onclick="request.luversi='no';addClass(this)" ) нет
    div(class="elem" onclick="request.luversi='gold';addClass(this)" ) золото
    div(class="elem" onclick="request.luversi='silver';addClass(this)" ) серебро
    div(class="elem" onclick="request.luversi='white';addClass(this)" ) белые
p тираж:
div
    input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 400px;
            margin-bottom: -240px;
        }
        #footer {
            bottom: -400px;
        }
    }