p размер изделия (м):
div(class="flex-input")
    input(type="number" id="sizeX" oninput="setInput('sizeX')")
    div x
    input(type="number" id="sizeY" oninput="setInput('sizeY')")
p материал:
div(class="selector selectable")
    div(class="elem" onclick="request.type='banner tkan';addClass(this)" )
        text баннерная
        br
        text ткань 440гр
    div(class="elem" onclick="request.type='setka';addClass(this)" ) сетка
    div(class="elem" onclick="request.type='trans tkan';addClass(this)" )
        text транслюцентная
        br
        text ткань
p разрешение:
div(class="selector selectable")
    div(class="elem" onclick="request.resol='549dpi';addClass(this)" ) 549dpi
    div(class="elem" onclick="request.resol='720dpi';addClass(this)" ) 720dpi
p проклейка по периметру:
div(class="selector selectable")
    div(class="elem" onclick="request.luversi='шаг люверса';addClass(this)" ) проклейка

p шаг люверса:
div(class="selector selectable")
    div(class="elem" onclick="request.luversi='шаг люверса';addClass(this)" ) шаг люверса(30см)
p тираж:
div
    input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 400px;
            margin-bottom: -240px;
        }
        #footer {
            bottom: -400px;
        }
    }