p тип изделия
    div(class="selector selectable")
        div(class="elem" onclick="request.type='световой';addClass(this)") световой
        div(class="elem" onclick="request.type='несветовой';addClass(this)") несветовой
    p форма панели:
    div(class="selector selectable")
        div(class="elem" onclick="request.form='прямоугольная';addClass(this)") прямоугольная
        div(class="elem" onclick="request.form='круглая';addClass(this)") круглая
        div(class="elem" onclick="request.form='сложная форма';addClass(this)") сложная форма
        div(class="elem" onclick="request.form='объемная';addClass(this)") объемная
    p материал:
    div(class="selector selectable")
        div(class="elem" onclick="request.material='светодиоды';addClass(this)") светодиоды
        div(class="elem" onclick="request.material='акрил';addClass(this)") акрил
        div(class="elem" onclick="request.material='поликарбонат';addClass(this)") поликарбонат
        div(class="elem" onclick="request.material='инкрустация';addClass(this)") инкрустация
        div(class="elem" onclick="request.material='neon';addClass(this)") открытый неон
    p размеры:
        div(class="selector selectable")
            div(class="elem" onclick="request.size='0.25 – 0.5м';addClass(this)") 0.25 – 0.5м
            div(class="elem" onclick="request.size='0.5 – 1м';addClass(this)") 0.5 – 1м
            div(class="elem" onclick="request.size='1 – 3м';addClass(this)") 1 – 3м
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 400px;
            margin-bottom: -200px;
        }
        #footer {
            bottom: -400px;
        }
    }