p тип изделия
    div(class="selector selectable")
        div(class="elem") световой
        div(class="elem") несветовой
    p форма панели:
    div(class="selector selectable")
        div(class="elem") прямоугольная
        div(class="elem") круглая
        div(class="elem") сложная форма
        div(class="elem") объемная
    p материал:
    div(class="selector selectable")
        div(class="elem") светодиоды
        div(class="elem") акрил
        div(class="elem") поликарбонат
        div(class="elem") инкрустация
        div(class="elem") открытый неон
    p размеры:
        div(class="selector selectable")
            div(class="elem") 025 – 0.5м
            div(class="elem") 0.5 – 1м
            div(class="elem") 1 – 3м
