p тип изделия
    div(class="selector selectable")
        div(class="elem") фреймлайт
        div(class="elem") кристаллайт
        div(class="elem") магнетик
    p особенности:
    div(class="selector selectable")
        div(class="elem") подвесной
        div(class="elem") настенный
        div(class="elem") двухсторонний
    p размеры:
    div(class="selector selectable")
        div(class="elem") А4+
        div(class="elem") А3+
        div(class="elem") А2+
        div(class="elem") А1+
        div(class="elem") А0+
        div(class="elem") АА
        div(class="elem") 2АА
        div(class="elem") свой
    p тираж:
        div
            input(type="number")