p тип изделия
    div(class="selector selectable")
        div(class="elem" onclick="request.type='фреймлайт'") фреймлайт
        div(class="elem" onclick="request.type='кристаллайт'") кристаллайт
        div(class="elem" onclick="request.type='магнетик'") магнетик
    p особенности:
    div(class="selector selectable")
        div(class="elem" onclick="request.osob='подвесной'") подвесной
        div(class="elem" onclick="request.osob='настенный'") настенный
        div(class="elem" onclick="request.osob='двухсторонний'") двухсторонний
    p размеры:
    div(class="selector selectable")
        div(class="elem" onclick="request.size='А4+'") А4+
        div(class="elem" onclick="request.size='А3+'") А3+
        div(class="elem" onclick="request.size='А2+'") А2+
        div(class="elem" onclick="request.size='А1+'") А1+
        div(class="elem" onclick="request.size='А0+'") А0+
        div(class="elem" onclick="request.size='АА'") АА
        div(class="elem" onclick="request.size='2АА'") 2АА
        div(class="elem" onclick="request.size='свой'") свой
    p тираж:
        div
            input(type="number" oninput="setInput('tirazh')")