p тип изделия
    div(class="selector selectable")
        div(class="elem" onclick="request.type='фреймлайт с клип-профилем';addClass(this)") фреймлайт с клип-профилем
        div(class="elem" onclick="request.type='фреймлайт';addClass(this)") фреймлайт
        div(class="elem" onclick="request.type='кристаллайт';addClass(this)") кристаллайт
        div(class="elem" onclick="request.type='магнетик';addClass(this)") магнетик
    p особенности:
    div(class="selector selectable")
        div(class="elem" onclick="request.osob='подвесной';addClass(this)") подвесной
        div(class="elem" onclick="request.osob='настенный';addClass(this)") настенный
        div(class="elem" onclick="request.osob='двухсторонний';addClass(this)") двухсторонний
    p размеры:
    div(class="selector selectable")
        div(class="elem" onclick="request.size='А4';addClass(this)") А4
        div(class="elem" onclick="request.size='А3';addClass(this)") А3
        div(class="elem" onclick="request.size='А2';addClass(this)") А2
        div(class="elem" onclick="request.size='А1';addClass(this)") А1
        div(class="elem" onclick="request.size='А0';addClass(this)") А0
        div(class="elem" onclick="request.size='свой';addClass(this)") свой
    p тираж:
        div
            input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 300px;
            margin-bottom: -270px;
        }
        #footer {
            bottom: -400px;
        }
    }