p тип изделия:
div(class="selector selectable")
    div(class="elem" onclick="request.type='roll-up';addClass(this)") roll-up
    div(class="elem" onclick="request.type='x-banner';addClass(this)") x-banner
    div(class="elem" onclick="request.type='l-banner';addClass(this)") l-banner
p размер изделия (см):
div(class="flex-input")
    input(type="number" id="sizeX" oninput="setInput('sizeX')")
    div x
    input(type="number" id="sizeY" oninput="setInput('sizeY')")
p материал:
div(class="selector selectable")
    div(class="elem" onclick="request.material='баннерная ткань';addClass(this)" style="min-width:115px")
        text баннерная
        br
        text ткань
    div(class="elem" onclick="request.material='полипропилен';addClass(this)")
        text полипропилен
p печать:
div(class="selector selectable")
    div(class="elem" onclick="request.print='без печати';addClass(this)" style="min-width:100px") без печати
    div(class="elem" onclick="request.print='549dpi';addClass(this)") 549dpi
    div(class="elem" onclick="request.print='720dpi';addClass(this)") 720dpi
p тираж:
div
    input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 400px;
            margin-bottom: -150px;
        }
        #footer {
            bottom: -400px;
        }
    }