p размер изделия:
div(class="selector selectable")
    div(class="elem") roll-up
    div(class="elem") x-banner
    div(class="elem") l-banner
p размер изделия (см):
div(class="flex-input")
    input
    div x
    input
p материал:
div(class="selector selectable")
    div(class="elem")
        text баннерная
        br
        text ткань
    div(class="elem")
        text полипропилен
p печать:
div(class="selector selectable")
    div(class="elem") без печати
    div(class="elem") 549dpi
    div(class="elem") 720dpi
p тираж:
div
    input