p размер:
div(class="selector selectable")
    div(class="elem" onclick="request.size='А3'") А3
    div(class="elem" onclick="request.size='А2'") А2
    div(class="elem" onclick="request.size='А1'") А1
    div(class="elem" onclick="request.size='А0'") А0
    div(class="elem" onclick="request.size='B2'") B2
    div(class="elem" onclick="request.size='B3'") B3
p печать:
div(class="selector selectable")
    div(class="elem" onclick="request.print='одноцветная'") одноцветная
    div(class="elem" onclick="request.print='полноцветная'") полноцветная
p печать:
div(class="selector selectable")
    div(class="elem" onclick="request.sides='1 сторона'") 1 сторона
    div(class="elem" onclick="request.sides='2 стороны'") 2 стороны
p плотность бумаги в граммах:
div(class="selector selectable")
    div(class="elem" onclick="request.plotB='90'") 90
    div(class="elem" onclick="request.plotB='115'") 115
    div(class="elem" onclick="request.plotB='130'") 130
    div(class="elem" onclick="request.plotB='150'") 150
    div(class="elem" onclick="request.plotB='170'") 170
    div(class="elem" onclick="request.plotB='180'") 180
    div(class="elem" onclick="request.plotB='200'") 200
    div(class="elem" onclick="request.plotB='250'") 250
    div(class="elem" onclick="request.plotB='300'") 300
    div(class="elem" onclick="request.plotB='350'") 350
p тип бумаги:
div(class="selector selectable")
    div(class="elem" onclick="request.typeB='матовая'")
        text матовая
    div(class="elem" onclick="request.typeB='глянцевая'")
        text глянцевая
p ламинация:
div(class="selector selectable")
    div(class="elem"  onclick="request.lam='матовая'") матовая
    div(class="elem"  onclick="request.lam='глянцевая'") глянцевая
    div(class="elem"  onclick="request.lam='нет'") нет
p тираж:
div
    input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 450px;
            margin-bottom: -150px;
        }
        #footer {
            bottom: -400px;
        }
    }