p размер:
div(class="selector selectable")
    div(class="elem" onclick="request.size='А3';addClass(this)") А3
    div(class="elem" onclick="request.size='А2';addClass(this)") А2
    div(class="elem" onclick="request.size='А1';addClass(this)") А1
    div(class="elem" onclick="request.size='А0';addClass(this)") А0
    div(class="elem" onclick="request.size='B2';addClass(this)") B2
    div(class="elem" onclick="request.size='B3';addClass(this)") B3
p печать:
div(class="selector selectable")
    div(class="elem" onclick="request.print='одноцветная';addClass(this)") одноцветная
    div(class="elem" onclick="request.print='полноцветная';addClass(this)") полноцветная
p печать:
div(class="selector selectable")
    div(class="elem" onclick="request.sides='1 сторона';addClass(this)") 1 сторона
    div(class="elem" onclick="request.sides='2 стороны';addClass(this)") 2 стороны
p плотность бумаги в граммах:
div(class="selector selectable")
    div(class="elem" onclick="request.plotB='90';addClass(this)") 90
    div(class="elem" onclick="request.plotB='115';addClass(this)") 115
    div(class="elem" onclick="request.plotB='130';addClass(this)") 130
    div(class="elem" onclick="request.plotB='150';addClass(this)") 150
    div(class="elem" onclick="request.plotB='170';addClass(this)") 170
    div(class="elem" onclick="request.plotB='180';addClass(this)") 180
    div(class="elem" onclick="request.plotB='200';addClass(this)") 200
    div(class="elem" onclick="request.plotB='250';addClass(this)") 250
    div(class="elem" onclick="request.plotB='300';addClass(this)") 300
    div(class="elem" onclick="request.plotB='350';addClass(this)") 350
p тип бумаги:
div(class="selector selectable")
    div(class="elem" onclick="request.typeB='матовая';addClass(this)")
        text матовая
    div(class="elem" onclick="request.typeB='глянцевая';addClass(this)")
        text глянцевая
p ламинация:
div(class="selector selectable")
    div(class="elem"  onclick="request.lam='матовая';addClass(this)") матовая
    div(class="elem"  onclick="request.lam='глянцевая';addClass(this)") глянцевая
    div(class="elem"  onclick="request.lam='нет';addClass(this)") нет
p тираж:
div
    input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 400px;
            margin-bottom: -180px;
        }
        #footer {
            bottom: -400px;
        }
    }