p размер:
div(class="selector selectable")
    div(class="elem") А3
    div(class="elem") А2
    div(class="elem") А1
    div(class="elem") А0
    div(class="elem") B2
    div(class="elem") B3
p печать:
div(class="selector selectable")
    div(class="elem") одноцветная
    div(class="elem") полноцветная
p печать:
div(class="selector selectable")
    div(class="elem") 1 сторона
    div(class="elem") 2 стороны
p плотность бумаги в граммах:
div(class="selector selectable")
    div(class="elem") 90
    div(class="elem") 115
    div(class="elem") 130
    div(class="elem") 150
    div(class="elem") 170
    div(class="elem") 180
    div(class="elem") 200
    div(class="elem") 250
    div(class="elem") 300
    div(class="elem") 350
p тип бумаги:
div(class="selector selectable")
    div(class="elem")
        text матовая
    div(class="elem")
        text глянцевая
p ламинация:
div(class="selector selectable")
    div(class="elem") матовая
    div(class="elem") глянцевая
    div(class="elem") нет
p тираж:
div
    input