p форма изделия:
    div(class="slider selectable")
        div(class="elem" onclick="request.formI='Прямоугольный';addClass(this)")
            p
                text Прямоугольный
                br
                text (660х1200)
        div(class="elem" onclick="request.formI='арочный';addClass(this)")
            p
                text арочный
                br
                text (660х1300)
        div(class="elem" onclick="request.formI='большой';addClass(this)")
            p
                text большой
                br
                text (810х1900)
    p
        br
        br
    p материал:
    div(class="selector selectable")
        div(class="elem" onclick="request.material='металл';addClass(this)") металл
        div(class="elem" onclick="request.material='пластик';addClass(this)") пластик
        div(class="elem" onclick="request.material='доска под мел';addClass(this)") доска под мел
        div(class="elem" onclick="request.material='дерево';addClass(this)") дерево
    p печать:
    div(class="selector selectable")
        div(class="elem" onclick="request.print='1 сторона';addClass(this)") 1 сторона
        div(class="elem" onclick="request.print='2 стороны';addClass(this)") 2 стороны
    p цепочка:
    div(class="selector selectable")
        div(class="elem" onclick="request.cell='no';addClass(this)")
            text нет
        div(class="elem" onclick="request.cell='1м с замком';addClass(this)")
            text 1м с замком
    p тираж:
        div
            input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 500px;
            margin-bottom: -200px;
        }
        #footer {
            bottom: -500px;
        }
    }