p форма изделия:
    div(class="slider selectable")
        div(class="elem")
        div(class="elem")
        div(class="elem")
        div(class="elem")
    p материал:
    div(class="selector selectable")
        div(class="elem") металл
        div(class="elem") пластик
        div(class="elem") доска под мел
        div(class="elem") дерево
    p печать:
    div(class="selector selectable")
        div(class="elem") 1 сторона
        div(class="elem") 2 стороны
    p размер изделия (см):
    div(class="flex-input")
       input(type="number")
       div x
       input(type="number")
    p цепочка:
    div(class="selector selectable")
        div(class="elem")
            text нет
        div(class="elem")
            text 1м с замком
    p тираж:
        div
            input(type="number")