p форма изделия:
    div(class="slider selectable")
        div(class="elem" onclick="request.formI='1'")
        div(class="elem" onclick="request.formI='2'")
        div(class="elem" onclick="request.formI='3'")
        div(class="elem" onclick="request.formI='4'")
    p материал:
    div(class="selector selectable")
        div(class="elem" onclick="request.material='металл'") металл
        div(class="elem" onclick="request.material='пластик'") пластик
        div(class="elem" onclick="request.material='доска под мел'") доска под мел
        div(class="elem" onclick="request.material='дерево'") дерево
    p печать:
    div(class="selector selectable")
        div(class="elem" onclick="request.print='1 сторона'") 1 сторона
        div(class="elem" onclick="request.print='2 стороны'") 2 стороны
    p размер изделия (см):
    div(class="flex-input")
       input(type="number" id="sizeX" oninput="setInput('sizeX')")
       div x
       input(type="number" id="sizeY" oninput="setInput('sizeY')")
    p цепочка:
    div(class="selector selectable")
        div(class="elem" onclick="request.cell='no'")
            text нет
        div(class="elem" onclick="request.cell='1м с замком'")
            text 1м с замком
    p тираж:
        div
            input(type="number" id="tirazh" oninput="setInput('tirazh')")