p тип изделия:
    div(class="slider selectable")
        div(class="elem")
        div(class="elem")
        div(class="elem")
        div(class="elem")
        div(class="elem")
        div(class="elem")
    p размеры:
    div
        input(type="number")
    p изображение:
    div(class="selector selectable")
        div(class="elem") 360dpi
        div(class="elem") 720dpi
        div(class="elem") пленка
    p пробковая панель (если есть):
    div
        input
    p магнитная панель (если есть):
    div
        input
    p количество карманов:
    div(class="selector")
        div(class="elem")
            text А3
        div(class="elem")
            text А4
        div(class="elem")
            text А5
        div(class="elem")
            text перекидные
        div(class="elem")
            text другие
    div(class="selector")
        div(class="elem")
            text шт
        div(class="elem")
            text шт
        div(class="elem")
            text шт
        div(class="elem")
            text шт
        div(class="elem")
            text шт