p форма изделия:
    div(class="slider selectable")
        div(class="elem" id="a1" onclick="request.formI='другие'")
            p акрил
        div(class="elem" id="a2" onclick="request.formI='другие'")
            p акрил+ПВХ + контражур
        div(class="elem" id="a3" onclick="request.formI='другие'")
            p акрил+ контражур
        div(class="elem" id="a4" onclick="request.formI='другие'")
            p акрил + металл
        div(class="elem" id="a5" onclick="request.formI='другие'")
            p металл + контражур
        div(class="elem" id="a6" onclick="request.formI='другие'")
            p акрил+ПВХ
        div(class="elem" id="a7" onclick="request.formI='другие'")
            p дерево
p материал:
    div(class="slider selectable")
        div(class="elem" onclick="request.material='неон'")
            p неон
        div(class="elem" onclick="request.material='открытые светодиоды'")
            p открытые светодиоды
        div(class="elem" onclick="request.material='ретро'")
            p ретро
        div(class="elem" onclick="request.material='открытый неон'")
            p открытый неон
        div(class="elem" onclick="request.material='металл'")
            p металл
        div(class="elem" onclick="request.material='пенопласт'")
            p пенопласт
        div(class="elem" onclick="request.material='ПВХ'")
            p ПВХ
    p
    p текст вывески:
    div(class="flex-input")
        input(id="text" oninput="setInput('text')")
    p шрифт вывески:
    div(class="selectable selector")
        div(class="elem" onclick="request.font='прямой'") прямой
        div(class="elem" onclick="request.font='c засечками'") c засечками
        div(class="elem" onclick="request.font='курсив'") курсив
    p лицевой цвет:
    div(class="selectable color")
        div(class="elem none"     onclick="request.color='1'")
        div(class="elem yellow"   onclick="request.color='2'")
        div(class="elem orange"   onclick="request.color='3'")
        div(class="elem red"      onclick="request.color='4'")
        div(class="elem pink"     onclick="request.color='5'")
        div(class="elem purple"   onclick="request.color='6'")
        div(class="elem blue"     onclick="request.color='7'")
        div(class="elem siz"      onclick="request.color='8'")
        div(class="elem green"    onclick="request.color='9'")
        div(class="elem bolot"    onclick="request.color='10'")
        div(class="elem darkg"    onclick="request.color='11'")
        div(class="elem brown"    onclick="request.color='12'")
        div(class="elem ascalc"   onclick="request.color='13'")
        div(class="elem gradient" onclick="request.color='14'")
        div(class="elem darkgr"   onclick="request.color='15'")
        div(class="elem gray"     onclick="request.color='16'")
        div(class="elem lightgr"  onclick="request.color='17'")
        div(class="elem smth1"    onclick="request.color='18'")
        div(class="elem smth2"    onclick="request.color='19'")
        div(class="elem smth3"    onclick="request.color='20'")
        div(class="elem smth4"    onclick="request.color='21'")
        div(class="elem smth5"    onclick="request.color='22'")
        div(class="elem smth6"    onclick="request.color='23'")
        div(class="elem smth7"    onclick="request.color='24'")
        div(class="elem smth8"    onclick="request.color='25'")
        div(class="elem smth9"    onclick="request.color='26'")
    p торевой цвет:
    div(class="selectable color")
        div(class="elem none" onclick="request.troev='1'")
        div(class="elem yellow" onclick="request.troev='2'")
        div(class="elem orange" onclick="request.troev='3'")
        div(class="elem red" onclick="request.troev='4'")
        div(class="elem pink" onclick="request.troev='5'")
        div(class="elem purple" onclick="request.troev='6'")
        div(class="elem blue" onclick="request.troev='7'")
        div(class="elem siz" onclick="request.troev='8'")
        div(class="elem green" onclick="request.troev='9'")
        div(class="elem bolot" onclick="request.troev='10'")
        div(class="elem darkg" onclick="request.troev='11'")
        div(class="elem brown" onclick="request.troev='12'")
        div(class="elem ascalc" onclick="request.troev='13'")
        div(class="elem gradient" onclick="request.troev='14'")
        div(class="elem darkgr" onclick="request.troev='15'")
        div(class="elem gray" onclick="request.troev='16'")
        div(class="elem lightgr" onclick="request.troev='17'")
        div(class="elem smth1" onclick="request.troev='18'")
        div(class="elem smth2" onclick="request.troev='19'")
        div(class="elem smth3" onclick="request.troev='20'")
        div(class="elem smth4" onclick="request.troev='21'")
        div(class="elem smth5" onclick="request.troev='22'")
        div(class="elem smth6" onclick="request.troev='23'")
        div(class="elem smth7" onclick="request.troev='24'")
        div(class="elem smth8" onclick="request.troev='25'")
        div(class="elem smth9" onclick="request.troev='26'")
    p цвет контражура:
    div(class="selectable color" )
        div(class="elem none" onclick="request.contur='1'")
        div(class="elem yellow" onclick="request.contur='2'")
        div(class="elem orange" onclick="request.contur='3'")
        div(class="elem red" onclick="request.contur='4'")
        div(class="elem pink" onclick="request.contur='5'")
        div(class="elem purple" onclick="request.contur='6'")
        div(class="elem blue" onclick="request.contur='7'")
        div(class="elem siz" onclick="request.contur='8'")
        div(class="elem green" onclick="request.contur='9'")
        div(class="elem bolot" onclick="request.contur='10'")
        div(class="elem darkg" onclick="request.contur='11'")
        div(class="elem brown" onclick="request.contur='12'")
        div(class="elem ascalc" onclick="request.contur='13'")
        div(class="elem gradient" onclick="request.contur='14'")
        div(class="elem darkgr" onclick="request.contur='15'")
        div(class="elem gray" onclick="request.contur='16'")
        div(class="elem lightgr" onclick="request.contur='17'")
        div(class="elem smth1" onclick="request.contur='18'")
        div(class="elem smth2" onclick="request.contur='19'")
        div(class="elem smth3" onclick="request.contur='20'")
        div(class="elem smth4" onclick="request.contur='21'")
        div(class="elem smth5" onclick="request.contur='22'")
        div(class="elem smth6" onclick="request.contur='23'")
        div(class="elem smth7" onclick="request.contur='24'")
        div(class="elem smth8" onclick="request.contur='25'")
        div(class="elem smth9" onclick="request.contur='26'")
    p высота букв:
    div(class="selector selectable")
        div(class="elem" onclick="request.height='до 15см'") до 15см
        div(class="elem" onclick="request.height='до 25см'") до 25см
        div(class="elem" onclick="request.height='до 40 см'") до 40 см
        div(class="elem" onclick="request.height='до 55см'") до 55см
        div(class="elem" onclick="request.height='до 60 см'") до 60 см
        div(class="elem" onclick="request.height='до 70 см'") до 70 см
        div(class="elem" onclick="request.height='до 80 см'") до 80 см
        div(class="elem" onclick="request.height='больше 1м'") больше 1м
    p дополнительные опции:
    div(class="selector selectable")
        div(class="elem" onclick="request.also='прямой'") прямой
        div(class="elem" onclick="request.also='c засечками'") c засечками
        div(class="elem" onclick="request.also='курсив'") курсив
    div(id="output")