p форма изделия:
    div(class="slider selectable")
        div(class="elem" id="a1")
            p акрил
        div(class="elem" id="a2")
            p акрил+ПВХ + контражур
        div(class="elem" id="a3")
            p акрил+ контражур
        div(class="elem" id="a4")
            p акрил + металл
        div(class="elem" id="a5")
            p металл + контражур
        div(class="elem" id="a6")
            p акрил+ПВХ
        div(class="elem" id="a7")
            p дерево
    div(class="slider selectable")
        div(class="elem")
            p неон
        div(class="elem")
            p открытые светодиоды
        div(class="elem")
            p ретро
        div(class="elem")
            p открытый неон
        div(class="elem")
            p металл
        div(class="elem")
            p пенопласт
        div(class="elem")
            p ПВХ
    p
    p текст вывески:
    div(class="flex-input")
        input
    p шрифт вывески:
    div(class="selectable selector")
        div(class="elem") прямой
        div(class="elem") c засечками
        div(class="elem") курсив
    p лицевой цвет:
    div(class="selectable color")
        div(class="elem none")
        div(class="elem yellow")
        div(class="elem orange")
        div(class="elem red")
        div(class="elem pink")
        div(class="elem purple")
        div(class="elem blue")
        div(class="elem siz")
        div(class="elem green")
        div(class="elem bolot")
        div(class="elem darkg")
        div(class="elem brown")
        div(class="elem ascalc")
        div(class="elem gradient")
        div(class="elem darkgr")
        div(class="elem gray")
        div(class="elem lightgr")
        div(class="elem smth1")
        div(class="elem smth2")
        div(class="elem smth3")
        div(class="elem smth4")
        div(class="elem smth5")
        div(class="elem smth6")
        div(class="elem smth7")
        div(class="elem smth8")
        div(class="elem smth9")
    p торевой цвет:
    div(class="selectable color")
        div(class="elem none")
        div(class="elem yellow")
        div(class="elem orange")
        div(class="elem red")
        div(class="elem pink")
        div(class="elem purple")
        div(class="elem blue")
        div(class="elem siz")
        div(class="elem green")
        div(class="elem bolot")
        div(class="elem darkg")
        div(class="elem brown")
        div(class="elem ascalc")
        div(class="elem gradient")
        div(class="elem darkgr")
        div(class="elem gray")
        div(class="elem lightgr")
        div(class="elem smth1")
        div(class="elem smth2")
        div(class="elem smth3")
        div(class="elem smth4")
        div(class="elem smth5")
        div(class="elem smth6")
        div(class="elem smth7")
    p цвет контражура:
    div(class="selectable color")
        div(class="elem none")
        div(class="elem yellow")
        div(class="elem orange")
        div(class="elem red")
        div(class="elem pink")
        div(class="elem purple")
        div(class="elem blue")
        div(class="elem siz")
        div(class="elem green")
        div(class="elem bolot")
        div(class="elem darkg")
        div(class="elem brown")
        div(class="elem ascalc")
        div(class="elem gradient")
        div(class="elem darkgr")
        div(class="elem gray")
        div(class="elem lightgr")
        div(class="elem smth1")
        div(class="elem smth2")
        div(class="elem smth3")
        div(class="elem smth4")
        div(class="elem smth5")
        div(class="elem smth6")
        div(class="elem smth7")
        div(class="elem smth8")
        div(class="elem smth9")
    p высота букв:
    div(class="selector selectable")
        div(class="elem") до 15см
        div(class="elem") до 25см
        div(class="elem") до 40 см
        div(class="elem") до 55см
        div(class="elem") до 60 см
        div(class="elem") до 70 см
        div(class="elem") до 80 см
        div(class="elem") больше 1м
    p дополнительные опции:
    div(class="selector selectable")
        div(class="elem") прямой
        div(class="elem") c засечками
        div(class="elem") курсив
    div(id="output")