p тип изделия:
    div(class="slider selectable")
        div(class="elem" id="t1" onclick="request.type='круглый'")
        div(class="elem" id="t2" onclick="request.type='квадратный'")
        div(class="elem" id="t3" onclick="request.type='прямоугольный'")
        div(class="elem" id="t4" onclick="request.type='облачком'")
    p материал:
    div(class="selector selectable")
        div(class="elem" onclick="request.material=' rainbow'") rainbow
        div(class="elem" onclick="request.material=' металл'") металл
        div(class="elem" onclick="request.material=' пластик'") пластик
        div(class="elem" onclick="request.material=' орг. стекло'" style="min-width: 90px") орг. стекло
        div(class="elem" onclick="request.material=' дерево'") дерево
        div(class="elem" onclick="request.material=' дибонд'") дибонд
    p изображение:
    div(class="selector selectable")
        div(class="elem" onclick="request.img='печать'") печать
        div(class="elem" onclick="request.img='пленка'") пленка
        div(class="elem" onclick="request.img='гравировка'") гравировка
    p крепление:
    div(class="selector selectable")
        div(class="elem" onclick="request.krep='самоклейка'") самоклейка
        div(class="elem" onclick="request.krep='саморезы'") саморезы
        div(class="elem" onclick="request.krep=' кронштейн'") кронштейн
        div(class="elem" onclick="request.krep='дистанционно'") дистанционно
        div(class="elem" onclick="request.krep='настольная'") настольная
        div(class="elem" onclick="request.krep='ручная'") ручная
        div(class="elem" onclick="request.krep='напольная'") напольная
    p толщина:
    div(class="selector selectable")
        div(class="elem" onclick="request.tirazh='2 мм'")
            text 2 мм
        div(class="elem" onclick="request.tirazh='2 мм'")
            text 3 мм
        div(class="elem" onclick="request.tirazh='2 мм'")
            text 4 мм
        div(class="elem" onclick="request.tirazh='2 мм'")
            text 5 мм
        div(class="elem" onclick="request.tirazh='2 мм'")
            text другое
    p размеры (мм):
        div(class="flex-input")
            input(type="number" id="sizeX" oninput="setInput('sizeX')")
            div x
            input(type="number" id="sizeY" oninput="setInput('sizeY')")
    p тираж:
        div
            input(type="number" id="tirazh" oninput="setInput('tirazh')")
style(type='text/css').
    @media (min-width: 1700px) {
        .calc-flex {
            margin-top: 500px;
            margin-bottom: -300px;
        }
        #footer {
            bottom: -700px;
        }
    }