p тип изделия:
    div(class="slider selectable")
        div(class="elem")
        div(class="elem")
        div(class="elem")
        div(class="elem")
    p материал:
    div(class="selector selectable")
        div(class="elem") rainbow
        div(class="elem") металл
        div(class="elem") пластик
        div(class="elem") орг. стекло
        div(class="elem") дерево
        div(class="elem") дибонд
    p изображение:
    div(class="selector selectable")
        div(class="elem") печать
        div(class="elem") пленка
        div(class="elem") гравировка
    p крепление:
    div(class="selector selectable")
        div(class="elem") самоклейка
        div(class="elem") саморезы
        div(class="elem") кронштейн
        div(class="elem") дистанционно
        div(class="elem") настольная
        div(class="elem") ручная
        div(class="elem") напольная

    p толщина:
    div(class="selector selectable")
        div(class="elem")
            text 2 мм
        div(class="elem")
            text 3 мм
        div(class="elem")
            text 4 мм
        div(class="elem")
            text 5 мм
        div(class="elem")
            text другое
    p размеры (мм):
        div(class="flex-input")
            input(type="number")
            div x
            input(type="number")
    p тираж:
        div
            input(type="number")