block main
    h3=title
    p Наиболее популярный вид объемных букв, поскольку сочетает в себе максимально опрятный вид и соотношение цена/качество.
    p Лицевая часть фрезеруется из Акрила и склеивается с боковой частью из ПВХ. Внутрь объемной буквы устанавливаются светодиоды для подсветки. Светорассеивающий Акрил может быть цветным, либо белого цвета с оклейкой цветной светорассеивающей пленкой Oracal 8500. Не смотря на то, что корпус буквы склеен, её можно разбирать и обслуживать
    p Лицевая часть фрезеруется из ПВХ и склеивается с боковой частью из такого же ПВХ, который нагревается для того, чтобы его можно было согнуть по форме буквы. Внутрь объемной буквы устанавливаются светодиоды для подсветки. У буквы нет задней части — светодиоды располагаются на обратной стороне лицевой стороны. Обслуживать не удобно, зато существенно дешевле в изготовлении.
    p Преимущества букв с контражуром:
    ul
        li Заметность в любое время суток - будет выделяется даже днем!
        li Широкая возможность дизайна;
        li За счет применения программного оборудования появилась возможность изготовления сложных прописных текстов, прочих элементов вывески;
        li Долгий срок эксплуатации
        li Экономичное энергопотребление. В среднем энергопотребление сравнимо с мощность одной 60 Вт лампочки накаливания.
        p Часто в погоне за прибылью производитель идет на хитрость и применяет в изготовлении вывески более дешевые материалы. Таким образом при размещении конструкции на солнце через полгода потребует замену или ремонт! Работая с нами вы гарантированно получите высокое качество!
