block main
    p Металлические таблички используются как внутри помещений, так и на фасадах зданий. В отличие от бюджетного пластика, таблички из нержавеющей стали более надежны, не боятся солнечных лучей и воздействия влаги. Кроме того, металлическая табличка выглядит дорого и очень красиво.
    p Гравировка оргстекла считается одной из самых безопасных и качественных технологий переноса картинки на поверхность. Изображение формируется путем сквозного "выжигания" верхнего слоя стекла, который в последствии заливается краской нужного вам цвета. Эти элементы буду очень сильно выделяться и привлекать внимание проходящих людей. Ее срок службы 5-10 лет.
