style.
    table tbody tr td {
        width: 5%;
        text-align: center;
    }
block table
    tr(class="main blue")
        td размер
        td ПВХ
        td орг. стекло
        td металл
    tr()
        td 20Х30 (А4)
        td 2500 руб
        td 1250 руб
        td 6500 руб
    tr(class="blue")
        td 30Х40 (А3)
        td 4500 руб
        td 2450 руб
        td 12000 руб
    tr
        td 40Х60 (А2)
        td 5500 руб
        td 4700 руб
        td 15000 руб
    tr(class="blue")
        td
        td
        td
        td
